<template>
    <!-- Site Header -->
  <div class="relative w-full h-auto overflow-auto bg-white"> 
    <TheHomeSiteHeader />

    <div class="col-md-12 col-12  mt-8 mb-2">
      <div class="w-full mx-auto  xl:mx-auto xl:max-w-7xl">
        <div class="container master-tag">
    <div id="w-node-_412574db-0221-58f3-f7ef-37cfdc222117-e5ae7e41" class="column">
        <h1 class="margin-5">About Us</h1>
        <h2 class="h4-style qapin-neue margin-30">The world’s work marketplace</h2>
        <div class="president-wrap"><img
                src="https://assets-global.website-files.com/603fea6471d9d8559d077603/606ca5700ab70661826d68e7_Rectangle%2040%20(1).png"
                loading="lazy" alt="Qapin CEO Image
    " class="president-image">
            <div class="president-column"> 
                <h3 class="qapin-rza no-margin"><strong>Damodar&nbsp;Valapala</strong></h3>
                <div class="black-text"><strong>President &amp; CEO</strong></div>
            </div>
        </div>
        <div class="column margin-55">
            <p class="margin-15">Qapin began over two decades ago by pioneering a better way of working, helping
                businesses find more flexibility and connecting talent with more opportunities.</p>
            <h4 class="h5-style qapin-rza margin-15">Our mission to create economic opportunities so people have better
                lives has taken us so much further. As a result, we’ve become the world’s work marketplace where every
                day businesses of all sizes and independent talent from around the globe meet here to accomplish
                incredible things.</h4>
            <p class="margin-15">Like for so many, Qapin has had a big impact on my life. I first came to this company
                on the product team and over the years have understood what makes this platform really work: the
                relationships. </p>
            <p class="black-text margin-15"><strong>We see what you do</strong></p>
            <p class="margin-15">I have personally seen the passion and commitment that every user puts into their work
                here. Whether it’s a quick powerpoint presentation or a multi-year development project - both talent on
                Qapin and our clients care about doing really good work because they love what they do. </p>
            <p class="margin-15">In fact, we designed it that way. Our work marketplace aligns the goals of our clients
                with the goals of talent on Qapin so that outcomes are better and everyone grows in the same direction.
                You’ll find tools to develop your skills, evolve your business, and gain the control and freedom you
                need for success. </p>
            <p class="black-text margin-15"><strong>Qapin is your workforce</strong></p>
            <p class="margin-15">If you’re a client that’s come here to get things done, use this workforce of
                independent &nbsp;talent to build faster and transform your business. If you’re independent talent
                that’s come here to realize your potential, know that you are a valuable and instrumental part of
                someone’s team.</p>
            <p class="black-text margin-15"><strong>We make work more rewarding</strong></p>
            <p class="margin-15">We see your vision, and everything we do is an effort to help you make the connections
                that will turn that vision into reality, by building your Virtual Talent Bench of trusted people. &nbsp;
            </p>
            <p class="margin-15">The impact is both economic and personal, in the everyday and in the long run. When you
                find the right people, you stop working to get by and start working strategically. </p>
            <p class="margin-15">That is when real opportunity emerges.</p>
            <p class="margin-15">I can say with confidence that the Qapin team - the team that serves you the talent
                and you the client - is still driven by our mission to create economic opportunity for our people around
                the world. </p>
            <p class="margin-15">You’re our people now, and we’re glad that you’re here. <br></p>
            <p>We can’t wait to see what you do.</p><img
                src="https://assets-global.website-files.com/603fea6471d9d8559d077603/6059bdbe9376de4bdf2834e0_signiture.png"
                loading="lazy" alt="Hayden Brown Signature
    " class="signature">
            <div class="signoff">
                <div class="line"></div>
                <div class="column">
                    <div>Hayden Brown,</div>
                    <div>President and CEO</div>
                </div>
            </div>
            <div class="h1-style margin-30">Start your journey</div>
            <div class="buttons-wrap-about">
                <div id="btn-1" track="null" track-sublocation="find_talent_cta" track-label="click_find_talent_cta"
                    track-event="click" class="button-primary w-node-_7df883f5-aeda-9e67-e5a1-1eef163ef6f5-e5ae7e41">
                    <div>Find Talent</div>
                </div>
                <div id="btn-2" track="null" track-sublocation="find_work_cta" track-label="click_find_work_cta"
                    track-event="click" class="button-primary w-node-ebb1ca75-6d23-17e9-fef8-dd015d710208-e5ae7e41">
                    <div>Find Work</div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- <h3 class="fw-600 tex-sm xl:text-xl" style="box-sizing: inherit;margin-bottom: 20px">
          About Us
        </h3>
        <div style="box-sizing: inherit; color: rgb(119, 119, 119)">
          <p>Qapin Is The New Way For The Third Party Inspection Services Industry To Come Together. Find Out More About
            Qapin And Our Vision For Working Together In The Future.</p>
          <p>With Our Many Years Of Experience In The Inspection Service Industry We Know That Convenient And Simple Way
            Of Working Is Long Overdue. And That’s Why We Designed Qapin - To Be A One-stop Shop For Freelancer
            Inspectors, Clients And Inspection Agencies.</p>
          <p>Our Revolutionary Platform Leads The Way In The Industry, Offering A Completely New Approach To Connecting
            Those Who Are Offering Inspector Services And Those Who Need Them.</p>
          <p>We Have The Expertise To Understand What’s Needed From Both Sides, And That’s Why Qapin Was Created.</p>
        </div>
        <div class="w-full mx-auto text-left xl:mx-auto xl:max-w-7xl">
          <h3 class="fw-600 tex-sm xl:text-xl" style="box-sizing: inherit;margin-bottom: 20px">
            Budget Effectively
          </h3>
          <div style="box-sizing: inherit; color: rgb(119, 119, 119)">
            <p>For Clients Sourcing Inspectors, It Can Be Difficult To Compare Quotes. Finding The Inspectors With The
              Right Skills And Certification Who Are Also Available On The Required Dates Can Be Very Time-consuming So
              Often It’s A Case Of Just Booking The First One You Find.</p>
            <p>With Qapin There’s The Opportunity To Have A Greater Choice, With The Ability To Filter Out The Results
              That Don’t Match Your Own Criteria. Compare Quotes, Experience And Narrow Down The Shortlist Until You
              Find A Freelancer You Want To Use.</p>
            <p>It’s Great For Your Budget And You’re Guaranteed To Get Someone Of The Highest Skills And Experience.
              We’ve Got A Secure Escrow System Too, So The Whole Transaction Is Safe From Start To Finish.</p>
          </div>
        </div>

      <div class="w-full mx-auto text-left xl:mx-auto xl:max-w-7xl">
          <h3 class="fw-600 tex-sm xl:text-xl" style="box-sizing: inherit;margin-bottom: 20px">
            Find Clients
          </h3>
          <div style="box-sizing: inherit; color: rgb(119, 119, 119)">
         <p>We’ve Created Qapin To Be A Marketplace That’s Dedicated Solely To Third Party Inspection Services. That Means That You Won’t Have To Scroll Through Lots Of Irrelevant Projects To Find Those Which Match Your Skills.</p>
         <p>Our Filter Tool Enables You To Only See The Projects You’re Qualified For, And Those Available In Your Area. It’s The Smart Way To Search For Work And Will Save You Time, While Earning You More Money!</p>
          </div>
        </div>
       <div class="w-full mx-auto text-left xl:mx-auto xl:max-w-7xl">
          <h3 class="fw-600 tex-sm xl:text-xl" style="box-sizing: inherit;margin-bottom: 20px">
            Ensuring Quality
          </h3>
          <div style="box-sizing: inherit; color: rgb(119, 119, 119)">
<p>When You Need A Temporary Engineer For Inspection Services, It Can Be A Challenge To Find A Suitably Qualified Individual Who’s Available At Short Notice. Qapin Solves The Problem By Allowing Freelancers To Manage Their Calendar Online, And Showing Prospective Clients When They Have Availability.</p>
<p>It’s Now Simple To Book In Slots At Short Notice As Both Parties Can See Where There’s Availability. Freelancers Can Choose Their Own Working Slots, So It’s A Solution That’s Completely Customised.</p>
<p>Like Any Industry, Price Is Always A Factor But That Shouldn’t Mean Compromising On Quality. By Choosing An Qualified Inspector Who’s Local, The Lower Travel Costs Can Lead To Significant Savings.
</p>
<p>Qapin Has Been Deliberately Designed As A Platform To Provide All The Necessary Options To Create A Marketplace That Works For Everyone. Our Secure Escrow Payment System Means There Is Protection For Both Clients And Freelancers, And Makes It Possible To Take International Jobs Without Any Worries Too.</p>
<p>Register For Qapin Today - It’s The Future Of Inspection Services. Bringing The Inspection Community Together In One Easy To Use Platform, Qapin Is Simple, Free And Convenient But Don’t Take Our Word For It - Create Your</p>
</div>
        </div> -->


      </div>
    </div>
   <TheHomeSiteFooter class="" v-if="!isAuth" />
  </div>

</template>

<script> 
// import TheHomeSiteHeader from "../../TheHomeSiteHeader.vue";
import TheHomeSiteHeader from "../../components/TheHomeSiteHeader.vue";
import TheHomeSiteFooter from "./TheHomeSiteFooter.vue";
import "tiny-slider/src/tiny-slider.scss";
export default {
  components: { 
       TheHomeSiteFooter,
       TheHomeSiteHeader
  },
  data() {
    return {
      isAuth: null,
    }
  },
  mounted() {
    this.isAuth = localStorage.getItem("token");
    if (this.$route.name == "ExpireLink") {
      this.isAuth = null;
    }
    this.getCurrentUserDetails();
  },
}
</script>
<style scoped lang="css">
.agency-category {
  background-color: white;
}

.president-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
h1 {
    margin: 0 0 15px;
    color: #F2613C;
    font-size: 56px;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: -.035em;
}
.qapin-neue {
    font-family: Neuemontreal,sans-serif;
    color: #001e00;
    font-weight: 500;
    letter-spacing: -.035em;
}
.margin-30 {
    margin-bottom: 30px;
}
.president-wrap {
 
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
}
.h5-style.qapin-rza {
    font-family:sans-serif;
    color: #F2613C;
    font-weight: 400;
}
.margin-15 {
    margin-bottom: 15px;
    color: #5e6d55;
}
.black-text {
    color: #001e00;
}
    

.h1-style {
    font-family:sans-serif;
    color: #F2613C;
    font-size: 56px;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: -.06em;
}
.button-primary {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #001e00;
    transition: background-color .2s;
    font-family: Neuemontreal,sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.buttons-wrap-about {
    display: flex;
    grid-column-gap: 19px;

}
@media (min-width: 1280px){

.xl\:max-w-7xl {
    max-width: 65rem;
}
}
</style>
