<template>
  <div
    class="w-full px-4 pt-12 mb-20 bg-white xl:pt-32 md:pt-20 xl:px-0 xl:mx-auto xl:max-w-7xl"
  >
    <div class="md:justify-between md:space-x-40 md:flex">
      <div class="mt-10 md:mt-0">
        <img src="home/freelance-adv.png" alt="" class="w-full md:w-2/1" />
      </div>

      <div>
        <p
          class="pt-10 text-base uppercase fw-400 xl:pt-0 md:pt-0 text-primary-500"
        >
          let freelancer discover you
        </p>
        <h1
          class="w-full max-w-lg pt-6 text-3xl fw-bold xl:pt-0 md:pt-0 xl:text-6xl"
        >
          Post Project quickly, receive Responses even quicker.
        </h1>

        <div class="mt-10 md:mt-6">
          <p class="max-w-xl text-base font-normal text-gray-400">
            With such a vast database of professionals to choose from, Qapin
            aims to make things easier for clients and inspectors. All Qapin
            users can apply filters to their profiles to highlight specific
            skills and qualifications. Clients searching for certified
            inspectors can apply filters to narrow down their search, so they
            only see results that match their search criteria exactly.
          </p>
        </div>

        <div
          class="items-center mt-10 space-y-4 md:space-x-4 md:space-y-0 md:flex"
        >
          <button
            @click="$router.push('/login')"
            class="w-full px-4 py-2 text-base text-white transition-all duration-500 ease-in-out rounded-md shadow-sm cursor-pointer md:w-52 hover:bg-opacity-50 hover:text-black bg-primary-500 hover:shadow-lg"
          >
            Browse Freelancer
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.hiring-hero-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #000000;
}
</style>
