<template>
  <div class="w-full px-4 mx-auto mt-12 xl:mt-24 xl:px-0 max-w-7xl">
    <h2
      class="flex justify-center text-3xl text-center text-black fw-bold xl:text-6xl"
    >
      Frequently Asked Questions
    </h2>

    <div
      class="px-4 py-2 mt-10 border border-gray-200 border-solid rounded-md group group-hover:bg-primary-500"
    >
      <div class="flex justify-between itemds-center">
        <h6
          @click="isFaq1 = !isFaq1"
          class="mt-2 text-base cursor-pointer sm:text-lg xl:text-2xl fw-600 hover:text-primary-500"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry ?
        </h6>

        <button @click="isFaq1 = !isFaq1">
          <p
            v-if="!isFaq1"
            class="w-10 p-1 text-xl text-gray-900 transition-all duration-500 rounded-full cursor-pointer fw-400 hover:bg-gray-200 hover:rounded-full"
          >
            -
          </p>
          <p
            v-else
            class="w-10 p-1 text-xl text-gray-900 transition-all duration-500 rounded-full cursor-pointer fw-400 hover:bg-gray-200 hover:rounded-full"
          >
            +
          </p>
        </button>
      </div>

      <transition name="slide">
        <p v-if="isFaq1" class="text-base leading-normal text-gray-400 fw-200">
          Lorem Ipsum is simply dummy text of the printing and typeseting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </transition>
    </div>

    <div
      class="px-4 py-2 mt-6 border border-gray-200 border-solid rounded-md group group-hover:bg-primary-500"
    >
      <div class="flex justify-between itemds-center">
        <h6
          @click="isFaq2 = !isFaq2"
          class="mt-2 text-base cursor-pointer sm:text-lg xl:text-2xl fw-600 hover:text-primary-500"
        >
          It is a long established fact that a reader will be distracted by the
          readable content of a page?
        </h6>

        <button @click="isFaq2 = !isFaq2">
          <p
            v-if="!isFaq2"
            class="w-10 p-1 text-xl font-medium text-gray-900 transition-all duration-500 rounded-full cursor-pointer hover:bg-gray-200 hover:rounded-full"
          >
            -
          </p>
          <p
            v-else
            class="w-10 p-1 text-xl font-medium text-gray-900 transition-all duration-500 rounded-full cursor-pointer hover:bg-gray-200 hover:rounded-full"
          >
            +
          </p>
        </button>
      </div>

      <transition name="slide">
        <p v-if="isFaq2" class="text-base leading-normal text-gray-400 fw-200">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </transition>
    </div>

    <div
      class="px-4 py-2 mt-6 border border-gray-200 border-solid rounded-md group group-hover:bg-primary-500"
    >
      <div class="flex justify-between itemds-center">
        <h6
          @click="isFaq3 = !isFaq3"
          class="mt-2 text-base cursor-pointer sm:text-lg xl:text-2xl fw-600 hover:text-primary-500"
        >
          There are many variations of passages of Lorem Ipsum available, but
          the?
        </h6>

        <button @click="isFaq3 = !isFaq3">
          <p
            v-if="!isFaq3"
            class="w-10 p-1 text-xl font-medium text-gray-900 transition-all duration-500 rounded-full cursor-pointer hover:bg-gray-200 hover:rounded-full"
          >
            -
          </p>
          <p
            v-else
            class="w-10 p-1 text-xl font-medium text-gray-900 transition-all duration-500 rounded-full cursor-pointer hover:bg-gray-200 hover:rounded-full"
          >
            +
          </p>
        </button>
      </div>

      <transition name="slide">
        <p v-if="isFaq3" class="text-base leading-normal text-gray-400 fw-200">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </transition>
    </div>

    <div
      class="px-4 py-2 mt-6 border border-gray-200 border-solid rounded-md group group-hover:bg-primary-500"
    >
      <div class="flex items-center justify-between">
        <h6
          @click="isFaq4 = !isFaq4"
          class="mt-2 text-base cursor-pointer sm:text-lg xl:text-2xl fw-600 hover:text-primary-500"
        >
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          piece of classical?
        </h6>

        <button @click="isFaq4 = !isFaq4">
          <p
            v-if="!isFaq4"
            class="w-10 p-1 text-xl font-medium text-gray-900 transition-all duration-500 rounded-full cursor-pointer hover:bg-gray-200 hover:rounded-full"
          >
            -
          </p>
          <p
            v-else
            class="w-10 p-1 text-xl font-medium text-gray-900 transition-all duration-500 rounded-full cursor-pointer hover:bg-gray-200 hover:rounded-full"
          >
            +
          </p>
        </button>
      </div>

      <transition name="slide">
        <p v-if="isFaq4" class="text-base leading-normal text-gray-400 fw-200">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isFaq1: false,
      isFaq2: false,
      isFaq3: false,
      isFaq4: false,
    };
  },
};
</script>

<style scoped>
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-80px);
}
</style>
