<template>
  <div
    style="background: rgba(242, 97, 60, 0.07)"
    class="w-full h-auto px-4 pt-12 pb-10 xl:pb-24 xl:px-0"
  >
    <div class="w-full mx-auto text-center xl:mx-auto xl:max-w-7xl">
      <h6 class="fw-600 tex-sm xl:text-xl">
        Trusted By Over 100+ Startups and freelance business
      </h6>

      <!-- Web version Freelance business -->
      <div class="hidden md:block xl:block">
        <div class="flex items-center mt-10 space-x-12">
          <img
            src="/home/agencies/zeppelin.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
          <img
            src="/home/agencies/oracle.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
          <img
            src="/home/agencies/morpheus.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
          <img
            src="/home/agencies/samsung.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
          <img
            src="/home/agencies/monday.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
          <img
            src="/home/agencies/segment.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
          <img
            src="/home/agencies/protonet.png"
            class="transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
            alt=""
          />
        </div>
      </div>

      <!-- Mobile version freelance business -->
      <tiny-slider
        v-bind="tinySliderOptions"
        class="block w-full mt-10 space-x-8 sm:hidden md:hidden xl:hidden"
      >
        <img
          src="/home/agencies/zeppelin.png"
          class="w-24 pl-6 transition-all duration-700 ease-in-out transform cursor-pointer hover:scale-110"
          alt=""
        />
        <img
          src="/home/agencies/oracle.png"
          class="pl-6 transition-all duration-700 ease-in-out transform cursor-pointer w-28 hover:scale-110"
          alt=""
        />
        <img
          src="/home/agencies/morpheus.png"
          class="pl-6 transition-all duration-700 ease-in-out transform cursor-pointer w-28 hover:scale-110"
          alt=""
        />
        <img
          src="/home/agencies/samsung.png"
          class="pl-6 transition-all duration-700 ease-in-out transform cursor-pointer w-28 hover:scale-110"
          alt=""
        />
        <img
          src="/home/agencies/monday.png"
          class="pl-6 transition-all duration-700 ease-in-out transform cursor-pointer w-28 hover:scale-110"
          alt=""
        />
        <img
          src="/home/agencies/segment.png"
          class="pl-6 transition-all duration-700 ease-in-out transform cursor-pointer w-28 hover:scale-110"
          alt=""
        />
        <img
          src="/home/agencies/protonet.png"
          class="pl-6 transition-all duration-700 ease-in-out transform cursor-pointer w-28 hover:scale-110"
          alt=""
        />
      </tiny-slider>

      <!-- Quality Work -->
      <div class="mt-20">
        <p class="text-xs uppercase fw-600 text-primary-500">
          most popular categories
        </p>

        <h2 class="text-xl fw-bold xl:text-4xl" style="font-weight: 800">
          Find Quality Talent or agencies
        </h2>
        <p class="mt-2 text-xs fw-400 xl:text-sm">
          Qapin is a premium marketplace for third-party inspection services.
        </p>
      </div>

      <!-- WEB version Categoties Agencies -->
      <div class="hidden xl:block md:block">
        <div
          class="grid grid-cols-1 gap-3 mt-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 bg-green-500 rounded-md"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left text-theme-hover fw-bold xl:text-base"
            >
              Mechanical
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #0082fa">
                3,679
              </span>
              experts
            </p>
          </div>

          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #0082fa"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              E&I
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #0082fa">
                3,679
              </span>
              experts
            </p>
          </div>

          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #ff3c3c"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              Safetry
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #ff3c3c">
                3,679
              </span>
              experts
            </p>
          </div>

          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #ffc737"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              Coating
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #ffc737">
                3,679
              </span>
              experts
            </p>
          </div>
        </div>

        <div
          class="grid grid-cols-1 gap-3 mt-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer agency-category hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #ff388c"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              Hard Goods
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #ff388c"
                >3,679</span
              >
              experts
            </p>
          </div>
          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #2ddcbc"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              Apparel
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #2ddcbc"
                >3,679
              </span>
              experts
            </p>
          </div>
          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border-2 border-white border-solid rounded-md cursor-pointer hover:bg-primary-500 hover:border-solid hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #ca30e3"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              Mechanical
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #ca30e3"
                >3,679</span
              >
              experts
            </p>
          </div>

          <div
            class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
          >
            <div class="w-8 p-4 rounded-md" style="background: #0082fa"></div>

            <h4
              style="font-weight: 700"
              class="mt-4 text-sm text-left fw-bold xl:text-base"
            >
              E&I
            </h4>
            <h5 class="text-sm text-left fw-600">Inspectors</h5>
            <p class="mt-2 text-xs text-left uppercase fw-400">
              <span class="mr-3 text-xs cursor-pointer" style="color: #33ceff"
                >3,679
              </span>
              experts
            </p>
          </div>
        </div>
      </div>

      <!-- Mobile view Categoties agencies slider -->
      <tiny-slider
        v-bind="tinySliderOptions"
        class="block w-full mt-10 space-x-8 sm:hidden xl:hidden"
      >
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 bg-green-500 rounded-md"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left text-theme-hover fw-bold xl:text-base"
          >
            Mechanical
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #0082fa">
              3,679
            </span>
            experts
          </p>
        </div>
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #0082fa"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            E&I
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #0082fa">
              3,679
            </span>
            experts
          </p>
        </div>
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #ff3c3c"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            Safetry
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #ff3c3c">
              3,679
            </span>
            experts
          </p>
        </div>
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #ffc737"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            Coating
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #ffc737">
              3,679
            </span>
            experts
          </p>
        </div>

        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer agency-category hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #ff388c"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            Hard Goods
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #ff388c"
              >3,679</span
            >
            experts
          </p>
        </div>
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #2ddcbc"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            Apparel
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #2ddcbc"
              >3,679
            </span>
            experts
          </p>
        </div>
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border-2 border-white border-solid rounded-md cursor-pointer hover:bg-primary-500 hover:border-solid hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #ca30e3"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            Mechanical
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #ca30e3"
              >3,679</span
            >
            experts
          </p>
        </div>
        <div
          class="z-10 px-3 pt-3 transition-all duration-700 ease-in-out bg-white border border-white rounded-md cursor-pointer hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl"
        >
          <div class="w-8 p-4 rounded-md" style="background: #0082fa"></div>

          <h4
            style="font-weight: 700"
            class="mt-4 text-sm text-left fw-bold xl:text-base"
          >
            E&I
          </h4>
          <h5 class="text-sm text-left fw-600">Inspectors</h5>
          <p class="mt-2 text-xs text-left uppercase fw-400">
            <span class="mr-3 text-xs cursor-pointer" style="color: #33ceff"
              >3,679
            </span>
            experts
          </p>
        </div>
      </tiny-slider>

      <div class="mt-10">
        <p class="text-base fw-400">Don’t see what you looking for ?</p>
        <button
          @click="$router.push('/login')"
          class="w-full px-4 py-2 text-base text-white transition-all duration-500 ease-in-out rounded-md shadow-sm cursor-pointer fw-400 md:w-52 hover:opacity-50 bg-primary-500 hover:shadow-lg"
        >
          Show All Categoties
        </button>
      </div>
    </div>
  </div>
</template>

<script type="module">
import "tiny-slider/src/tiny-slider.scss";
export default {
  components: {},

  data() {
    return {
      tinySliderOptions: {
        mouseDrag: true,
        loop: false,
        items: 2,
        gutter: 20,
        swipeAngle: 45,
      },
    };
  },
};
</script>

<style scoped>
.hero-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}

.agency-category {
  background-color: white;
}

.agency-category:hover {
  background-color: peru;
}
</style>
