<template>
      <div class="relative w-full h-auto overflow-auto bg-white privacy-policy-wrapper">
          <TheHomeSiteHeader />
        <div class="col-md-12 col-12 mb-2 mt-8">
            <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy  ">
                <div class="content-area">
                    <header class="entry-header">
                        <div class="d-flex align-items-center text-white">
                            <div>Terms Of Use</div>
                            <div class="ml-auto align-items-center">
                                <div class="dl">Effective: 5 August 2019</div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl " >
                <b-card no-body>
                    <b-tabs pills card vertical>
                        <b-tab title="Welcome To QAPIN" active>
                            <b-card-text>
                                <div class="w-full px-4  bg-white xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div>
                                                <div class="">
                                                    <div class="terms-content">
                                                        <h3><strong><span>Welcome To QAPIN</span></strong></h3><br>
                                                        <p><span>By Accessing Or Using QAPIN, You Agree To Be Legally Bound By These Terms. Please Read The Terms Carefully.</span></p>
                                                        <p><span>If You Do Not Agree With One Or More Provisions Of These Terms, You Should Not Use QAPIN.</span></p>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" style="color: #777777;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1.</td>
                                                                        <td>GENERAL</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2.</td>
                                                                        <td>USER ACCOUNTS</td>
                                                                        <td>2</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3.</td>
                                                                        <td>FEES AND PAYMENTS
                                                                        </td>
                                                                        <td>3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>4.</td>
                                                                        <td>THE PROJECTS</td>
                                                                        <td>4</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>5.</td>
                                                                        <td>THE SERVICE CONTRACTS</td>
                                                                        <td>5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>6.</td>
                                                                        <td>DISPUTE RESOLUTION AND REFUNDS</td>
                                                                        <td>6</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>7.</td>
                                                                        <td>USER CONTENT</td>
                                                                        <td>7</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>8.</td>
                                                                        <td>ACCEPTABLE USE POLICY</td>
                                                                        <td>8</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>9.</td>
                                                                        <td>MARKETING AND INFORMATIONAL NOTICES</td>
                                                                        <td>9</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>10.</td>
                                                                        <td>SECURITY</td>
                                                                        <td>10</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>11.</td>
                                                                        <td>INTELLECTUAL PROPERTY</td>
                                                                        <td>11</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>12.</td>
                                                                        <td>Availability</td>
                                                                        <td>12</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>13.</td>
                                                                        <td>DISCLAIMER OF WARRANTIES</td>
                                                                        <td>13</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>14.</td>
                                                                        <td>LIMITATION OF LIABILITY</td>
                                                                        <td>14</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>15.</td>
                                                                        <td>INDEMNIFICATION</td>
                                                                        <td>15</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>16.</td>
                                                                        <td>SEVERABILITY</td>
                                                                        <td>16</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>17.</td>
                                                                        <td>GOVERNING LAW AND DISPUTES</td>
                                                                        <td>17</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>18.</td>
                                                                        <td>MISCELLANEOUS</td>
                                                                        <td>18</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>18.</td>
                                                                        <td>CONTACT US</td>
                                                                        <td>18</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="1. GENERAL">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>1. GENERAL</span></strong></h3>
                                                <p><span>1.1. These QAPIN Terms And Conditions (the “Terms”) Is A Legally Binding Agreement Between The Company QAPIN Suzhou Co., Ltd Having A Registered Place Of Business At Room No.707 , Building 13, Yongshang Garden , Wuzhong , Suzhou, China And A Business Registration Number 91320506MA20BJMM2A (the “Company”, “we”, “us”, And “our”) And An Individual Or Business User (the “user”, “you”, And “your”) Accessing And Using The Online Platform ‘Qapin’ Available At Https://www.qapin.com, The Related Software And Services (collectively, “QAPIN”).</span>
                                                </p>
                                                <p><span>1.3. License To Use QAPIN. The Company Grants You A Personal, Revocable, Non-exclusive, Non-transferable And Limited License To Use QAPIN In Accordance With The Terms.</span></p>
                                                <p><span>1.4. Minors. QAPIN Is Not Intended To Use By Persons Under The Age Of 18. Persons Who Are Not Of The Age Of Majority Are Not Allowed To Use QAPIN.</span></p>
                                                <p><span>1.5. Disclaimer. All Information Provided On QAPIN Is For General Information Purposes Only; Such Information Does Not Constitute Technical Or Expert Advice. We Regularly Review QAPIN. However, We Cannot Guarantee All Information Available On QAPIN Is Accurate, Reliable, Current, Relevant, Or Complete.</span></p>
                                                <p><span>1.6. Third-party Links And Advertising. QAPIN May Contain Links To Websites, Applications, And Other Online Sources Owned And Operated By Third-party Service Providers And Information Provided By Them. We Are Not Responsible For The Content Of Such Third-party Links, Information, As Well As The Security And Privacy Practices Deployed By The Operators Of Third-party Websites. Please Exercise Your Due Diligence Before Clicking On Any Third-party Links Or Advertisements.</span></p>
                                                <p><span>1.7. Support. Any Requests For Customer Or Technical Support Should Be Addressed To Us By Email At [to Be Inserted – Email Address].</span></p>
                                                <p><span>1.8. Privacy And Other Relevant Terms. The Documents That Include Important Provisions Regarding Your Use Of QAPIN And Should Be Read And Interpreted Together With These Terms Are:</span></p>
                                                <ul>
                                                    <li> Our Privacy Policy Available At [to Be Inserted - URL Of Your Privacy Policy] (the “Privacy Policy”), Which Provides Information On How We Handle Your Personal Data Collected And Processed Through QAPIN;</li>
                                                    <li> Our Cookie Policy Available At [to Be Inserted - URL Of Your Cookie Policy], Which Provides Information About Our Cookie Usage Practices; And
                                                    </li>
                                                    <li> Other Individual Terms And Conditions Made Available By Us Through QAPIN.</li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="2. USER ACCOUNTS">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">

                                                <h3><strong><span>2. USER ACCOUNTS</span></strong></h3>
                                                <p><span>2.1. Registration Of The Account. In Order To Use The Full Functionality Of QAPIN, You Are Required To Sign Up By Registering A User Account (the “Account”). The Account Can Be Created By Individual Users Or Business Entities Directly On QAPIN By Submitting The Requested Personal Data And Completing The Verification Process. During The Account Registration Process, You Will Be Requested To Read And Accept These Terms And Review The Privacy Policy. The Personal Data Collected By Us Through Your Account Will Be Processed In Accordance With Our Privacy Policy. The Account Is Not Transferable, And You Are Solely Responsible For Any Activities Carried Out Through Your Account.</span></p>
                                               <p><span>2.2. Types Of The Accounts. There Are Two Types Of Accounts Available On QAPIN:</span></p>
                                               <ul>
                                                    <li> If You Use QAPIN As The Client Who Is An Individual User Or A Business Entity, You Are Required To Create A Client’s Account; And</li>
                                                    <li>If You Use QAPIN As The Freelancer Who Is An Individual User Or A Business Entity, You Are Required To Register A Freelancer’s Account.</li>
                                                </ul>
                                                <p><span>2.3. Authorization To Create The Account. By (i) Creating A Client’s Account Or A Freelancer’s Account On Behalf Of A Business Entity, (ii) Creating A Company Page, Or (iii) Providing The Details Of A Business Entity You Work For, Cooperate With Or Are Affiliated With, You Confirm That You Are An Authorised Employee Or Contractor Of That Entity And You Have The Necessary Rights And Authorisation To Act On Behalf Of That Entity. We Are Not Responsible In Any Manner And Bear No Liability For Your Activities Carried Out Through QAPIN Without Such Authorisation.</span></p>
                                                <p><span>2.4. Your Warranties. By Registering Your Account, You Agree With The Following:</span></p>
                                                <p><span>You Will Comply With All Provisions Of These Terms And All Local, State, National And Foreign Laws, Treaties, And Regulations Applicable For Your Use Of QAPIN;</span></p>
                                             <ul>
                                                    <li>You Will Provide Information And Personal Data That Are Complete, Correct, Accurate, And Up To Date;</li>
                                                    <li>You Will Timely Update Your Account If Any Changes In Your Personal Data Are Made;</li>
                                                    <li>You Are At The Age Of Majority In Your Jurisdiction;</li>
                                                    <li>You Can Conclude Legally Binding Contracts;</li>
                                                    <li>You Are Not Under Any Type Of Judicial Interdiction;</li>
                                                    <li>You Are Authorised By Relevant Parties To Create The Account;</li>
                                                    <li>You Will Register A Single Account (multiple Accounts Registered By The Same Person Or Entity Are Not Allowed);</li>
                                                    <li>The Registration Of The Account Does Not Create A Direct Conflict Of Interests Between You And The Company Or QAPIN;</li>
                                                    <li>You Do Not Falsely Impersonate Another Person; And</li>
                                                    <li>You Are A Real Person And Not A Machine (machine Generated Accounts Are Not Allowed).</li>
                                                    
                                               </ul>
                                               <p><span>2.3. Conflict Of Interests. You Are Not Allowed To Register The Account If Such A Registration Creates A Direct Conflict Of Interests Between You And The Company Or QAPIN, Unless You Obtain A Prior Written Authorisation From Us To Create Your Account.</span></p>
                                                    <p><span>2.4. Security Of The Account. You Are Responsible For Keeping Your Account Secure, Including Your Login Details And Passwords. By Using QAPIN, You Agree To Immediately Notify Us About Any Unauthorized Use Of Your Account Or Any Security Breach Related Thereto. We Request You To Use Secure Internet Connection And Protected Networks While Using QAPIN. We Accept No Liability For Any Loss Or Damage Arising Out Of Your Failure To Comply With Your Security Obligations.</span></p>
                                                    <p><span>2.5. Deactivation Of The Account. The Deactivation Of The Account Can Be Carried Out Through The Dashboard Of Your Account. Alternatively, You Can Send The Deactivation Request Directly To Us. Upon Deactivation Of The Account, We Will Remove All Information About You From QAPIN And These Terms Shall Terminate.</span></p>
                                                    <p><span>2.6. Suspension And Termination Of The Account. We Reserve The Right To Suspend Or Terminate Your Account If, At Our Sole Discretion, (i) We Have Grounds To Believe That Your Use Of QAPIN Breaches These Terms Or (ii) We Are Requested To Do So By A Public Authority.</span></p>
                                                    <p><span>2.7. Confidential Information. Any Information Made Available By Us To The Users Or Communicated Between The Users About The Service Contracts (as Defined Hereunder) Is Of Confidential Nature (the “Confidential Information”). You Must Always (i) Keep Confidential And Not Disclose To Any Person Any Of The Confidential Information And (ii) Only Use Such Confidential Information For The Purposes Of Performing Their Obligations Under These Terms. The Confidential Information Can Be Disclosed Only To Users’ Employees, Employers, Officers, Sub-contractors, Representatives Or Advisers Who Need To Know Such Information For The Purposes Of Carrying Out Their Obligations Under These Terms.</span></p>        
                                                    <p><span>2.8. Freelancer’s Authorisation And Insurance. If You Use QAPIN As The Freelancer, You Are Solely Responsible For Obtaining All Necessary Authorisations, Certificates, Insurance Policies, And Undergoing Verifications Enabling You To Provide Engineering Services Through QAPIN. By Creating Freelancer’s Account, You Confirm That You Have The Necessary Skills, Rights, Authorisation And Licenses To Provide Engineering Services. We Are Not Responsible In Any Manner And Bear No Liability For Freelancer’s Activities Carried Out Through QAPIN Without Such Authorisation. We Insist The Freelancers To (i) Obtain Appropriate Professional Insurance Policies Related To The Services Provided By Them And (ii) Make Sure That The Terms And Conditions Of The Insurance Policy Do Not Contravene To These Terms. Although The Freelancers May Indicate That They Maintain Appropriate Insurance Policies, We Make No Representation Or Warranty That The Freelancers Hold Such Insurance Policies. The Clients Should Make Their Own Inquiries To Ascertain Whether A Freelancer Holds The Relevant Insurance Policy Or A Certificate.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="3. FEES AND PAYMENTS">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">


                                                <h3><strong><span>3. FEES AND PAYMENTS</span></strong></h3>
                                                <p><span>3.1. QAPIN Can Be Accessed And Used For Posting Job Proposals, Applying For Jobs, And Communicating With Users Of QAPIN Free Of Charge. Any Service Engagement By And Between The Clients And The Freelancers (the “Project”) Under The Service Contract (as Defined In Section 5 Of The Terms) Is Subject To Applicable Charges Payable By The Clients And The Freelancers As Explained In This Section 3. All Payments Related To The Service Contracts Should Exclusively Be Made Through QAPIN. The Users Are Not Allowed To Make Any Payments Outside QAPIN, Unless Permitted By Us In Writing. Any Payment Outside QAPIN Shall Be Considered A Breach Of The Terms.</span></p>
                                                <p><span>3.2. The Service Fees Payable By The Clients. If You Use QAPIN As The Client, Each Service Contract Is Subject To The Service Fees Payable By You To The Freelancer Through QAPIN (the “Service Fees”) For The Agreed Project. Please Note That The Service Fees Paid By You Through QAPIN Constitute The Entire Amount Payable Under The Respective Service Contract And The Freelancers That Provide Services Under Such Service Contract Must Not Charge You Any Additional Fees For The Said Services, Unless Agreed Otherwise By You. By Concluding A Service Contract, You Agree To Pay The Service Fees To The Chosen Freelancer Through QAPIN In Accordance With The Terms And Conditions Of The Service Contract.</span></p>
                                                <p><span>3.3. The Commission Payable By The Freelancer. When The Client And The Freelancer Conclude A Service Contract Through QAPIN For The Project, We Charge The Freelancer A 5% Commission Fee (the “Commission”) On The Net Amount Of The Total Price Of The Project. The Fees Are Deductible Automatically From Freelancer’s Balance After The Client Approves The Payment. The Fees Are Indicated In United States Dollars (USD). By Accepting These Terms, The Freelancers Agree To Pay The Commission In Accordance With These Terms And The Terms And Conditions In Force At The Moment The Service Contract Is Concluded Between The Freelancer And The Client. The Commission Rates Remain Valid For As Long As They Are Indicated On QAPIN. The Freelancer Is Solely Responsible For Defining The Service Fees And Communicating Them To The Client; Such Service Fees Will Be Subject To The Commission And The Service Fees Featured On QAPIN To The Client Shall Include Freelancer’s Service Charges And Our Commission.</span></p>
                                                <p><span>3.2. Taxes. The Freelancers Are Responsible For Paying All Applicable Income Taxes On The Income Received Under The Service Contracts.</span></p>
                                                <p><span>3.3. Escrow. QAPIN Provides A Secured Escrow Service To The Users That Receives, Holds, And Delivers, Payments For The Projects (the “Escrow”). When The Client Hires The Freelancer For The Agreed Project, The Client Will Be Requested To Deposit The Service Fee In The Escrow. After The Project Is Completed And The Payment Is Authorised By The Client, The Funds Held In The Escrow Shall Be Paid Out To The Freelancer, Minus The Commission For The Respective Project. Once The Payment Is Made By The Client, The Client Is Granted All Rights For The Delivered Work. The Escrow Can Be Used For Business Purposes Only. The Users Are Not Allowed To Use The Escrow For Personal, Family, Household Purposes Or For Any Illegal Purpose. The Users Are Requested Not To Hold Any Dormant Balances In The Escrow For More Than 30 Days. The Funds Are Stored And Released Only In Accordance With User’s Instructions, Authorisation, The Terms Of The Respective Service Contract, Or As Required By The Applicable Law. The Escrow Is Used To Merely Hold Funds For The Purpose Of Settling The Provision Of Freelancer’s Services Under The Service Contract. The User Acknowledges And Agrees That The Company Acts Merely As An Internet Escrow Agent And, By Registering The Account, Authorises The Company To Act As User’s Escrow Agent For Accepting, Holding, And Paying Out The Funds For The Projects. We Are Not A Bank. We Will Not Voluntarily Make The Funds Held In The Escrow Available To User’s Creditors Or Other Third Parties In The Event Of User’s Bankruptcy Or For Any Other Purpose. The Users Will Not Receive Any Interest On The Funds Held In The Escrow. The Funds Held In The Escrow Or The Account Are Not Insured By Any Government Agency.</span></p>
                                                <p><span>3.4. Payouts To The Freelancers. To Opt For A Payout, The Freelancers Are Required To: (i) Accept The Job Proposal Made By The Client Within The Specified Time Period; (ii) Complete The Project In Accordance With The Terms And Conditions Of The Respective Service Contract; (iii) Deliver The Work Product To The Client; (iv) Raise An Invoice For The Delivered Work With A Click As ‘’completed Job’’; And (v) Receive Client’s Payment Approval. The Payout Will Be Made To A Bank Account Or A PayPal Account Authorised And Verified By The Freelancer. We Reserve The Right To Charge A Payment Processing Fee For Each Payout Made To The Freelancer. For Security And Fraud Prevention Purposes, The Company Reserves The Right To Request The Freelancer To Provide Additional Information Or Submit Documents Proving Freelancer’s Identity. The Freelancer Acknowledges And Agrees That: (i) Any Payment Made By The Client To The Freelancer Through QAPIN Shall Be Considered As Payment By The Client Directly To The Freelancer; (ii) The Freelancer Will Not Charge The Client Any Additional Service Fees, Unless Agreed Otherwise Between The Client And The Freelancer; (iii) We Accept Payments From The Clients Through The Escrow As Freelancer’s Limited Payment Collection Agent; (iv) Our Obligation To Complete Payouts To The Freelancer Is Subject To And Conditional Upon Successful Receipt Of The Associated Payments From The Clients; And (v) We Are Not Responsible For Transferring You The Funds That Have Not Been Successfully Obtained From The Clients. Any Service Fees Paid By The Clients To The Freelancers In Relation To The Service Contracts, Excluding The Commission And Other Applicable Charges, Will Be Paid Out To The Freelancer Without Undue Delay. The Freelancer Acknowledges And Agrees That We Are Entitled To Charge Commission On Any Of The Service Fees Paid By The Client In Relation To The Project; Such Commission Will Be Deducted By Us Before Making Payouts To The Freelancers Under This Section 3.4.</span></p>
                                                <p><span>3.5. Payment Processing. All Payments Related To QAPIN, Including Payments Of The Service Fees And Payouts To The Freelancers, Are Processed By Our Third-party Payment Processors PayPal, AliPay, etc I (collectively, The “Payment Processors”). The Payment Processors Handle All Steps In The Payment Process. We Bear No Responsibility Or Liability If Any Payments Made By You Do Not Reach Us Due To (i) Your Failure To Quote Correct Payment Information Or (ii) The Payment Processors Refuse Your Payment For Any Other Reason That Does Not Depend On Us. To Ensure A Successful Payment Process, The Payments Processors May Collect From You Some Payment Information (e.g., Your Name, Billing Address, Bank Account, Or Credit Card Details). We Do Not Have Access To Your Payment Information, Unless Such Data Is Necessary For Ensuring That The Payment Was Successfully Processed Or Maintaining Our Accountancy Records. The Payment Processors Process All Payments And Personal Data Through Their Systems. We Do Not Store Your Credit Card Information Or Other Payment Details In Our System, Except For What Is Necessary To (i) Ensure That All Payments Are Processed In A Timely Manner And (ii) Maintain Our Accountancy Records. For The Payment Service Agreements And Policies Applicable To Your Payments, Please Refer To Https://www.paypal.com (if You Select PayPal), Or Consult The Documents Provided By The Payment Processor Chosen By You.</span></p>
                                                <p><span>3.6. Invoices. The Invoices For The Fees Paid By The User And Any Payments Charged By Us (the “Invoices”) Are Generated Automatically And Can Be Reviewed And Downloaded Through Your Account. Please Make Sure That All Information In Respect To Your Account Is Accurate And Up-to-date So That The Invoices Could Be Generated Correctly. We Accept No Responsibility If The Invoices Are Erroneous Due To Your Failure To Comply With These Terms.</span></p>                                           
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
                        
                        <b-tab title="4. THE PROJECTS">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">

                                                <h3><strong><span>4. THE PROJECTS</span></strong></h3>
                                                <p><span>4.1.To Ensure That The Projects Are Completed Successfully, The Users Agree To Negotiate And Complete The Projects As Provided For In This Section 4.</span></p>
                                                <p><span>4.2.All Communication Between The Clients And The Freelancers Has To Be Carried Out Through QAPIN In Order To Protect The Users In Case Of Dispute. The Users Are Not Allowed To Communicate Or Make Payments Outside QAPIN And Any User’s Attempt To Do So Will Be Considered A Breach Of The Terms.</span></p>
                                                <p><span>4.3.To Ensure That The Project Is Completed Successfully, The Client Must:</span></p>
                                                <ul>
                                                    <li>Provide All Complete And Accurate Information To The Freelancer And The Precise Requirements For The Work Product To Be Delivered (the “Deliverables”) Before The Project Commences;</li>
                                                    <li>To Identify The Channels Through Which QAPIN Is Accessed And
                                                        Used;</li>
                                                    <li>Send To The Freelancer The Project Offer Through QAPIN;</li>
                                                    <li>Timely Respond To Freelancer’s Messages;</li>
                                                    <li>Approve The Deliverables Submitted By The Freelancer;</li>
                                                    <li>Release The Funds From The Escrow After The Deliverables Are Approved And The Invoice Is Raised By The Freelancer; And</li>
                                                   <li>Provide Feedback About The Services Rendered By The Freelancer.</li>
                                               </ul>
                                                <p><span>4.4.To Ensure That The Project Is Completed Successfully, The Freelancer Must:</span></p>
                                                   <ul>
                                                    <li>Send A Job Offer To The Client And Indicate The Total Amount Of The Service Fees Applicable To The Project;</li>
                                                    <li>Clearly Communicate To The Client All Terms And Conditions Related To The Project (e.g., Number Of Revisions, Timelines, And Required Information);</li>
                                                    <li>Timely Respond To Client’s Messages;</li>
                                                    <li>Comply With The Client’s Security And Safety Rules;</li>
                                                    <li>Strive To Deliver A High Quality Work Appropriately Meeting Client’s Needs;</li>
                                                    <li>Follow The Industry-approved Safety And Security Rules Applicable To The Services Provided By The Freelancer;</li>
                                                    <li>Regularly Send Updates About The Progress Of The Project;</li>
                                                    <li>Complete The Project Within The Time Period Agreed To With The Client (late Delivery May Have An Adverse Effect On Freelancer’s Rating);</li>
                                                    <li>Hand Out All Deliverables To The Client And Ensure That The Deliverables: (i) Are Free Of Errors; (ii) Fully Address Client’s Requirements; (iii) Are A Complete Set Of The Deliverables As Requested By The Client; And (iv) Adhere To The Standard Indicated In Freelancer’s Proposal;</li>
                                                    <li>Submit A Payment Request By Raising An Invoice; And</li>
                                                    <li>Provide Feedback About The Client.</li>
                                               </ul>
                                               <p><span>4.5.If The Freelancer Submits A Payment Request And The Client Approves The Request, The Funds Held By Us In The Escrow Shall Be Transferred To Freelancer’s Account. If The Client Does Not Approve The Freelancers’ Payment Request And Does Not Reject The Freelancer’s Request For A Time Period Of [to Be Inserted – Number Of Days], The Funds Shall Be Automatically Transferred To Freelancer’s Account In 14 Days After The Payment Request Is Submitted By The Freelancer. If The Client Rejects Freelancer’s Payment Request, The Freelancer Is Entitled To Commence Dispute Resolution Proceedings In Accordance With Section 6 Of These Terms.</span></p>
                                               <p><span>4.6.If The Funds Held In Escrow Are Released To The Freelancer, The Freelancer Shall Be Entitled To Assume That The Client Is Satisfied By The Deliverables And No Dispute With Regard To The Deliverables Can Be Filed By The Client.</span></p>
                                               <p><span>4.7.Ownership Of The Deliverables. To The Extent Permitted By The Applicable Law, The Ownership In And To Any Materials And Or The Deliverables Resulting From The Project And Any Intellectual Property Rights Therein, Will Be Assigned To The Client Upon Successful Payment To The Freelancer. If The Client And The Freelancer Wish To Include Any Specific Terms To The Service Contracts (e.g., Regarding The Ownership Of The Deliverables), The Client And The Freelance Should Negotiate Such Terms Through QAPIN.</span></p>
                                               <p><span>4.8.Feedback. Upon Completion Of The Project And Payment Of The Service Fees, The Clients And The Freelancers Shall Be Requested To Leave A Feedback Consisting Of A Rating And A Review. The Feedback Influences Each User’s Ranking On QAPIN. The Feedback Shall Be Published On QAPIN As Soon As Both Users Leave Their Feedback But No Later Than 30 Days. No Feedback Can Be Submitted Later Than 30 Days After Completion Of The Project. The Feedback That Is False, Manipulative, Defamatory, Abusive, Offensive, Coerces The User By Threatening Negative Feedback, Or Offers Incentives In Exchange For Feedback Is Allowed On QAPIN. Any Such Attempts Should Be Reported Immediately To Us. We Reserve The Right, At Our Sole Discretion, To Remove Any Feedback That Infringes These Terms.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="5. THE SERVICE CONTRACTS">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>5. THE SERVICE CONTRACTS</span></strong></h3>
                                                <p><span>5.1. QAPIN Serves As A Platform That Facilitates The Communication Between The Clients And The Freelancers (collectively, The “Contractors”), Including Hosting And Maintaining QAPIN And Supporting The Formation Of Service Contracts Between The Contractors (the “Service Contracts”). Unless Otherwise Provided In The Terms, We Do Not Intervene Into The Communication Between The Contractors As Well As Negotiation, Conclusion, And Execution Of The Service Contracts. Our Responsibilities With Regard To The Service Contracts Are Limited To (i) Facilitating The Availability Of QAPIN And (ii) Serving As The Limited Payment Collection Agent Of Each Freelancer For The Purpose Of Accepting Payments From The Clients On Behalf Of The Freelancers. By Using QAPIN, You Acknowledge And Agree That The Freelancers And Not Us Are Solely Responsible For (i) Accepting Any Job Proposals Made By The Clients And (ii) Providing The Services Under The Service Contracts.</span></p>
                                                <p><span>5.2. Entering Into The Service Contracts. If The Contractors Decide To Enter Into The Service Contract Through QAPIN, The Service Contract Governs The Contractual Relationship Between The Contractors And The Contractors Have The Freedom To (i) Decide Whether To Enter Into The Service Contract And (ii) Agree On The Terms Of The Service Contract. The Contractors Acknowledge And Agree That The Company Is Not A Party To The Service Contract And The Formation Of The Service Contract Does Not Constitute An Employment, Partnership, Joint Venture, Or Other Relationships Between The Contractors And The Company. The Contractors Are Entitled To Enter Into Any Additional Agreements As They Deem To Be Appropriate (e.g., A Confidentiality Or Assignment Agreements), Provided That Such Agreements Do Not Conflict With, Narrow, Or Expand These Terms.</span></p>
                                                <p><span>5.3. By Concluding The Service Contracts, The Clients Acknowledge And Agree That The Clients Are Ordering Services From The Respective Freelancers And Not Directly From Us. Therefore, And The Freelancers Are Solely Responsible For Delivering Those Services. For Any Specifics Related To The Service Contracts, The Clients Are Requested To Contact The Freelancers With Whom They Cooperate.</span></p>
                                                <p><span>5.4. The Company Is Not A Party To The Service Contracts And, Therefore, The Company Will Not Be Liable For Any Los Or Damage, Direct, Indirect, Consequential Or Inconsequential, That Occurs As A Result Of (i) The Service Contracts, (ii) Any Business Transactions Made Between The Contractors, Or (iii) Contractors’ Use Or Interactions Through QAPIN.</span></p>
                                                <p><span>5.5. The Freelancers Are Solely Responsible For:</span></p>
                                               <ul>
                                                    <li>Ensuring That They Are Qualified In Providing Services Featured Through QAPIN;</li>
                                                    <li>Preparing, Negotiating, Concluding, And Executing The Service Contracts;</li>
                                                    <li>Paying All Applicable Taxes, Levies, Duties, And Other Fees Associated With Payments Made Under The Service Contracts; And</li>
                                                    <li>Cooperating With Us In Any Audits By Providing Information And Records About The Service Contracts, Invoices, Tax Returns, And Other Financial Reports Issued Under The Service Contracts.</li>
                                                </ul>
                                                <p><span>5.1. QAPIN Provides General Information About The Freelancers That Is Based On The Data Submitted By The Freelancers. We Do Not Endorse Any Users Of QAPIN And QAPIN Features Only A Limited List Of Freelancers That Is Compiled By Us On The Basis Of The Freelancers’ Accounts And Updated From Time To Time; Such A List Is Of A Recommendation Nature.</span></p>
                                                <p><span>5.2. Although We Require The Users To Provide Information That Is Correct, Accurate, And Up-to-date, We Do Not Guarantee That Any Information, Accreditation, And Personal Data Provided By The Contractors Meets These Criteria.</span></p>
                                                <p><span>5.3. We Disclaim All Warranties Regarding Any Information Or Services Provided By The Freelancers Through QAPIN And Any Transactions Carried By The Contractors Through QAPIN.</span></p>
                                                <p><span>5.4. The Client Is Solely Responsible For Carrying Out Appropriate Checks Regarding The Freelancers, Including Their Professional Qualifications And Certifications As Source Inspectors, Insurance Policies, And Legal Authorisations Prior To Concluding The Service Contracts. None Of The References Provided By Us Or The Users Of QAPIN In Relation To Any User Of QAPIN (e.g., Reviews, Comments, Ratings Or Status “verified”, “connected” Or Similar) Represents Endorsement, Certification Or Guarantee About Any User, As Well As The Information Or Services Provided By That User. We Strongly Recommend The Clients Not To Conclude Any Service Contracts If The Clients Have Any Concerns Regarding The Freelancers Or The Quality Of The Services Provided By Them.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="6. DISPUTE RESOLUTION AND REFUNDS">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>6. DISPUTE RESOLUTION AND REFUNDS</span></strong></h3>
                                                <p><span>6.1. If A Dispute Regarding The Project, The Service Fees, Or Other Matters Occurs Between The Client And The Freelancer, We Strongly Recommend Attempting To Resolve The Dispute Between The Disputing Parties First. If No Resolution Can Be Achieved By The Users, A Claim And/or A Request For A Refund (the “Claim”) Can Be Submitted To Our Dispute Resolution System Available On QAPIN (the “DRS”). We Accept Claims If: (i) The Services Are Not Provided By The Freelancer With An Acceptable Level Of Care And Skill; (ii) The Services Are Unfit For The Purpose The Client Asked For; (iii) The Services Are Not Delivered Within The Agreed Time; (iv) The Freelancer Is Not Satisfied With The Client’s Handling Of The Project; (v) The Client Refuses Freelancer’s Payment Requests; (vi) The Required Payments Are Not Deposited, (vi) A Failure To Receive An Invoice, And Other Issues. To Ensure That Your Claim Is Handled Fairly When Submitting The Claim Through DRS, Please Explain In Detail All Circumstances Regarding The Claim, Provide Sufficient Details About The Issue, And Submit Evidence Supporting Your Statements. Please Note That Only Communication Carried Through QAPIN Can Qualify As Evidence For The DRS.</span></p>
                                                <p><span>6.2. We Will Investigate Your Claim Within A Commercially Reasonable Time But No Later Than 30 Calendar Days And Inform You About The Outcome Of Your Complaint And The Refund That You Are Entitled To. We Reserve The Right To Issue Partial Refunds Of The Service Fees. If A Mutual Resolution Has Already Been Agreed Between The Users Through QAPIN, The Dispute Will Either Be Canceled Or Resolved In Line With The Mutual Agreement.</span></p>
                                                <p><span>6.3.The Users Acknowledge And Agree That Any Payments And/or Other Actions Made By The Company In Accordance With The Claim And The DRS Are Made In Good Faith And The Users Shall Have No Cause Of Action Against The Company, Whether In Contract, Tort Or Otherwise, In Respect Of The Resolution Decision Or Any Such Actions Or Payments Made Pursuant To It. The Users Further Acknowledge And Agree That They Have No Right To Seek To Hold The Company Liable For Client’s Or Freelancer’s Alleged Actions Or Failures.</span></p>
                                                <p><span>6.4. Please Note That The Client Cannot Cancel The Project And Receive A Full Refund If:</span></p>
                                              <ul>
                                                    <li>The Client Has Merely Changed The Mind About The Project;</li>
                                                    <li>The Client Insisted On Having The Services Provided In A Particular Way, Against Our Or Freelancer’s Advice; Or</li>
                                                    <li>The Client Has Failed To Explain Client’s Needs To Us Or The Freelancer.</li>
                                            </ul>
                                            <p><span>6.5. We Will Refund The Service Fees (full Or Partial) By Using The Payment Method Used By The User, Unless The User Has Expressly Requested Otherwise. The Refunds Will Be Issued Within Commercially Reasonable Time, But No Later Than 14 Calendar Days.</span></p>
                                            <p><span>6.6. Refunds Of The Commission. If You Use QAPIN As The Freelancer, No Commission Paid By You To Us Are Refundable. If The Provision Of Freelancer’s Services Is Hampered By The Client (e.g., The Client Does Not Arrive To The Agreed Place On The Agreed Time), No Refunds Shall Be Issued To The Client And The Freelancer Shall Be Entitled To Receive The Amount As Agreed With Regard To The Service Contract.</span></p>
                                            <p><span>6.7. Penalties. If We Regularly Receive Claims About A Particular User, We Reserve The Right To Charge The User A Penalty, In Our Sole Discretion, Or Take Other Corrective Measures, Including, But Not Limited To, (i) Publishing A Notice On User’s Account, (ii) Limiting Or Disabling User’s Access To QAPIN, Or (iii) Suspending Or Disabling User’s Use Of QAPIN. It Is At Our Sole Discretion To Decide What Corrective Measures Shall Be Taken. We Reserve The Right But Are No Under Any Obligation To Take Into Account The Extenuating Circumstances Given By The User. The Respective User Shall Be Informed About Our Decision And The Applied Corrective Measures No Later Than 14 Days.</span></p>
                                           <p><span>6.8. Cancellation Due To Force Majeure Events. Neither The Company, Nor The Users Shall Be Liable If The Projects That Are Cancelled Due To The Circumstances Outside Company’s Or Users’ Reasonable Control And Force Majeure Events, Including, But Not Limited To, Acts Of God, Strikes, Work Stoppages, Accidents, Acts Of War Or Terrorism, Civil Or Military Disturbances, Nuclear Or Natural Catastrophes And Interruptions, A Shortage Of Supply, And Breakdowns.</span></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="7. USER CONTENT">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>7. USER CONTENT</span></strong></h3>
                                                <p><span>7.1. During Your Use Of QAPIN, You Can Submit Various Types Of Content Through QAPIN (e.g., Descriptions Of Your Business Activities, Job Proposals, Comments, Text Messages, Photos, Videos, Links, Reviews, And Digital Files) (collectively, “User Content”). Certain Types Of The User Content Is Available To Other Users Of QAPIN (e.g., If You Use QAPIN As The Freelancer, Your Profile Information And Portfolio Is Visible To Other Users). You Are Allowed To Upload Any User Content Only If You: (i) Exercise Your Due Diligence; (ii) Do Not Make Any Sensitive Information Publicly Available To Other Users Of QAPIN; And (iii) Make Sure That, By Uploading The User Content Onto QAPIN, You Comply With These Terms.</span></p>
                                                <p><span>7.2. By Uploading The User Content Onto QAPIN, You Grant Us Unrestricted, Sub-licensable, Royalty-free, Perpetual, And Irrevocable Rights To Use, Distribute, Advertise, Adapt, Remix, Modify, Publicly Display, Publicly Perform, Excerpt, Prepare Derivative Works Of, And Reproduce Your Content For The Purposes Of Providing You With Our Services Through QAPIN And Carrying Our Legitimate Business Interests.</span></p>    
                                                <p><span>7.3. You Agree Not To Submit The User Content That Violates These Terms Or Any Applicable Laws, Including Intellectual Property Rights Of Others, And You Are Responsible For Paying All Royalties, Fees, And Any Other Monies Applicable To The User Content.</span></p>
                                                <p><span>7.4. You Understand And Agree That, In Order To Ensure The Security Of QAPIN, We May, But Have No Obligation To, Monitor Or Review The User Content. We Reserve The Right, At Our Sole Discretion, To Refuse To Upload, Modify, Delete, Or Remove The User Content, In Whole Or In Part, That Violates These Terms, May Harm The Reputation Of QAPIN, Or Is Inappropriate. However, You Remain Solely Responsible For The User Content.</span></p>
                                                <p><span>7.5. You Are Not Allowed To Make Publicly Available Personal Data Of Persons Who Have Not Provided You With Their Prior Authorisation Or Consent To Share That Personal Data (e.g., You Cannot Publish Name, Photos, And Contact Details Of A Person Who Has Not Allowed You To Do So) Through The User Content.</span></p>
                                                <p><span>7.6. The User Content Includes Users’ Personal Views And Recommendations. None Of The User Content Reflects Our Views, Recommendations, Endorsement, Or Any Commitments Related Thereto.</span></p>
                                                <p><span>7.7. The Clients May Submit Public Feedback And Rating For The Services Provided By The Freelancers Through QAPIN. We Reserve The Right To Decide Whether Or Not To Publish, Edit, And Delete Such Feedback On QAPIN, If We Have Reason To Believe, In Our Sole Discretion, That The Feedback Is Not Correct, Inappropriate, Or Defamatory.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="8. ACCEPTABLE USE POLICY">
                            <b-card-text>

                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>8. ACCEPTABLE USE POLICY</span></strong></h3>
                                                <p><span>8.1. When Using QAPIN, You Are Required To Follow Our Acceptable Use Policy Outlined In This Section 8. Please Be Advised That We Work Closely With Law Enforcement And We Report Any Inappropriate Content That May Infringe Applicable Laws.</span></p>
                                                <p><span>8.2. You Are Not Permitted To Use QAPIN In Any Manner That Substitutes Or Contributes To The Following Activities (the List Is Representative And Not Exhaustive):</span></p>
                                           <ul>
                                                <li>Any Unlawful Activity, Including Violation Of Any Laws, Statutes, Ordinances, Or Regulations;</li>
                                                <li>Fraud;</li>
                                                <li>Provision Of False, Inaccurate, Or Misleading Information;</li>
                                                <li>Dissemination Of Information About The Acts, Including Pranks And Challenges, That May Result In Injuries And Physical Harm;</li>
                                                <li>Posting Of Your Content That Depicts Or Incites Others To Commit Acts Of Violence;</li>
                                                <li>Provision Of Your Content That Depicts Children Or May Cause Emotional Distress To Children;</li>
                                                <li>Gambling, Including Contests, Lotteries, Games Of Chance, Bidding Fee Auctions, Sports Forecasting Or Odds Making, Internet Gaming, Fantasy Sports Leagues With Cash Prizes, And Sweepstakes;</li>
                                                <li>Spreading Of Malware (e.g., Viruses, Worms, Trojan Horses), Spam, And Other Illegal Messaging;</li>
                                                <li>Spreading Ethnically, Racially, Or Otherwise Objectionable Information;</li>
                                                <li>Sexually Explicit, Libellous, Harassing, Defamatory, Abusive, Profane, Vulgar, Threatening, Hateful, Obscene Behaviour And Terrorism-related Content;</li>
                                                <li>Advertising Or Encouraging The Use Of Tobacco, Alcohol, And Any Illegal Substances;</li>
                                                <li>Copying, Distributing, Renting, Reselling, Modifying, Compromising, Damaging, Disabling, Impairing, And Overburdening QAPIN;</li>
                                                <li>Interfering With Or Abusing Other Users Of QAPIN;</li>
                                                <li>Using Bots, Scripts, And Other Automated Methods; And</li>
                                                <li>Collecting And Disclosing Any Information About Other Users Of QAPIN.</li>
                                           </ul>
                                           <p><span>8.3. Reporting Inappropriate Content. If You Think That Some Of The Content Available On QAPIN Is Inappropriate, Infringes These Terms, Applicable Laws, Or Your Right To Privacy, Please Contact Us Immediately. If Any Content Or User Is Reported As Inappropriate, We Will Immediately Delete The Content From QAPIN And Investigate The Conduct Of The Reported User.</span></p>
                                           </div>
                                        </div>
                                    </div>
                                </div>

                            </b-card-text>
                        </b-tab>

                        <b-tab title="9. MARKETING AND INFORMATIONAL NOTICES">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><span>9. MARKETING AND INFORMATIONAL NOTICES</span></h3>
                                                <p><span>9.1. Marketing Messages. To Keep You Up-to-date With QAPIN, We May Send You Marketing Messages, Such As Newsletters, Brochures, Promotions And Advertisements, Informing You About Our New Services Or New Features Of QAPIN. Please Note That You Will Receive Such Marketing Messages Or Be Contacted By Us For Marketing Purposes Only If:</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="10. SECURITY">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong>10. SECURITY</strong><span></span></h3>
                                                <p><span>10.1. We Take Appropriate Security Measures, Such As Properly Secured Networks, Strong Passwords, Limited Access By Our Staff, And SSL Protocol, To Protect The Information We Store On QAPIN Against Unauthorised Access.</span>
                                                </p>
                                                <p><span>10.2. You Agree Not To Disclose Any Financial Information Through QAPIN Or Make Any Wire Transfers To Other Users Of QAPIN Or Third Parties Outside QAPIN, Unless It Is Required (i) To Process Your Payment Or (ii) Other Legitimate Purposes Within The Scope Of The Services Provided Through QAPIN.</span></p>
                                                <p><span>10.3. By Using QAPIN, You Are Solely Responsible For Your Interactions With Other Users Of QAPIN. You Acknowledge And Agree That We Do Not Conduct Any Checks Of The Qualifications, Certification, Skills, And Background Of QAPIN Users. We Make No Representations Or Warranties As To The Conduct Of QAPIN Users.</span></p>
                                               <p><span>10.4. Due To The Specifics Of Communications And Information Processing Technology And The Internet, We Cannot Accept Liability For Any Security Incidents, Cyber Attacks, Data Breaches, And Unlawful Destruction, Loss, Use, Copying, Modification, Leakage, And Falsification Of Any Information Caused By Circumstances That Are Beyond Our Reasonable Control. If Necessary, We Will Inform Relevant Authorities Without Undue Delay About Any Serious Security Breaches And Immediately Take Reasonable Measures To Mitigate The Breach, As Required By The Applicable Law. Our Liability For Any Security Incidents Will Be Limited To The Highest Extent Permitted By The Applicable Law.</span></p>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="11. INTELLECTUAL PROPERTY">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>11. INTELLECTUAL PROPERTY</span></strong></h3>
                                                <p><span>11.1. QAPIN’s Content. We Own Most Of The Content Made Available On QAPIN, Excluding The User Content (the “QAPIN’s Content”). The QAPIN’s Content Includes, But Is Not Limited To, Text, Images, Audiovisual Content, Source Code, Trademarks, Service Marks And Trade Names Available On QAPIN. The QAPIN’s Content Is Protected By Local Intellectual Property Laws And International Treaties. You Are Not Allowed To Use The QAPIN’s Content In Any Manner, Without Obtaining Prior Written Authorisation From Us. The Term “use” Includes, But Is Not Limited To: (i) Copying, Distributing, Renting, Loaning, Leasing, And Making Available The QAPIN’s Content To Third Parties Or Attempting To Do So; (ii) Disassembling, Altering, Decompiling, Reverse Engineering, Translating, And Adapting The QAPIN’s Content; And (iii) Using Any Manual Or Automated Means To Extract, Scrape, Or Harvest Any Content Available On QAPIN.</span></p>
                                                <p><span>11.2. Third-party Intellectual Property. Some Of The Intellectual Property Featured On QAPIN May Be Owned By The Users And Other Third Parties. Such Third-party Intellectual Property Remains The Sole Property Of The Respective Third-party Proprietors.</span></p>
                                                <p><span>11.3. Copyright Infringement Claims. We Respect Intellectual Property Rights. If You Have A Reason To Believe That Any Content Available On QAPIN Violates Your Or Third Party’s Intellectual Property Rights, We Kindly Ask You To Contact Us So That We Could Take Reasonable Steps To Remove The Allegedly Infringing Content. In Your Copyright Infringement Claim, Please Provide Sufficient Details Allowing Us To Locate The Content. We Will Reply To The Copyright Infringement Claim As Soon As Possible But No Later Than 2 Weeks.</span></p>
                                               <p><span>11.4. Sponsored Content. You Acknowledge That, Unless We Are Required By Law To Do So, We May Not Identify Sponsored Content Or Commercial Communications.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="12. AVAILABILITY">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>12. AVAILABILITY</span></strong></h3>
                                                <p><span>12.1. We Put Reasonable Efforts To Ensure That QAPIN Is Always Available. However, From Time To Time, The Availability Of QAPIN May Be Affected By Factors, Which We Cannot Control, Such As Bandwidth Problems, Equipment Failure, Acts And Omissions Of Our Third-party Service Providers, Or Force Majeure Events, Including, Without Limitation, Strikes, Accidents, Acts Of War, Terrorism, Nuclear And Natural Catastrophes, Loss Or Malfunctioning Of Utilities, Networks, Software And Hardware). We Take No Responsibility For The Unavailability Of QAPIN Caused By Such Factors.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="13. DISCLAIMER OF WARRANTIES">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>13. DISCLAIMER OF WARRANTIES</span></strong></h3>
                                                <p><span>13.1. We Provide QAPIN On “as Available”, “as Is”, And “with All Faults” Basis. To The Extent Permitted By The Applicable Law, We Do Not Make Any Representations Or Warranties About The Reliability, Suitability, And Accuracy, For Any Purpose, Of QAPIN, Any Content Featured On QAPIN, Whether Provider By Us Or By Third Parties, And Hereby Disclaim All Warranties Regarding QAPIN And Its Operation.</span></p>
                                           <p><span>13.2. It Is Your Sole Responsibility To Verify And Assess The Fit For The Purpose Of QAPIN Prior To Using It And To Decide Whether Or Not QAPIN Fits For The Intended Use.</span></p>
                                           <p><span>13.3. By Using QAPIN, You Acknowledge That We May Use Third-party Suppliers To Provide Software, Hardware, Storage, Networking, And Other Technological Services. The Acts And Omissions Of Third-party Suppliers May Be Outside Of Our Reasonable Control. To The Maximum Extent Permitted By Law, We Exclude Any Liability For Any Loss Or Damage Resulting From The Acts And Omissions Of Such Third-party Suppliers.</span></p>
                                           <p><span>13.4. Nothing In These Terms Shall Affect Any Statutory Rights That You Are Entitled To As A Consumer And That You Cannot Contractually Agree To Alter Or Waive.</span></p>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="14. LIMITATION OF LIABILITY">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>14. LIMITATION OF LIABILITY</span></strong></h3>
                                                <p><span>14.1. Unless Otherwise Stated By The Applicable Law, We Shall Not Be Liable For Any Damages, Including, Without Limitation, Incidental, Punitive, Special Or Other Related Damages, Arising Out Or In Connection With Your Use Of QAPIN, Any Content Made Available Through QAPIN, Whether Provided By Us Or By Third Parties, Or Any Transactions Concluded Through QAPIN. You Agree Not To Hold Us Liable In Respect Of Any Losses Arising Out Of Any Event Or Events Beyond Our Reasonable Control.</span></p>
                                           <p><span>14.2. We Will Not Be Liable To You For Any Direct, Indirect Or Consequential Loses, Which May Be Incurred By You In Relation To QAPIN, Such As Direct And Indirect Loss Of Profits, Equipment, Goodwill Or Business Reputation, Opportunities, Or Data.</span></p>
                                           <p><span>14.3. We Shall Not Be Liable To You For Any Loss Or Damage, Which May Be Incurred By You As A Result Of:</span></p>
                                           <ul>
                                                <li>Any Changes Which We May Make To QAPIN, Or For Any Permanent Or Temporary Cessation In The Provision Of QAPIN Or Any Features Thereof;</li>
                                                <li>The Deletion Of, Corruption Of, Or Failure To Store Any Of The User Content And Other Communications Data Maintained Or Transmitted By Or Through QAPIN;</li>
                                                <li>Your Failure To Provide Us With Accurate Account Information;</li>
                                                <li>Communication, Business Or Personal Relationships Between The Clients And The Freelancers;</li>
                                                <li>Your Failure To Keep Your Login Details To Your Account Secure And Confidential; And</li>
                                                <li>Any Reliance Placed By You On The Completeness, Accuracy Or Existence Of Any Interaction Carried Through QAPIN, Content, Information, Recommendations, Or Advertising Featured On QAPIN, Or As A Result Of Any Relationship Or Transaction Between You And The Freelancers, The Clients, Any Other Users Of QAPIN, Or Advertisers And Sponsors Whose Content Appears On QAPIN.</li>
                                                <li>14.4. This Section 13 Shall Apply Whether Or Not We Have Been Advised F Or Should Have Been Aware Of The Possibility Of Any Such Losses Arising.    </li>
                                           </ul>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
                        
                        <b-tab title="15. INDEMNIFICATION">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>15. INDEMNIFICATION</span></strong></h3>
                                                <p><span>15.1. You Agree To Indemnify, Defend And Hold Us, Our Subsidiaries, Affiliate, Partners, Officers, Directors, Agents, Contractors, Licensors, Service Providers, Subcontractors, Suppliers, Interns And Employees, Harmless From Any Claim Or Demand, Including Attorneys’ Fees, Made By Any Third Party Due To Or Arising Out Of Your Breach Of These Terms, Your Use Of QAPIN, Or Your Violation Of Any Law Or The Rights Of A Third Party.</span></p>                                         
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="16. SEVERABILITY">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>16. SEVERABILITY</span></strong></h3>
                                                <p><span>16.1. In The Event That Any Provision Of These Terms Is Determined To Be Unlawful, Void Or Unenforceable, Such A Provision Shall Nonetheless Be Enforceable To The Fullest Extent Permitted By The Applicable Law, And The Unenforceable Portion Shall Be Deemed To Be Severed From These Terms. The Validity And Enforceability Of The Remaining Provisions Shall Not Be Affected As A Result.</span></p>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>

                        <b-tab title="17. GOVERNING LAW AND DISPUTES">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>17. GOVERNING LAW AND DISPUTES</span></strong></h3>
                                      <p><span>17.1. Governing Law. These Terms Shall Be Governed And Construed In Accordance With The Laws Of China, Without Regard To Its Conflicts Of Law Provisions.</span></p>
                                      <p><span>17.2. Jurisdiction. You Agree To Resolve Any Disputes Arising Out Of Or Relating To These Terms By Means Of Negotiation With The Company. If The Dispute Cannot Be Resolved By Means Of Negotiation, The Dispute Shall Be Submitted To The Exclusive Jurisdiction Of The Courts In China. This Section 16 Does Not Affect Any Statutory Rights That You Are Entitled To As A Consumer.</span></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
 
                        <b-tab title="18. MISCELLANEOUS">
                            <b-card-text>
                                <div class="w-full px-4   bg-white   xl:px-0 xl:mx-auto ">
                                    <div class="col-md-12 col-12">
                                        <div class="w-full mx-auto xl:mx-auto xl:max-w-7xl privacy">
                                            <div class="content-inner">
                                                <h3><strong><span>18. MISCELLANEOUS</span></strong></h3>
                                      <p><span>18.1. The Terms Enter Into Force On The Effective Date Indicated At The Top Of The Terms. The Terms Remain Valid Until Updated Or Terminated By Us Or Until You Stop Using QAPIN.</span></p>
                                      <p><span>18.2. We Reserve The Right To Modify These Terms At Any Time By (i) Indicating The New Effective Date And (ii) Posting Of An Updated Version Of The Terms On QAPIN. Such Amendments May Be Necessary Due To The Changes In The Requirements Of Laws, Regulations, New Features Of QAPIN, And Our Business Practices. We Will Send You A Notification (if We Have Your Email Address) About Any Material Amendments To The Terms. Please Regularly Review These Terms To Stay Up-to-date. Your Continued Use Of QAPIN After Any Changes Shall Constitute Your Consent To Such Changes. We Also Reserve The Right To Modify The Services Provided Through QAPIN At Any Time, At Our Sole Discretion.</span></p>
                                       <p><span>18.3. If We Believe, At Our Sole Discretion, That You Violate These Terms And It Is Appropriate, Necessary Or Desirable To Do So, We May:</span></p>
                                       <ul>
                                        <li>Send The User A Formal Warning;</li>
                                        <li>Temporary Suspend Your Account;</li>
                                        <li>Delete Your Account;</li>
                                        <li>Temporarily Or Permanently Prohibit Your Use Of QAPIN;</li>
                                        <li>Report You To The Relevant Public Authorities; Or</li>
                                        <li>Commence A Legal Action Against You.</li>
                                       </ul>
                                       <p><span>18.4. You Are Not Allowed To Assign Your Rights Under These Terms. We Are Entitled To Transfer Our Rights And Obligations Under These Terms Entirely Or Partially To A Third Party By Giving A Prior Notice To You. If You Do Not Agree To The Transfer, You Can Terminate These Terms With Immediate Effect By Deleting The Account, Cancelling The Fees, And Stopping To Use QAPIN.</span></p>
                                       <p><span>18.5. In The Event The Company, During The Term Of These Terms, Is Acquired, Merged, Or Sells All Or Substantially All Of Its Assets, These Terms Shall Not Automatically Be Terminated And The Company Agrees To Use Its Best Efforts To Ensure That The Transferee Or Surviving Company Shall Assume And Be Bound By The Provisions Of These Terms.</span></p>
                                       <p><span>18.6. These Terms, Together With The Documents Referred To Therein, Represent The Entire Agreement Between You And Us Regarding Your Relationship With Us And Govern Your Use Of QAPIN.</span></p>
                                       </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
        </div>
            <TheHomeSiteFooter class="" v-if="!isAuth" />
    </div>

</template>

<script>
import TheHomeSiteHeader from "../../components/TheHomeSiteHeader.vue";
import TheHomeSiteFooter from "./TheHomeSiteFooter.vue";

export default {
    components: {
       TheHomeSiteFooter,
       TheHomeSiteHeader
    },
    data() {
    return {
      isAuth: null,
    }
  },
  mounted() {
    this.isAuth = localStorage.getItem("token");
    if (this.$route.name == "ExpireLink") {
      this.isAuth = null;
    }
    this.getCurrentUserDetails();
  },

}
</script>
<style  lang="css">
.table td {
    padding: 10px 10px !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.privacy {
    margin: 0px 0px 50px;

}

.privacy .content-area {
    padding: 10px;
    border: 2px dashed #f2613c;
}

.privacy .entry-header {
    background-color: #f2613c;
    padding: 10px;
    color: #333;
    margin-bottom: 2px;
}

.privacy li {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    color: #404040;
    margin-bottom: 10px;
    list-style: disc;
    margin-left: 0px;
}

.privacy h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 24px;
}

.privacy p span {
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
    color: #404040;
}

.privacy p {
    text-align: justify;
}
.privacy-policy-wrapper .nav-pills .nav-link.active,
.privacy-policy-wrapper .nav-pills .show>.nav-link {
    color: #f2613c;
    background-color: #fff;
    border-left: 3px solid #f2613c;
    border-radius: 0px;
}

.privacy-policy-wrapper .nav-pills .nav-link {
  color: #333;
}

.privacy-policy-wrapper .tab-content{

    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

}
.privacy-policy-wrapper .card{
    border: 0 !important;
}
.privacy-policy-wrapper .card-header {
    padding: 2.5rem 1rem;

}
</style>