<template> 
<div class="px-5 py-5 border-bottom">
    <div class="text-center" v-if="educationArr.length==0">
        <div class="pro-img-wrapper">
        <img
            src="http://qapin_mvp5.manageprojects.in/upload/freelancer/education.png"
            class="m-auto img-fluid"
        />
        </div>
        <div class="pro-content">
        <h4 class="mt-2 mb-0 text-black fz-24 fw-600">Education</h4>
        <p class="fz-18 fw-400 text-muted">
            Please Detail Your Education And The Qualifications You
            Have.
        </p>
        <a
            href="javascript:void(0);"
            class="text-theme fz-20 fw-600"
            v-b-modal.education-modal
            >+ Add Education Details</a
        >
        
        </div>
    </div>
    
    <div class="education-filled" v-else>
        <b-row>
        <b-col xl="12" lg="12">
            <h4 class="mt-2 mb-4 text-black fz-24 fw-600">
            Education
            </h4>
            <div class="pb-4 mb-4 education-section" v-for="(educa ,index ) in education.education_list" :key="index">
                <div class="d-flex align-items-normal">
                    <div class="mr-3 wrap w-30">{{educa.start_year}} - {{educa.end_year}}</div>
                    <div class="content">
                    <h4 class="mb-0 text-black fz-20 fw-600">
                        {{educa.university_name}}
                    </h4>
                    <p class="mb-0 fz-16 text-muted fw-600">{{educa.course_name}}</p>
                    <!-- <p class="mb-0 fz-14 text-muted fw-600">Delhi</p> -->
                    </div>
                </div>
                <div class="details">
                    <p class="mb-0 fz-16 text-muted fw-400">
                    {{educa.education_description}}
                    </p>
                </div>
                <div class="ml-auto">
                    <button class="mr-2 btn btn-outline-theme" v-b-modal.education-modal>
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-theme" @click="deleteEducationById(educa.user_education_record_id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            
        </b-col>
        </b-row>
    </div>
    <b-modal
            id="education-modal"
            size="lg"
            title="Edit Education"
        >
            <form action="" class="text-left">
            <b-row>
                <b-col lg="12" sm="12">
                <div class="form-group">
                    <label>School</label>
                    <b-form-input
                    v-model="text"
                    placeholder="Engineering in Information Technology"
                    ></b-form-input>
                </div>
                </b-col>
                <b-col lg="6" sm="12">
                <div class="form-group">
                    <label>Dates Attended ( Optional )</label>
                    <b-form-group>
                    <b-form-select
                        :options="from"
                        class="form-control"
                    ></b-form-select>
                    </b-form-group>
                </div>
                </b-col>
                <b-col lg="6" sm="12">
                <div class="form-group">
                    <label></label>
                    <b-form-group>
                    <b-form-select
                        :options="to"
                        class="form-control"
                    ></b-form-select>
                    </b-form-group>
                </div>
                </b-col>
                <b-col lg="12" sm="12">
                <div class="form-group">
                    <label>Degree ( Optional )</label>
                    <b-form-input
                    v-model="text"
                    placeholder="Bechlor of Engineering ( BEng )"
                    ></b-form-input>
                </div>
                </b-col>
                <b-col lg="12" sm="12">
                <div class="form-group">
                    <label>Area of Study ( Optional )</label>
                    <b-form-input
                    v-model="text"
                    placeholder="Information Technology"
                    ></b-form-input>
                </div>
                </b-col>
                <b-col lg="12" sm="12">
                <div class="form-group">
                    <label>Description (Optional)</label>
                    <b-form-textarea
                    id="textarea"
                    v-model="text"
                    placeholder="Write somthing here..."
                    rows="3"
                    max-rows="6"
                    ></b-form-textarea>
                </div>
                </b-col>
            </b-row>
            </form>
            <template #modal-footer>
            <div class="text-right w-100">
                <a href="javascript:void(0);" class="mr-2 text-theme"
                >Cancel</a
                >
                <b-button
                size="lg"
                class="btn btn-theme"
                @click="show = false"
                >
                Save
                </b-button>
            </div>
            </template>
        </b-modal>
    </div>
</template>

<script> 
import { mapActions } from "vuex";
export default {
  components: {
    
  },
  data() {
    return {
        educationArr :[],
        education: {
            education_list: [{
                user_education_record_id: 0,
                university_name: '',
                course_name: '',
                start_year: '',
                end_year: ''
            }]
        },
       
    }
  },
  async mounted() {
    this.getUserEducation(); 
  },
  methods: {
      ...mapActions(["genericAPIPOSTRequest"]),
        async getUserEducation(){
        var res = await this.genericAPIPOSTRequest({
                requestUrl: "user/getUserEducation",
                params: {},
            }); 
        this.educationArr =  res;
        this.education.education_list = res; 
        },
        async addUpdateEducatio() {
            await this.genericAPIPOSTRequest({
                requestUrl: "user/addUpdateEducation",
                params: {"education": this.education.education_list},
            });  
            this.getUserEducation();
        },
        addMoreeducation: function() {
            this.education.education_list.push({
                user_education_record_id: 0,
                university_name: '',
                course_name: '',
                start_year: '',
                end_year: ''
            });
        },
        removeEdu: function(index) {
            this.education.education_list.splice(index, 1);
        }, 
        async deleteEducationById(id) {
            await this.genericAPIPOSTRequest({
                requestUrl: "user/deleteEducationById",
                params: {"eduRowId":id},
            });
            this.getUserEducation();
        },

    },
}
</script>    