    <template>
      <b-container>
        <b-row class="mt-100 posting-wrap">
          <b-col xl="12" lg="12" sm="12">
            <div class="d-md-flex align-items-center mb-3">
              <h4 class="mb-0 fz-24 fw-500 text-black"><b>All Contract</b></h4>
              <div class="ml-auto">
                <b-button class="btn btn-theme">Post a Job</b-button>
              </div>
            </div>
            <b-row>
              <b-col xl="4" lg="4" sm="12">
                <b-form-input type="text" v-model="search" placeholder="Search for Job, people, groups and more... "></b-form-input>
              </b-col>
              <b-col xl="8" lg="8" sm="12">
                <div class="dropdown">
                  <div class="dropdown-header" @click="toggleDropdown($event)">
                    <div class="d-flex align-items-center justify-content-end">
                      <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.15625 4.625V9.625C9.15625 9.97018 8.87643 10.25 8.53125 10.25C8.18607 10.25 7.90625 9.97018 7.90625 9.625V4.625C7.90625 4.27982 8.18607 4 8.53125 4C8.87643 4 9.15625 4.27982 9.15625 4.625ZM11.6562 17.125C11.6562 18.8509 10.2571 20.25 8.53125 20.25C6.80536 20.25 5.40625 18.8509 5.40625 17.125C5.40625 15.3991 6.80536 14 8.53125 14C10.2571 14 11.6562 15.3991 11.6562 17.125ZM9.15625 21.4557V23.375C9.15625 23.7202 8.87643 24 8.53125 24C8.18607 24 7.90625 23.7202 7.90625 23.375V21.4557C5.78607 21.1524 4.15625 19.329 4.15625 17.125C4.15625 14.7088 6.115 12.75 8.53125 12.75C10.9475 12.75 12.9062 14.7088 12.9062 17.125C12.9062 19.329 11.2764 21.1524 9.15625 21.4557ZM20.1562 23.375C20.1562 23.7202 20.4361 24 20.7812 24C21.1264 24 21.4062 23.7202 21.4062 23.375V18.375C21.4062 18.0298 21.1264 17.75 20.7812 17.75C20.4361 17.75 20.1562 18.0298 20.1562 18.375V23.375ZM20.1562 6.54431V4.625C20.1562 4.27982 20.4361 4 20.7812 4C21.1264 4 21.4062 4.27982 21.4062 4.625V6.54431C23.5264 6.84757 25.1562 8.67096 25.1562 10.875C25.1562 13.2912 23.1975 15.25 20.7812 15.25C18.365 15.25 16.4062 13.2912 16.4062 10.875C16.4062 8.67096 18.0361 6.84757 20.1562 6.54431ZM20.7812 7.75C22.5071 7.75 23.9062 9.14911 23.9062 10.875C23.9062 12.6009 22.5071 14 20.7812 14C19.0554 14 17.6562 12.6009 17.6562 10.875C17.6562 9.14911 19.0554 7.75 20.7812 7.75Z" fill="#666666"/>
                      </svg>
                      <span class="text-theme fz-16 fw-600">Filter</span>
                    </div>
                  </div>
                    
                  <div class="dropdown-content shadow border">
                    <div class="selected-tags mb-2 mt-2">
                      <div class="tags-wrap">
                        <ul>
                          <li>
                            <a href="javascript:void(0);" class="d-flex align-items-center">
                              <span class="mr-2 fz-12">Wordpress</span>
                              <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);" class="d-flex align-items-center">
                              <span class="mr-2 fz-12">Wordpress</span>
                              <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);" class="d-flex align-items-center">
                              <span class="mr-2 fz-12">Wordpress</span>
                              <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                            </a>
                          </li>
                          <a href="javascript:void(0);" class="text-black fz-14">
                            Clear all
                          </a>
                        </ul>
                      </div>
                    </div>
                    <hr>
                    <b-row>
                      <b-col xl="3" lg="3" sm="12">
                        <label class="fz-18 fw-600 text-black mb-4">Contract Status</label>
                        <b-form-group>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="A" class="fz-16 fw-400 text-black">All</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="B" class="fz-16 fw-400 text-black">Pending</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="C" class="fz-16 fw-400 text-black">Active</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="D" class="fz-16 fw-400 text-black">Ended</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="E" class="fz-16 fw-400 text-black">Paused</b-form-radio>
                        </b-form-group>
                      </b-col>
                      <b-col xl="3" lg="3" sm="12">
                        <label class="fz-18 fw-600 text-black mb-4">Milestone Status</label>
                        <b-form-group>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="A" class="fz-16 fw-400 text-black">All</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="B" class="fz-16 fw-400 text-black">Active</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="C" class="fz-16 fw-400 text-black">Awaiting Funding</b-form-radio>
                          <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="D" class="fz-16 fw-400 text-black">Payment Requested</b-form-radio>
                        </b-form-group>
                      </b-col>
                      <b-col xl="6" lg="6" sm="12">
                        <b-row>
                          <b-col xl="12" lg="12" sm="12" class="py-0">
                            <label class="fz-18 fw-600 text-black mb-4">Contract Start Date</label>
                            <div class="d-flex align-items-center">
                              <b-form-group
                                id="fieldset-1"
                                valid-feedback="Thank you!"
                                :invalid-feedback="invalidFeedback"
                                :state="state"
                                class="fz-14 fw-600 w-50"
                                placeholder="DD - MM - YYYY"
                              >
                                <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                              </b-form-group>
                              <span class="ml-2 mr-2">To</span>
                              <b-form-group
                                id="fieldset-2"
                                valid-feedback="Thank you!"
                                :invalid-feedback="invalidFeedback"
                                :state="state"
                                class="fz-14 fw-600 w-50"
                                placeholder="DD - MM - YYYY"
                              >
                                <b-form-datepicker id="example-datepicker1" v-model="value" class="mb-2"></b-form-datepicker>
                              </b-form-group>
                            </div>
                          </b-col>
                        </b-row>
                        <b-row>
                          <b-col xl="12" lg="12" sm="12" class="py-0">
                            <label class="fz-18 fw-600 text-black mb-4 mt-2">Contract End Date</label>
                            <div class="d-flex align-items-center">
                              <b-form-group
                                id="fieldset-3"
                                valid-feedback="Thank you!"
                                :invalid-feedback="invalidFeedback"
                                :state="state"
                                class="fz-14 fw-600 w-50"
                                placeholder="DD - MM - YYYY"
                              >
                                <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                              </b-form-group>
                              <span class="ml-2 mr-2">To</span>
                              <b-form-group
                                id="fieldset-4"
                                valid-feedback="Thank you!"
                                :invalid-feedback="invalidFeedback"
                                :state="state"
                                class="fz-14 fw-600 w-50"
                                placeholder="DD - MM - YYYY"
                              >
                                <b-form-datepicker id="example-datepicker1" v-model="value" class="mb-2"></b-form-datepicker>
                              </b-form-group>
                            </div>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                    <hr>
                    <b-button class="btn btn-theme mr-2">Apply Filter</b-button>
                    <b-button class="btn btn-outline-theme">Cancel</b-button>
                  </div>
                </div>
              </b-col>
              <b-col xl="12" lg="12" sm="12">   
                <div class="d-flex align-items-center">
                  <label class="mr-2">Sorted by:- </label>
                  <b-form-select v-model="selected">
                    <b-form-select-option :value="null">Please select an option</b-form-select-option>
                    <b-form-select-option value="a">Applicant</b-form-select-option>
                  </b-form-select>
                </div>
              </b-col>
            </b-row>
            <b-card-group deck>
              <b-card title-class="text-theme font-14" class="py-4 px-4 mt-4">
                <div class="posted-job-wrapper border-bottom">
                  <div>
                    <div class="d-flex align-items-center mt-4">
                      <h5 class="fz-18 fw-600">Python Developer - Full Time</h5>
                      <div class="ml-auto">
                        <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                          <template #button-content>
                            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                            </svg>
                          </template>
                          <b-dropdown-item href="#">View Milestones & Payments</b-dropdown-item>
                          <b-dropdown-item href="#">View Profile</b-dropdown-item>
                          <b-dropdown-item href="#">Send a Message</b-dropdown-item>
                        </b-dropdown>
                      </div>
                    </div>
                    <b-row class="mt-2">
                      <b-col xl="7" lg="7" sm="12">
                        <div class="d-md-flex align-items-center mb-2">
                          <div class="img-wrapper mr-3 w-15 h-15 br-20">
                            <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid br-20 w-100 h-100">
                          </div>
                          <div>
                            <h4 class="fz-18 fw-600 text-theme mb-0"><a href="javascript:void(0);" class="text-theme">Lewis Caldwell MKP</a></h4>
                            <p class="fz-14 fw-600 text-muteed mb-0">23:30 PM Local Time</p>
                          </div>
                        </div> 
                      </b-col>
                      <b-col xl="2" lg="2" sm="12" class="text-right"></b-col>
                      <b-col xl="3" lg="3" sm="12" class="text-right">
                        <b-button class="btn btn-theme">Active Milestone</b-button>
                        <p class="fz-14 text-black fw-600 text-right mt-3">Dec 10, 2021 - Present</p>
                      </b-col>
                    </b-row>
                  </div>
                </div>
                <div class="posted-job-wrapper border-bottom">
                  <div>
                    <div class="d-flex align-items-center mt-4">
                      <h5 class="fz-18 fw-600">Python Developer - Full Time</h5>
                      <div class="ml-auto">
                        <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                          <template #button-content>
                            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                            </svg>
                          </template>
                          <b-dropdown-item href="#">View Milestones & Payments</b-dropdown-item>
                          <b-dropdown-item href="#">View Profile</b-dropdown-item>
                          <b-dropdown-item href="#">Send a Message</b-dropdown-item>
                        </b-dropdown>
                      </div>
                    </div>
                    <b-row class="mt-2">
                      <b-col xl="7" lg="7" sm="12">
                        <div class="d-md-flex align-items-center mb-2">
                          <div class="img-wrapper mr-3 w-15 h-15 br-20">
                            <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid br-20 w-100 h-100">
                          </div>
                          <div>
                            <h4 class="fz-18 fw-600 text-theme mb-0"><a href="javascript:void(0);" class="text-theme">Lewis Caldwell MKP</a></h4>
                            <p class="fz-14 fw-600 text-muteed mb-0">23:30 PM Local Time</p>
                          </div>
                        </div> 
                      </b-col>
                      <b-col xl="2" lg="2" sm="12">
                        <h4 class="fz-18 fw-600 text-black">Active</h4>
                        <h5 class="fz-18 fw-600 text-black">$7500 Budget</h5>
                      </b-col>
                      <b-col xl="3" lg="3" sm="12" class="text-right">
                        <b-button class="btn btn-theme">Details</b-button>
                        <p class="fz-14 text-black fw-600 text-right mt-3">Dec 10, 2021 - Present</p>
                      </b-col>
                    </b-row>
                  </div>
                </div>
                <div class="posted-job-wrapper border-bottom">
                  <div>
                    <div class="d-flex align-items-center mt-4">
                      <h5 class="fz-18 fw-600">Python Developer - Full Time</h5>
                      <div class="ml-auto">
                        <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                          <template #button-content>
                            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                            </svg>
                          </template>
                          <b-dropdown-item href="#">View Milestones & Payments</b-dropdown-item>
                          <b-dropdown-item href="#">View Profile</b-dropdown-item>
                          <b-dropdown-item href="#">Send a Message</b-dropdown-item>
                        </b-dropdown>
                      </div>
                    </div>
                    <b-row class="mt-2">
                      <b-col xl="7" lg="7" sm="12">
                        <div class="d-md-flex align-items-center mb-2">
                          <div class="img-wrapper mr-3 w-15 h-15 br-20">
                            <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid br-20 w-100 h-100">
                          </div>
                          <div>
                            <h4 class="fz-18 fw-600 text-theme mb-0"><a href="javascript:void(0);" class="text-theme">Lewis Caldwell MKP</a></h4>
                            <p class="fz-14 fw-600 text-muteed mb-0">23:30 PM Local Time</p>
                          </div>
                        </div> 
                      </b-col>
                      <b-col xl="2" lg="2" sm="12">
                        <h4 class="fz-18 fw-600 text-black">Paused</h4>
                        <h5 class="fz-18 fw-600 text-black">$7500 Budget</h5>
                      </b-col>
                      <b-col xl="3" lg="3" sm="12" class="text-right">
                        <b-button class="btn btn-danger">Details</b-button>
                        <p class="fz-14 text-black fw-600 text-right mt-3">Dec 10, 2021 - Present</p>
                      </b-col>
                    </b-row>
                  </div>
                </div>
                <div class="posted-job-wrapper border-bottom">
                  <div>
                    <div class="d-flex align-items-center mt-4">
                      <h5 class="fz-18 fw-600">Python Developer - Full Time</h5>
                      <div class="ml-auto">
                        <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                          <template #button-content>
                            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                            </svg>
                          </template>
                          <b-dropdown-item href="#">View Milestones & Payments</b-dropdown-item>
                          <b-dropdown-item href="#">View Profile</b-dropdown-item>
                          <b-dropdown-item href="#">Send a Message</b-dropdown-item>
                        </b-dropdown>
                      </div>
                    </div>
                    <b-row class="mt-2">
                      <b-col xl="7" lg="7" sm="12">
                        <div class="d-md-flex align-items-center mb-2">
                          <div class="img-wrapper mr-3 w-15 h-15 br-20">
                            <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid br-20 w-100 h-100">
                          </div>
                          <div>
                            <h4 class="fz-18 fw-600 text-theme mb-0"><a href="javascript:void(0);" class="text-theme">Lewis Caldwell MKP</a></h4>
                            <p class="fz-14 fw-600 text-muteed mb-0">23:30 PM Local Time</p>
                          </div>
                        </div> 
                      </b-col>
                      <b-col xl="2" lg="2" sm="12">
                        <h4 class="fz-18 fw-600 text-black mb-0">Completed</h4>
                        <div class="d-flex align-items-center mb-0">
                          <label for="star-1" class="mr-1"><i class="fa fa-star text-theme"></i></label>
                          <label for="star-2" class="mr-1"><i class="fa fa-star text-theme"></i></label>
                          <label for="star-3" class="mr-1"><i class="fa fa-star text-theme"></i></label>
                          <label for="star-4" class="mr-1"><i class="fa fa-star text-theme"></i></label>
                          <label for="star-5"><i class="fa fa-star"></i></label>
                        </div>
                        <h5 class="fz-18 fw-600 text-black">$7500 Budget</h5>
                      </b-col>
                      <b-col xl="3" lg="3" sm="12" class="text-right">
                        <b-button class="btn btn-success">Rehire</b-button>
                        <p class="fz-14 text-black fw-600 text-right mt-3">Dec 10, 2021 - Present</p>
                      </b-col>
                    </b-row>
                  </div>
                </div>
                <div class="text-center py-4 text-theme">
                  <b-spinner type="border" medium></b-spinner>
                </div>
              </b-card>
            </b-card-group> 
          </b-col>
        </b-row>
      </b-container>
    </template>
    <script>
      export default {
        data() {
          return {
            selected: null,
            transaction: [
              { value: null, text: 'All Transaction' },
              { value: 'a', text: 'This is First option' },
              { value: 'b', text: 'Selected Option' },
              { value: { C: '3PO' }, text: 'This is an option with object value' },
              { value: 'd', text: 'This one is disabled', disabled: true }
            ]
          }
        },
        methods: {
          toggleDropdown (event) {
            event.currentTarget.classList.toggle('is-active')
          }
        }
      }
    </script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
      body{font-family: 'Source Sans Pro', sans-serif!important;}
      .text-muted{color:#979797!important;}
      .ralative {padding-bottom:0px;}
      .theme-bg{background-color: #FFF6F4!important;}
      .bg-none{background-color:transparent;}
      .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
      .border-bottom{border-bottom: 1px solid #EBEBEB!important;}
      .br-20{border-radius: 20px;}
      .border-none{border:0px!important;}
      .fz-16{font-size:16px;}
      .fz-18{font-size:18px;}
      .fw-600{font-weight:600;}
      .fw-500{font-weight:500;}
      .fw-400{font-weight:400;}
      .mb-23{margin-bottom:23px;}
      .no-bottom-border{border-bottom:0px!important;}
      .border-top-0{border-top:0px!important;}
      .theme-bg-box{background: rgba(242, 97, 60, 0.05);border-radius: 20px;padding:20px;}
      p {margin-top: 0!important;margin-bottom: 1rem!important;}
      h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
      dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
      ol, ul {padding-left: 2rem!important;}
      .fz-30{font-size:26px!important;}

      .posting-wrap .card{border-radius:20px;}  
      .posting-wrap .card-header{border-radius:20px 20px 0 0!important;}
      .posting-wrap .card-body{border-radius:0 0 20px 20px;    padding: 0 12px;}
      .posting-wrap .card-footer{border-radius:0 0 20px 20px!important;background-color:#fff;}
      .tags-wrap ul{margin-bottom:0px!important;}
      a{text-decoration:none!important;}
      .posted-job-wrapper{padding-bottom:15px;margin-bottom:15px;}
      .posted-job-wrapper.border-bottom:last-child{border-bottom:0!important;}
      .posted-job-wrapper .dropdown-menu{padding-left:0px!important;}

      .dropdown-header {cursor: pointer;line-height: 50px;padding-left: 10px;padding-right: 50px;position: relative;text-overflow: ellipsis;}
      .dropdown-header i.fa {position: absolute;right: 10px;top: 50%;transform: translateY(-50%);transition: opacity 0.3s;}
      .dropdown-header i.fa.fa-angle-up {opacity: 0;}
      .dropdown-header.is-active i.fa.fa-angle-up {opacity: 1;}
      .dropdown-header.is-active i.fa.fa-angle-down {opacity: 0;}
      .dropdown-header.is-active + .dropdown-content {height: auto;opacity: 1;visibility: visible;display:block;}
      .dropdown-content {height: 0;opacity: 0;overflow: hidden;padding: 20px;transition: opacity 0.3s;visibility: hidden;background-color:#fff;    border-radius: 8px;margin-bottom: 20px;display:none;}
      .dropdown-content .custom-control label{font-weight:500;font-size:16px;color:#333;}
      .w-15 {width: 4.5rem;}
      .h-15 {height: 4.5rem;}
    
    </style>
