  <template>
    <b-container>
      <b-row class="mt-100 client-dashboard-wrap">
        <b-col xl="12" lg="12" sm="12">
          <div class="d-flex align-items-center w-100 mb-4">
            <div>
              <h4 class="fz-24 fw-600 text-black">Dashboard</h4>
            </div>
            <div class="ml-auto d-flex align-items-center">
              <b-button @click="$router.push('/client/post-job')" class="btn btn-theme">Post a Job</b-button>
            </div>
          </div>
          
          <b-card no-body>
            <div class="view-wrapper mb-4">
              <div>
                <div class="header px-4 py-4">
                  <div class="d-flex align-items-center w-100">
                    <div>
                      <h4 class="fz-24 fw-600 text-black mb-0">Your Posting</h4>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                      <b-button @click="$router.push('/client/job-posting')"  class="btn btn-theme">See All Posting</b-button>
                    </div>
                  </div>
                </div>
                <div class="text-center" v-if="PostJobList.length==0">
                  <svg width="172" height="173" viewBox="0 0 172 173" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto">
                    <path d="M75.4142 9.1442C81.305 5.05891 89.1128 5.05891 95.0036 9.1442V9.1442C98.7906 11.7705 103.474 12.7659 108.002 11.907V11.907C115.045 10.5709 122.178 13.7466 125.897 19.8747V19.8747C128.289 23.8143 132.162 26.6285 136.648 27.6855V27.6855C143.626 29.3296 148.85 35.1319 149.756 42.2433V42.2433C150.338 46.8149 152.732 50.9612 156.4 53.7514V53.7514C162.106 58.0914 164.519 65.5171 162.454 72.382V72.382C161.126 76.7953 161.626 81.5568 163.843 85.5976V85.5976C167.29 91.8832 166.474 99.6482 161.795 105.08V105.08C158.787 108.571 157.308 113.125 157.689 117.718V117.718C158.281 124.862 154.377 131.624 147.894 134.683V134.683C143.726 136.649 140.522 140.207 139.002 144.558V144.558C136.638 151.326 130.321 155.915 123.154 156.072V156.072C118.547 156.174 114.173 158.121 111.014 161.477V161.477C106.102 166.698 98.4646 168.321 91.8531 165.55V165.55C87.6028 163.768 82.815 163.768 78.5647 165.55V165.55C71.9532 168.321 64.3161 166.698 59.4034 161.477V161.477C56.2451 158.121 51.8713 156.174 47.2638 156.072V156.072C40.0967 155.915 33.7801 151.326 31.4156 144.558V144.558C29.8955 140.207 26.6919 136.649 22.5239 134.683V134.683C16.0405 131.624 12.1367 124.862 12.7292 117.718V117.718C13.1101 113.125 11.6307 108.571 8.62286 105.08V105.08C3.94419 99.6482 3.12806 91.8832 6.57521 85.5976V85.5976C8.79129 81.5568 9.29175 76.7953 7.96423 72.382V72.382C5.89925 65.5171 8.31199 58.0914 14.0177 53.7514V53.7514C17.6857 50.9612 20.0796 46.8149 20.6619 42.2433V42.2433C21.5677 35.1319 26.7921 29.3296 33.7698 27.6855V27.6855C38.2555 26.6285 42.1289 23.8143 44.5203 19.8747V19.8747C48.2402 13.7466 55.373 10.5709 62.4161 11.907V11.907C66.944 12.7659 71.6271 11.7705 75.4142 9.1442V9.1442Z" fill="#F2613C"/>
                    <path d="M151.782 22.2932C152.296 22.3179 152.821 22.1463 153.232 21.7722L170.866 5.75467C171.689 5.0068 171.751 3.73304 171.003 2.90997C170.255 2.08663 168.981 2.02545 168.158 2.77334L150.524 18.7909C149.701 19.5387 149.64 20.8125 150.388 21.6356C150.761 22.0471 151.267 22.2684 151.782 22.2932Z" fill="#F2613C"/>
                    <path d="M170.199 30.5101C169.958 29.4243 168.883 28.7393 167.796 28.9804L159.273 30.8714C158.187 31.1123 157.502 32.1878 157.743 33.2737C157.945 34.1799 158.727 34.807 159.612 34.8495C159.787 34.8579 159.966 34.8434 160.146 34.8034L168.669 32.9124C169.755 32.6717 170.44 31.596 170.199 30.5101V30.5101Z" fill="#F2613C"/>
                    <path d="M139.33 13.1927C139.505 13.2498 139.682 13.2814 139.857 13.2898C140.742 13.3323 141.581 12.783 141.868 11.9003L144.567 3.59766C144.911 2.53991 144.332 1.40345 143.275 1.05988C142.217 0.715239 141.081 1.29458 140.737 2.35232L138.038 10.6549C137.693 11.7127 138.272 12.8489 139.33 13.1927V13.1927Z" fill="#F2613C"/>
                    <g clip-path="url(#clip0_3226_22395)">
                    <path d="M124.138 60.6055C122.008 60.6055 120.275 62.3384 120.275 64.4685C120.275 66.5986 122.008 68.3315 124.138 68.3315C126.268 68.3315 128.001 66.5986 128.001 64.4685C128.001 62.3384 126.268 60.6055 124.138 60.6055ZM124.138 65.8657C123.368 65.8657 122.741 65.2389 122.741 64.4685C122.741 63.698 123.368 63.0712 124.138 63.0712C124.909 63.0712 125.536 63.698 125.536 64.4685C125.536 65.2389 124.909 65.8657 124.138 65.8657Z" fill="white"/>
                    <path d="M47.865 105.318C45.7349 105.318 44.002 107.051 44.002 109.181C44.002 111.311 45.7349 113.044 47.865 113.044C49.995 113.044 51.728 111.311 51.728 109.181C51.728 107.051 49.995 105.318 47.865 105.318ZM47.865 110.579C47.0945 110.579 46.4677 109.952 46.4677 109.181C46.4677 108.411 47.0945 107.784 47.865 107.784C48.6354 107.784 49.2622 108.411 49.2622 109.181C49.2622 109.952 48.6354 110.579 47.865 110.579Z" fill="white"/>
                    <path d="M112.386 59.2088H114.852V56.4964H117.564V54.0307H114.852V51.3184H112.386V54.0307H109.674V56.4964H112.386V59.2088Z" fill="white"/>
                    <path d="M63.5628 110.496H61.0971V113.208H58.3848V115.674H61.0971V118.387H63.5628V115.674H66.2752V113.208H63.5628V110.496Z" fill="white"/>
                    <path d="M112.221 61.9217H77.4565L72.1963 54.0312H51.8926V103.839H70.2213V101.374H54.7045L61.9785 72.2778H117.3L110.026 101.374H105.728V103.839H111.951L120.458 69.8121H112.221V61.9217ZM70.8766 56.497L74.493 61.9217H54.3583V56.497H70.8766ZM60.0534 69.8121L54.3583 92.5917V64.3874H109.756V69.8121H60.0534Z" fill="white"/>
                    <path d="M86.0015 80.332C79.5206 80.332 74.248 85.6046 74.248 92.0854C74.248 98.5663 79.5206 103.839 86.0015 103.839C92.4823 103.839 97.7549 98.5663 97.7549 92.0854C97.7549 85.6046 92.4823 80.332 86.0015 80.332ZM86.0015 101.373C80.8803 101.373 76.7138 97.2066 76.7138 92.0854C76.7138 86.9642 80.8803 82.7978 86.0015 82.7978C91.1227 82.7978 95.2891 86.9642 95.2891 92.0854C95.2891 97.2066 91.1227 101.373 86.0015 101.373Z" fill="white"/>
                    <path d="M103.016 92.086C103.016 82.7046 95.3833 75.0723 86.002 75.0723C76.6206 75.0723 68.9883 82.7044 68.9883 92.086C68.9883 101.467 76.6206 109.1 86.002 109.1C89.2379 109.1 92.2656 108.191 94.8438 106.617L109.673 121.446L115.362 115.757L100.532 100.928C102.107 98.3495 103.016 95.3219 103.016 92.086ZM71.454 92.086C71.454 84.0642 77.9802 77.538 86.002 77.538C94.0237 77.538 100.55 84.0642 100.55 92.086C100.55 100.108 94.0237 106.634 86.002 106.634C77.9802 106.634 71.454 100.108 71.454 92.086ZM109.673 117.959L100.896 109.182L103.098 106.98L111.875 115.757L109.673 117.959ZM101.354 105.237L99.1527 107.438L96.8755 105.161C97.6744 104.495 98.4115 103.758 99.077 102.959L101.354 105.237Z" fill="white"/>
                    <path d="M86.1827 85.596C85.1157 85.5472 84.1044 85.9251 83.3339 86.661C82.5745 87.3865 82.1387 88.4048 82.1387 89.4549H84.6044C84.6044 89.0694 84.7581 88.7106 85.0369 88.4443C85.3154 88.1783 85.6836 88.0405 86.0692 88.0593C86.7694 88.0915 87.3651 88.6872 87.3973 89.3873C87.4192 89.8618 87.2028 90.3108 86.8187 90.5887C85.5352 91.5168 84.7688 93.0595 84.7688 94.7152H87.2346C87.2346 93.8484 87.6192 93.0526 88.2636 92.5867C89.3237 91.8201 89.9208 90.5818 89.8606 89.2741C89.7699 87.3023 88.1543 85.6866 86.1827 85.596V85.596Z" fill="white"/>
                    <path d="M84.7695 96.0312H87.2353V98.6614H84.7695V96.0312Z" fill="white"/>
                    <path d="M57.0703 57.9766H59.7004V60.4423H57.0703V57.9766Z" fill="white"/>
                    <path d="M62.3301 57.9766H64.9602V60.4423H62.3301V57.9766Z" fill="white"/>
                    <path d="M67.5918 57.9766H70.2219V60.4423H67.5918V57.9766Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3226_22395">
                    <rect width="84" height="84" fill="white" transform="translate(44.002 44.3828)"/>
                    </clipPath>
                    </defs>
                  </svg>
                  <h4 class="fz-20 fw-600 text-black">No Active Job Posts</h4>
                  <p class="fz-16 fw-500 text-muted">Post a job to the marketplace and let talent come to you.</p>
                  <b-button class="btn btn-theme mt-3" @click="$router.push('/client/post-job')">Post a Job</b-button>
                </div>
                <div v-if="PostJobList.length > 0">
                  <div class="posted-job-wrapper border-bottom px-4 py-4"   v-for="(postjobs, i) of PostJobList" :key="i" >
                    <div class="d-md-flex align-items-center mb-3">
                      <h4 class="mb-0 fz-18 fw-500 text-black"><b>{{postjobs.job_title}}</b></h4>
                      <div class="ml-auto">
                        <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                          <template #button-content>
                            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                            </svg>
                          </template>
                          <b-dropdown-item href="#">Action</b-dropdown-item>
                          <b-dropdown-item href="#">Another action</b-dropdown-item>
                          <b-dropdown-item href="#">Something else here...</b-dropdown-item>
                        </b-dropdown>
                      </div>
                    </div>
                    <b-row> 
                      <b-col xl="6" lg="6" sm="12">
                        <p class="fz-16 fw-500 text-muted mb-1">Public</p>
                        <p class="fz-16 fw-500 text-muted mb-0">Posted at : {{postjobs.create_timestamp}}</p>
                      </b-col>
                      <b-col xl="2" lg="2" sm="12">
                        <p class="fz-16 fw-500 text-black mb-1">{{postjobs.appliedCount}} <span class="badge badge-theme" v-if="postjobs.notSeenAwarded > 0">{{postjobs.notSeenAwarded}} new</span></p>
                        <h4 class="fz-16 fw-500 text-muted mb-0">Proposals</h4>
                      </b-col>
                      <b-col xl="2" lg="2" sm="12">
                        <p class="fz-16 fw-500 text-black mb-1">00</p>
                        <h4 class="fz-16 fw-500 text-muted mb-0">Messaged </h4>
                      </b-col>
                      <b-col xl="2" lg="2" sm="12">
                      <p class="fz-16 fw-500 text-black mb-1">{{postjobs.awarded}}</p>
                        <h4 class="fz-16 fw-500 text-muted mb-0">Hired</h4>
                      </b-col>
                    </b-row>
                  </div>
                </div>
              </div>
            </div>
          </b-card>

          <b-card no-body>
            <div class="view-wrapper mb-4">
              <b-row>
                <b-col xl="12" lg="12" sm="12" class="left">
                  <div class="header px-4 py-4">
                    <div class="d-flex align-items-center w-100">
                      <div>
                        <h4 class="fz-24 fw-600 text-black mb-0">Your Drafts</h4>
                      </div>
                      <div class="ml-auto d-flex align-items-center">
                        <b-button class="btn btn-theme">See All Drafts</b-button>
                      </div>
                    </div>
                  </div>
                  <div class="text-center px-4 py-4" v-if="DraftJobList.length==0">
                    <svg width="172" height="173" viewBox="0 0 172 173" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto">
                      <path d="M75.4142 9.1442C81.305 5.05891 89.1128 5.05891 95.0036 9.1442V9.1442C98.7906 11.7705 103.474 12.7659 108.002 11.907V11.907C115.045 10.5709 122.178 13.7466 125.897 19.8747V19.8747C128.289 23.8143 132.162 26.6285 136.648 27.6855V27.6855C143.626 29.3296 148.85 35.1319 149.756 42.2433V42.2433C150.338 46.8149 152.732 50.9612 156.4 53.7514V53.7514C162.106 58.0914 164.519 65.5171 162.454 72.382V72.382C161.126 76.7953 161.626 81.5568 163.843 85.5976V85.5976C167.29 91.8832 166.474 99.6482 161.795 105.08V105.08C158.787 108.571 157.308 113.125 157.689 117.718V117.718C158.281 124.862 154.377 131.624 147.894 134.683V134.683C143.726 136.649 140.522 140.207 139.002 144.558V144.558C136.638 151.326 130.321 155.915 123.154 156.072V156.072C118.547 156.174 114.173 158.121 111.014 161.477V161.477C106.102 166.698 98.4646 168.321 91.8531 165.55V165.55C87.6028 163.768 82.815 163.768 78.5647 165.55V165.55C71.9532 168.321 64.3161 166.698 59.4034 161.477V161.477C56.2451 158.121 51.8713 156.174 47.2638 156.072V156.072C40.0967 155.915 33.7801 151.326 31.4156 144.558V144.558C29.8955 140.207 26.6919 136.649 22.5239 134.683V134.683C16.0405 131.624 12.1367 124.862 12.7292 117.718V117.718C13.1101 113.125 11.6307 108.571 8.62286 105.08V105.08C3.94419 99.6482 3.12806 91.8832 6.57521 85.5976V85.5976C8.79129 81.5568 9.29175 76.7953 7.96423 72.382V72.382C5.89925 65.5171 8.31199 58.0914 14.0177 53.7514V53.7514C17.6857 50.9612 20.0796 46.8149 20.6619 42.2433V42.2433C21.5677 35.1319 26.7921 29.3296 33.7698 27.6855V27.6855C38.2555 26.6285 42.1289 23.8143 44.5203 19.8747V19.8747C48.2402 13.7466 55.373 10.5709 62.4161 11.907V11.907C66.944 12.7659 71.6271 11.7705 75.4142 9.1442V9.1442Z" fill="#F2613C"/>
                      <path d="M151.782 22.2932C152.296 22.3179 152.821 22.1463 153.232 21.7722L170.866 5.75467C171.689 5.0068 171.751 3.73304 171.003 2.90997C170.255 2.08663 168.981 2.02545 168.158 2.77334L150.524 18.7909C149.701 19.5387 149.64 20.8125 150.388 21.6356C150.761 22.0471 151.267 22.2684 151.782 22.2932Z" fill="#F2613C"/>
                      <path d="M170.199 30.5101C169.958 29.4243 168.883 28.7393 167.796 28.9804L159.273 30.8714C158.187 31.1123 157.502 32.1878 157.743 33.2737C157.945 34.1799 158.727 34.807 159.612 34.8495C159.787 34.8579 159.966 34.8434 160.146 34.8034L168.669 32.9124C169.755 32.6717 170.44 31.596 170.199 30.5101V30.5101Z" fill="#F2613C"/>
                      <path d="M139.33 13.1927C139.505 13.2498 139.682 13.2814 139.857 13.2898C140.742 13.3323 141.581 12.783 141.868 11.9003L144.567 3.59766C144.911 2.53991 144.332 1.40345 143.275 1.05988C142.217 0.715239 141.081 1.29458 140.737 2.35232L138.038 10.6549C137.693 11.7127 138.272 12.8489 139.33 13.1927V13.1927Z" fill="#F2613C"/>
                      <g clip-path="url(#clip0_3226_22395)">
                      <path d="M124.138 60.6055C122.008 60.6055 120.275 62.3384 120.275 64.4685C120.275 66.5986 122.008 68.3315 124.138 68.3315C126.268 68.3315 128.001 66.5986 128.001 64.4685C128.001 62.3384 126.268 60.6055 124.138 60.6055ZM124.138 65.8657C123.368 65.8657 122.741 65.2389 122.741 64.4685C122.741 63.698 123.368 63.0712 124.138 63.0712C124.909 63.0712 125.536 63.698 125.536 64.4685C125.536 65.2389 124.909 65.8657 124.138 65.8657Z" fill="white"/>
                      <path d="M47.865 105.318C45.7349 105.318 44.002 107.051 44.002 109.181C44.002 111.311 45.7349 113.044 47.865 113.044C49.995 113.044 51.728 111.311 51.728 109.181C51.728 107.051 49.995 105.318 47.865 105.318ZM47.865 110.579C47.0945 110.579 46.4677 109.952 46.4677 109.181C46.4677 108.411 47.0945 107.784 47.865 107.784C48.6354 107.784 49.2622 108.411 49.2622 109.181C49.2622 109.952 48.6354 110.579 47.865 110.579Z" fill="white"/>
                      <path d="M112.386 59.2088H114.852V56.4964H117.564V54.0307H114.852V51.3184H112.386V54.0307H109.674V56.4964H112.386V59.2088Z" fill="white"/>
                      <path d="M63.5628 110.496H61.0971V113.208H58.3848V115.674H61.0971V118.387H63.5628V115.674H66.2752V113.208H63.5628V110.496Z" fill="white"/>
                      <path d="M112.221 61.9217H77.4565L72.1963 54.0312H51.8926V103.839H70.2213V101.374H54.7045L61.9785 72.2778H117.3L110.026 101.374H105.728V103.839H111.951L120.458 69.8121H112.221V61.9217ZM70.8766 56.497L74.493 61.9217H54.3583V56.497H70.8766ZM60.0534 69.8121L54.3583 92.5917V64.3874H109.756V69.8121H60.0534Z" fill="white"/>
                      <path d="M86.0015 80.332C79.5206 80.332 74.248 85.6046 74.248 92.0854C74.248 98.5663 79.5206 103.839 86.0015 103.839C92.4823 103.839 97.7549 98.5663 97.7549 92.0854C97.7549 85.6046 92.4823 80.332 86.0015 80.332ZM86.0015 101.373C80.8803 101.373 76.7138 97.2066 76.7138 92.0854C76.7138 86.9642 80.8803 82.7978 86.0015 82.7978C91.1227 82.7978 95.2891 86.9642 95.2891 92.0854C95.2891 97.2066 91.1227 101.373 86.0015 101.373Z" fill="white"/>
                      <path d="M103.016 92.086C103.016 82.7046 95.3833 75.0723 86.002 75.0723C76.6206 75.0723 68.9883 82.7044 68.9883 92.086C68.9883 101.467 76.6206 109.1 86.002 109.1C89.2379 109.1 92.2656 108.191 94.8438 106.617L109.673 121.446L115.362 115.757L100.532 100.928C102.107 98.3495 103.016 95.3219 103.016 92.086ZM71.454 92.086C71.454 84.0642 77.9802 77.538 86.002 77.538C94.0237 77.538 100.55 84.0642 100.55 92.086C100.55 100.108 94.0237 106.634 86.002 106.634C77.9802 106.634 71.454 100.108 71.454 92.086ZM109.673 117.959L100.896 109.182L103.098 106.98L111.875 115.757L109.673 117.959ZM101.354 105.237L99.1527 107.438L96.8755 105.161C97.6744 104.495 98.4115 103.758 99.077 102.959L101.354 105.237Z" fill="white"/>
                      <path d="M86.1827 85.596C85.1157 85.5472 84.1044 85.9251 83.3339 86.661C82.5745 87.3865 82.1387 88.4048 82.1387 89.4549H84.6044C84.6044 89.0694 84.7581 88.7106 85.0369 88.4443C85.3154 88.1783 85.6836 88.0405 86.0692 88.0593C86.7694 88.0915 87.3651 88.6872 87.3973 89.3873C87.4192 89.8618 87.2028 90.3108 86.8187 90.5887C85.5352 91.5168 84.7688 93.0595 84.7688 94.7152H87.2346C87.2346 93.8484 87.6192 93.0526 88.2636 92.5867C89.3237 91.8201 89.9208 90.5818 89.8606 89.2741C89.7699 87.3023 88.1543 85.6866 86.1827 85.596V85.596Z" fill="white"/>
                      <path d="M84.7695 96.0312H87.2353V98.6614H84.7695V96.0312Z" fill="white"/>
                      <path d="M57.0703 57.9766H59.7004V60.4423H57.0703V57.9766Z" fill="white"/>
                      <path d="M62.3301 57.9766H64.9602V60.4423H62.3301V57.9766Z" fill="white"/>
                      <path d="M67.5918 57.9766H70.2219V60.4423H67.5918V57.9766Z" fill="white"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_3226_22395">
                      <rect width="84" height="84" fill="white" transform="translate(44.002 44.3828)"/>
                      </clipPath>
                      </defs>
                    </svg>
                    <h4 class="fz-20 fw-600 text-black">No Draft Job Posts</h4>
                    <p class="fz-16 fw-500 text-muted">Post a job to the marketplace and let talent come to you.</p>
                    <b-button class="btn btn-theme mt-3"  @click="$router.push('/client/post-job')">Post a Job</b-button>
                  </div>
                  <div class="px-4 py-4"  v-if="DraftJobList.length > 0">
                    <div class="posted-job-wrapper border-bottom" v-for="(draftjobs, i) of DraftJobList" :key="i" >
                      <div class="d-md-flex align-items-center mb-3">
                        <div>
                          <h4 class="mb-3 fz-18 fw-500 text-black d-block"><b>{{draftjobs.job_title}}</b></h4>
                          <p class="mb-0 fz-16 fw-500 text-muted">Saved at :{{postjobs.create_timestamp}}</p>
                        </div>
                        <div class="ml-auto">
                          <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                            <template #button-content>
                              <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                              </svg>
                            </template>
                            <b-dropdown-item href="#">Action</b-dropdown-item>
                            <b-dropdown-item href="#">Another action</b-dropdown-item>
                            <b-dropdown-item href="#">Something else here...</b-dropdown-item>
                          </b-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-col>
              </b-row>
            </div>
          </b-card>

          <b-card no-body>
            <div class="view-wrapper">
              <b-row>
                <b-col xl="12" lg="12" sm="12" class="left">
                  <div class="header px-4 py-4">
                    <div class="d-flex align-items-center w-100">
                      <div>
                        <h4 class="fz-24 fw-600 text-black mb-0">Your Contract</h4>
                      </div>
                      <div class="ml-auto d-flex align-items-center">
                        <b-button class="btn btn-theme">See All Contract</b-button>
                      </div>
                    </div>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col xl="12" lg="12" sm="12">
                  <b-card no-body class="px-4 py-2">
                    <span class="fz-24 text-success fw-600 pos-absolute r-2rem">$0.00</span>
                    <b-tabs>
                      <b-tab active>
                        <template #title>
                          <span class="d-block">Active <span class="badge badge-theme">11</span></span>
                        </template>
                        <div>
                          <div class="d-flex align-items-center mt-4">
                            <h5 class="fz-18 fw-600">Python Developer - Full Time</h5>
                            <div class="ml-auto">
                              <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                                <template #button-content>
                                  <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                                  </svg>
                                </template>
                                <b-dropdown-item href="#">Action</b-dropdown-item>
                                <b-dropdown-item href="#">Another action</b-dropdown-item>
                                <b-dropdown-item href="#">Something else here...</b-dropdown-item>
                              </b-dropdown>
                            </div>
                          </div>
                          <b-row class="mt-2">
                            <b-col xl="8" lg="8" sm="12">
                              <div class="d-md-flex align-items-center mb-2">
                                <div class="img-wrapper mr-3 w-10 h-10 br-50">
                                  <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid br-50 w-100 h-100">
                                </div>
                                <div>
                                  <h4 class="fz-18 fw-600 text-theme mb-0"><a href="javascript:void(0);" class="text-theme">Lewis Caldwell MKP</a></h4>
                                  <p class="fz-14 fw-600 text-muteed mb-0">23:30 PM Local Time</p>
                                </div>
                              </div> 
                            </b-col>
                            <b-col xl="4" lg="4" sm="12" class="text-right">
                              <b-button class="btn btn-theme">Active Milestone</b-button>
                              <p class="fz-14 text-black fw-600 text-right mt-3">$1,100.00 Budget</p>
                            </b-col>
                          </b-row>
                        </div>
                      </b-tab>
                      <b-tab>
                        <template #title>
                          <span class="d-block">Awaiting <span class="badge badge-theme">09</span></span>
                        </template>
                        <div>
                          <div class="d-flex align-items-center mt-4">
                            <h5 class="fz-18 fw-600">Python Developer - Full Time</h5>
                            <div class="ml-auto">
                              <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                                <template #button-content>
                                  <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                                  </svg>
                                </template>
                                <b-dropdown-item href="#">Action</b-dropdown-item>
                                <b-dropdown-item href="#">Another action</b-dropdown-item>
                                <b-dropdown-item href="#">Something else here...</b-dropdown-item>
                              </b-dropdown>
                            </div>
                          </div>
                          <b-row class="mt-2">
                            <b-col xl="8" lg="8" sm="12">
                              <div class="d-md-flex align-items-center mb-2">
                                <div class="img-wrapper mr-3 w-10 h-10 br-50">
                                  <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid br-50 w-100 h-100">
                                </div>
                                <div>
                                  <h4 class="fz-18 fw-600 text-theme mb-0"><a href="javascript:void(0);" class="text-theme">Lewis Caldwell MKP</a></h4>
                                  <p class="fz-14 fw-600 text-muteed mb-0">23:30 PM Local Time</p>
                                </div>
                              </div> 
                            </b-col>
                            <b-col xl="4" lg="4" sm="12" class="text-right">
                              <b-button class="btn btn-theme">Active Milestone</b-button>
                              <p class="fz-14 text-black fw-600 text-right mt-3">$1,100.00 Budget</p>
                            </b-col>
                          </b-row>
                        </div>
                      </b-tab>
                    </b-tabs>
                  </b-card>
                </b-col>
              </b-row>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <HowToWorkWithTalent></HowToWorkWithTalent>
      
    </b-container>
  </template>
  <script>
    import HowToWorkWithTalent from "../../components/HowToWorkWithTalent.vue";
    import { mapActions } from "vuex";
    export default {
      data() {
        return {
          selected: null,
          PostJobList:[],
          DraftJobList:[],
          transaction: [
            { value: null, text: 'All Transaction' },
            { value: 'a', text: 'This is First option' },
            { value: 'b', text: 'Selected Option' },
            { value: { C: '3PO' }, text: 'This is an option with object value' },
            { value: 'd', text: 'This one is disabled', disabled: true }
          ]
        }
      },
      components: {
          HowToWorkWithTalent
      },
      async mounted() {
        this.getPostedJob();
        this.getPostedDraftJob();
      },
      methods: {
        ...mapActions(["genericAPIPOSTRequest"]),
        async getPostedJob(){
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "getUserPostedJob",
              params: {},
          });  
          this.PostJobList = res;
        },
        async getPostedDraftJob(){
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "getUserPostedJob",
              params: {'filter':3},
          });  
          this.DraftJobList = res;
        },
        toggleDropdown (event) {
          event.currentTarget.classList.toggle('is-active')
        }
      }
    }
  </script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
    body{font-family: 'Source Sans Pro', sans-serif!important;}
    .text-muted{color:#979797!important;}
    .ralative {padding-bottom:0px;}
    .theme-bg{background-color: #FFF6F4!important;}
    .bg-none{background-color:transparent;}
    .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
    .border-bottom{border-bottom: 1px solid #EBEBEB!important;}
    .br-20{border-radius: 20px;}
    .border-none{border:0px!important;}
    .fz-14{font-size:14px!important;}
    .fz-16{font-size:16px!important;}
    .fz-18{font-size:18px!important;}
    .fw-600{font-weight:600!important;}
    .fw-500{font-weight:500!important;}
    .fw-400{font-weight:400!important;}
    .mb-23{margin-bottom:23px;}
    .no-bottom-border{border-bottom:0px!important;}
    .border-top-0{border-top:0px!important;}
    .theme-bg-box{background: rgba(242, 97, 60, 0.05);border-radius: 20px;padding:20px;}
    p {margin-top: 0!important;margin-bottom: 1rem!important;}
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
    dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
    ol, ul {padding-left: 2rem!important;}
    .fz-30{font-size:26px!important;}

    .client-dashboard-wrap .card{background-color: transparent;border: 0px;}
    .client-dashboard-wrap .card-header{background-color: transparent;border: 0px;}
    .client-dashboard-wrap .card-header-pills{margin-left:-40px;}
    .client-dashboard-wrap .nav-pills .nav-link{border-radius: 0px;border-bottom: 1px solid #dfdfdf;border:0px;color: #333;background-color: #fff;padding: 15px 5px;font-weight: 600;font-size:18px;}
    .client-dashboard-wrap .nav-pills .nav-link.active{background-color: #fff;border-bottom: 2px solid #f2613b!important;border: 0px;color: #f2613b;}
    .client-dashboard-wrap .nav-tabs .tab-content{background-color: #fff;margin: 9px;border-radius:20px;}
    .client-dashboard-wrap .nav-pills .nav-item{background-color: #fff;}
    .client-dashboard-wrap .nav-tabs .nav-link .badge-theme{background-color:#9c9c9c;color:#fff!important;border-radius: 50%;width: 25px;height: 25px;padding: 6px 6px!important;font-size: .75em!important;line-height: 1!important;}
    .client-dashboard-wrap .nav-tabs .nav-link.active .badge-theme{background-color:#f2613b;color:#fff;border-radius: 50%;width: 25px;height: 25px;padding: 6px 6px!important;font-size: .75em!important;line-height: 1!important;}
    .client-dashboard-wrap .nav-pills .nav-link.active .badge-theme{background-color: #fff;color:#f2613b;}
    .client-dashboard-wrap .nav-tabs {border-bottom: 0;margin-left:-40px;}
    .client-dashboard-wrap .nav-tabs .nav-link{font-size: 16px;color: #999999;font-weight:500;}
    .client-dashboard-wrap .nav-tabs .nav-link.active{color: #000;background-color: transparent;border-color: #dee2e6 #dee2e6 #fff;border: 0;border-bottom: 2px solid #f2613b;font-weight: 600;}
    .client-dashboard-wrap input ~ label:before{display:none;}
    .br-20{border-radius:20px!important;}
    .br-50{border-radius:50px!important;}
    .ml-30{margin-left:8rem;}
    .pl-30{margin-left:8rem;}
    .job-detail-wrap .card{background-color:#fff;border-radius:20px!important;}
    .job-detail-wrap .card-header{background-color:#fff;padding:1.5rem;border-radius:20px 20px 0 0!important;}
    .job-detail-wrap .card-body{background-color:#fff;padding:1.5rem;border-radius:0 0 20px 20px!important;}
    .job-detail-wrap .card-body a{color:#f2613b!important;}
    .pos-absolute{position:absolute;}
    .r-2rem{right:2rem;}
  </style>
