  <template>
    <b-container>
      <b-row class="mt-100 posting-wrap" v-if="PostJobListFiltered.length > 0">
        <b-col xl="12" lg="12" sm="12" >
          <div class="d-md-flex align-items-center mb-3">
            <h4 class="mb-0 fz-24 fw-500 text-black"><b>Job Posting</b></h4>
            <div class="ml-auto">
              <b-button  @click="$router.push('/client/post-job')"  class="btn btn-theme">Post a Job</b-button>
            </div>
          </div>
          
          <b-row>
            <b-col xl="8" lg="8" sm="12">
              <b-form-input type="text" v-model="search" placeholder="Search for Job, people, groups and more... "></b-form-input>
              <div class="selected-tags mb-5 mt-2">
                <div class="tags-wrap">
                  <ul>
                    <li>
                      <a href="javascript:void(0);" class="d-flex align-items-center">
                        <span class="mr-2 fz-12">Wordpress</span>
                        <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </b-col>
            <b-col xl="4" lg="4" sm="12">
              <div class="dropdown">
                <div class="dropdown-header" @click="toggleDropdown($event)">
                  <div class="d-flex align-items-center justify-content-end">
                    <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.15625 4.625V9.625C9.15625 9.97018 8.87643 10.25 8.53125 10.25C8.18607 10.25 7.90625 9.97018 7.90625 9.625V4.625C7.90625 4.27982 8.18607 4 8.53125 4C8.87643 4 9.15625 4.27982 9.15625 4.625ZM11.6562 17.125C11.6562 18.8509 10.2571 20.25 8.53125 20.25C6.80536 20.25 5.40625 18.8509 5.40625 17.125C5.40625 15.3991 6.80536 14 8.53125 14C10.2571 14 11.6562 15.3991 11.6562 17.125ZM9.15625 21.4557V23.375C9.15625 23.7202 8.87643 24 8.53125 24C8.18607 24 7.90625 23.7202 7.90625 23.375V21.4557C5.78607 21.1524 4.15625 19.329 4.15625 17.125C4.15625 14.7088 6.115 12.75 8.53125 12.75C10.9475 12.75 12.9062 14.7088 12.9062 17.125C12.9062 19.329 11.2764 21.1524 9.15625 21.4557ZM20.1562 23.375C20.1562 23.7202 20.4361 24 20.7812 24C21.1264 24 21.4062 23.7202 21.4062 23.375V18.375C21.4062 18.0298 21.1264 17.75 20.7812 17.75C20.4361 17.75 20.1562 18.0298 20.1562 18.375V23.375ZM20.1562 6.54431V4.625C20.1562 4.27982 20.4361 4 20.7812 4C21.1264 4 21.4062 4.27982 21.4062 4.625V6.54431C23.5264 6.84757 25.1562 8.67096 25.1562 10.875C25.1562 13.2912 23.1975 15.25 20.7812 15.25C18.365 15.25 16.4062 13.2912 16.4062 10.875C16.4062 8.67096 18.0361 6.84757 20.1562 6.54431ZM20.7812 7.75C22.5071 7.75 23.9062 9.14911 23.9062 10.875C23.9062 12.6009 22.5071 14 20.7812 14C19.0554 14 17.6562 12.6009 17.6562 10.875C17.6562 9.14911 19.0554 7.75 20.7812 7.75Z" fill="#666666"/>
                    </svg>
                    <span class="text-theme fz-16 fw-600">Filter</span>
                  </div>
                </div>
                  
                <div class="dropdown-content shadow border">
                  <b-row>
                    <b-col xl="6" lg="6" sm="12">
                      <label class="fz-18 fw-600 text-black mb-4">Visibility</label>
                      <b-form-group>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="A" class="fz-16 fw-400 text-black">All</b-form-radio>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="B" class="fz-16 fw-400 text-black">Invite Only</b-form-radio>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="C" class="fz-16 fw-400 text-black">Public</b-form-radio>
                      </b-form-group>
                    </b-col>
                    <b-col xl="6" lg="6" sm="12">
                      <label class="fz-18 fw-600 text-black mb-4">Status</label>
                      <b-form-group>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="A" class="fz-16 fw-400 text-black">All</b-form-radio>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="B" class="fz-16 fw-400 text-black">Drafts</b-form-radio>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="C" class="fz-16 fw-400 text-black">Open</b-form-radio>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="D" class="fz-16 fw-400 text-black">Filled</b-form-radio>
                        <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="D" class="fz-16 fw-400 text-black">Closed</b-form-radio>
                      </b-form-group>
                    </b-col>
                  </b-row>
                </div>
              </div>
            </b-col>
          </b-row>
          <b-card-group deck>
            <b-card title-class="text-theme font-14" class="py-4 px-4" >
              <div class="posted-job-wrapper border-bottom" v-for="(postjobs, i) of PostJobListFiltered" :key="i"  >
                <div class="d-md-flex align-items-center mb-3">
                  <h4 class="mb-0 fz-18 fw-500 text-black"><b>{{postjobs.job_title}}</b></h4>
                  <div class="ml-auto">
                    <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                      <template #button-content>
                        <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2ZM16 4C17.1046 4 18 3.10457 18 2C18 0.895431 17.1046 0 16 0C14.8954 0 14 0.895431 14 2C14 3.10457 14.8954 4 16 4Z" fill="#666666"/>
                        </svg>
                      </template>
                      <b-dropdown-item href="#">View Job Detail</b-dropdown-item>
                      <b-dropdown-item href="#">Another action</b-dropdown-item>
                      <b-dropdown-item href="#">Something else here...</b-dropdown-item>
                    </b-dropdown>
                  </div>
                </div>
                <b-row> 
                  <b-col xl="4" lg="4" sm="12">
                    <p class="fz-16 fw-500 text-muted mb-1">Public - Hourly</p>
                    <p class="fz-16 fw-500 text-muted mb-0">Posted {{postjobs.create_timestamp}}</p>
                  </b-col>
                  <b-col xl="2" lg="2" sm="12">
                    <p class="fz-16 fw-500 text-black mb-1">{{postjobs.appliedCount}} <span class="badge badge-theme" v-if="postjobs.notSeenAwarded > 0">{{postjobs.notSeenAwarded}} new</span></p>
                    <h4 class="fz-16 fw-500 text-muted mb-0">Proposals</h4>
                  </b-col>
                  <b-col xl="2" lg="2" sm="12">
                    <p class="fz-16 fw-500 text-black mb-1">00</p>
                    <h4 class="fz-16 fw-500 text-muted mb-0">Messaged </h4>
                  </b-col>
                  <b-col xl="2" lg="2" sm="12">
                    <p class="fz-16 fw-500 text-black mb-1">{{postjobs.awarded}}</p>
                    <h4 class="fz-16 fw-500 text-muted mb-0">Hired</h4>
                  </b-col>
                  <b-col xl="2" lg="2" sm="12" class="text-right">
                    <!-- <b-button class="btn btn-theme">View Proposals</b-button> -->
                  </b-col>  
                </b-row>
              </div> 
              <!-- <div class="text-center py-4 text-theme">
                <b-spinner type="border" medium></b-spinner>
              </div> -->
            </b-card>
          </b-card-group> 
        </b-col>
      </b-row>

      <b-row class="mt-100 posting-wrap" v-else >
        <b-col xl="12" lg="12" sm="12">
          <b-card-text>
            <b-card-group deck>
              <b-card class="py-4 px-4 bg-white br-20">
                <div class="text-center">
                  <svg width="140" height="140" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto">
                    <path d="M65.7535 6.47396C70.8988 2.90571 77.7184 2.90571 82.8637 6.47396C86.1714 8.76789 90.2618 9.63733 94.2166 8.88711C100.368 7.72012 106.598 10.4939 109.848 15.8464C111.936 19.2874 115.319 21.7454 119.237 22.6686C125.332 24.1047 129.895 29.1726 130.686 35.3839C131.195 39.377 133.286 42.9986 136.49 45.4356C141.473 49.2264 143.581 55.7122 141.777 61.7083C140.618 65.563 141.055 69.7219 142.99 73.2513C146.001 78.7414 145.288 85.5236 141.202 90.2677C138.575 93.3176 137.282 97.2947 137.615 101.306C138.133 107.546 134.723 113.452 129.06 116.124C125.42 117.842 122.621 120.949 121.294 124.749C119.228 130.661 113.711 134.669 107.451 134.807C103.427 134.895 99.6067 136.596 96.8481 139.527C92.5572 144.087 85.8866 145.505 80.1119 143.085C76.3995 141.529 72.2177 141.529 68.5053 143.085C62.7306 145.505 56.06 144.087 51.769 139.527C49.0105 136.596 45.1902 134.895 41.1659 134.807C34.9059 134.669 29.3887 130.661 27.3235 124.749C25.9958 120.949 23.1976 117.842 19.5571 116.124C13.8943 113.452 10.4845 107.546 11.0021 101.306C11.3348 97.2947 10.0425 93.3176 7.41543 90.2677C3.3289 85.5236 2.61606 78.7414 5.62693 73.2513C7.56254 69.7219 7.99966 65.563 6.84015 61.7083C5.03652 55.7122 7.1439 49.2264 12.1275 45.4356C15.3313 42.9986 17.4222 39.377 17.9308 35.3839C18.7219 29.1726 23.2851 24.1047 29.3797 22.6686C33.2977 21.7454 36.6809 19.2874 38.7697 15.8464C42.0188 10.4939 48.2488 7.72012 54.4005 8.88711C58.3554 9.63733 62.4458 8.76789 65.7535 6.47396Z" fill="#F2613C"/>
                    <path d="M68.4151 83.8327H76.452L83.8639 55.4354L86.4536 44.1836H74.2195L72.5228 55.4354L68.4151 83.8327ZM68.5044 105.086C73.6837 105.086 77.2557 100.621 77.2557 96.1561C77.2557 92.3162 74.7553 89.4586 70.9154 89.4586C65.7361 89.4586 62.1641 94.1022 62.1641 98.4779C62.1641 102.407 64.6645 105.086 68.5044 105.086Z" fill="white"/>
                  </svg>
                  <h4 class="fz-20 fw-600 text-black mt-2">No jobs found</h4>
                  <p class="fz-14 fw-500 text-black mb-0">You don't have any job postings yet.</p>
                  <b-button class="btn btn-theme text-center my-4">Post a Job</b-button>
                </div>
              </b-card>
            </b-card-group>
          </b-card-text>
      </b-col>
      </b-row>    
    </b-container>
  </template>
  <script>
   import { mapActions } from "vuex";
    export default {
      data() {
        return {
          PostJobList:[],
          search:'',
        }
      },
       computed:{
        PostJobListFiltered(){
          function compare(a, b) {
            if (a.job_title < b.job_title) return -1;
            if (a.job_title > b.job_title) return 1;
            return 0;
          }
          return this.PostJobList.filter(user => {
              return user.job_title.toLowerCase().includes(this.search.toLowerCase());
          }).sort(compare);
        },
         
      },
      async mounted() {
        this.getPostedJob(); 
      },
      methods: {
        ...mapActions(["genericAPIPOSTRequest"]),
        async getPostedJob(){
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "getUserPostedJob",
              params: {},
          });  
          this.PostJobList = res;
        },
        toggleDropdown (event) {
          event.currentTarget.classList.toggle('is-active')
        }
      }
    }
  </script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
    body{font-family: 'Source Sans Pro', sans-serif!important;}
    .text-muted{color:#979797!important;}
    .ralative {padding-bottom:0px;}
    .theme-bg{background-color: #FFF6F4!important;}
    .bg-none{background-color:transparent;}
    .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
    .border-bottom{border-bottom: 1px solid #EBEBEB!important;}
    .br-20{border-radius: 20px;}
    .border-none{border:0px!important;}
    .fz-16{font-size:16px;}
    .fz-18{font-size:18px;}
    .fw-600{font-weight:600;}
    .fw-500{font-weight:500;}
    .fw-400{font-weight:400;}
    .mb-23{margin-bottom:23px;}
    .no-bottom-border{border-bottom:0px!important;}
    .border-top-0{border-top:0px!important;}
    .theme-bg-box{background: rgba(242, 97, 60, 0.05);border-radius: 20px;padding:20px;}
    p {margin-top: 0!important;margin-bottom: 1rem!important;}
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
    dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
    ol, ul {padding-left: 2rem!important;}
    .fz-30{font-size:26px!important;}

    .posting-wrap .card{border-radius:20px;}  
    .posting-wrap .card-header{border-radius:20px 20px 0 0!important;}
    .posting-wrap .card-body{border-radius:0 0 20px 20px;    padding: 0 12px;}
    .posting-wrap .card-footer{border-radius:0 0 20px 20px!important;background-color:#fff;}
    .tags-wrap ul{margin-bottom:0px!important;}
    a{text-decoration:none!important;}
    .posted-job-wrapper{padding-bottom:15px;margin-bottom:15px;}
    .posted-job-wrapper.border-bottom:last-child{border-bottom:0!important;}
    .posted-job-wrapper .dropdown-menu{padding-left:0px!important;}

    .dropdown-header {cursor: pointer;line-height: 50px;padding-left: 10px;padding-right: 50px;position: relative;text-overflow: ellipsis;}
    .dropdown-header i.fa {position: absolute;right: 10px;top: 50%;transform: translateY(-50%);transition: opacity 0.3s;}
    .dropdown-header i.fa.fa-angle-up {opacity: 0;}
    .dropdown-header.is-active i.fa.fa-angle-up {opacity: 1;}
    .dropdown-header.is-active i.fa.fa-angle-down {opacity: 0;}
    .dropdown-header.is-active + .dropdown-content {height: auto;opacity: 1;visibility: visible;display:block;}
    .dropdown-content {height: 0;opacity: 0;overflow: hidden;padding: 20px;transition: opacity 0.3s;visibility: hidden;background-color:#fff;    border-radius: 8px;margin-bottom: 20px;display:none;}
    .dropdown-content .custom-control label{font-weight:500;font-size:16px;color:#333;}
  
  </style>
