<template>
  <b-container>
    <b-row class="mt-100 expan-team-wrap mb-4">
      <b-col xl="12" lg="12" sm="12">
        <h4 class="mb-4 fz-24 fw-500 text-black"><b>Your Hires</b></h4>
        <div class="input-group mb-3 search-bar">
          <input type="text" class="form-control border-none" placeholder="Search" aria-describedby="basic-addon2">
          <span class="input-group-text bg-white" id="basic-addon2">
            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9689 5.13525C16.0046 5.13525 17.9184 5.92799 19.3579 7.36746C20.7973 8.8069 21.59 10.7207 21.5901 12.7564C21.5901 14.7921 20.7973 16.706 19.3579 18.1454C17.9184 19.5849 16.0046 20.3776 13.9689 20.3776C11.9332 20.3776 10.0193 19.5849 8.57987 18.1454C7.14039 16.706 6.34766 14.7921 6.34766 12.7564C6.34766 10.7207 7.14039 8.8069 8.57987 7.36746C10.0193 5.92799 11.9331 5.13525 13.9689 5.13525ZM7.80186 12.7564C7.80186 16.1569 10.5683 18.9234 13.9688 18.9234C17.3693 18.9234 20.1358 16.1569 20.1358 12.7564C20.1358 9.35594 17.3694 6.58946 13.9689 6.58946C10.5684 6.58946 7.80186 9.35594 7.80186 12.7564Z" fill="#F2613C"/>
              <path d="M24.1347 21.8942L19.3548 17.1143C19.0708 16.8304 18.6104 16.8304 18.3265 17.1143C18.0425 17.3983 18.0425 17.8587 18.3265 18.1426L23.1063 22.9225C23.2483 23.0645 23.4344 23.1355 23.6205 23.1355C23.8066 23.1355 23.9927 23.0645 24.1347 22.9225C24.4186 22.6385 24.4186 22.1782 24.1347 21.8942Z" fill="#F2613C"/>
            </svg>
          </span>
        </div>

        <b-card-group deck>
          <b-card class="py-12 px-4 bg-white br-20 mb-4">
            <div class="text-center">
              <svg width="149" height="149" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto">
                <path d="M65.7535 6.47396C70.8988 2.90571 77.7184 2.90571 82.8637 6.47396C86.1714 8.76789 90.2618 9.63733 94.2166 8.88711C100.368 7.72012 106.598 10.4939 109.848 15.8464C111.936 19.2874 115.319 21.7454 119.237 22.6686C125.332 24.1047 129.895 29.1726 130.686 35.3839C131.195 39.377 133.286 42.9986 136.49 45.4356C141.473 49.2264 143.581 55.7122 141.777 61.7083C140.618 65.563 141.055 69.7219 142.99 73.2513C146.001 78.7414 145.288 85.5236 141.202 90.2677C138.575 93.3176 137.282 97.2947 137.615 101.306C138.133 107.546 134.723 113.452 129.06 116.124C125.42 117.842 122.621 120.949 121.294 124.749C119.228 130.661 113.711 134.669 107.451 134.807C103.427 134.895 99.6067 136.596 96.8481 139.527C92.5572 144.087 85.8866 145.505 80.1119 143.085C76.3995 141.529 72.2177 141.529 68.5053 143.085C62.7306 145.505 56.06 144.087 51.769 139.527C49.0105 136.596 45.1902 134.895 41.1659 134.807C34.9059 134.669 29.3887 130.661 27.3235 124.749C25.9958 120.949 23.1976 117.842 19.5571 116.124C13.8943 113.452 10.4845 107.546 11.0021 101.306C11.3348 97.2947 10.0425 93.3176 7.41543 90.2677C3.3289 85.5236 2.61606 78.7414 5.62693 73.2513C7.56254 69.7219 7.99966 65.563 6.84015 61.7083C5.03652 55.7122 7.1439 49.2264 12.1275 45.4356C15.3313 42.9986 17.4222 39.377 17.9308 35.3839C18.7219 29.1726 23.2851 24.1047 29.3797 22.6686C33.2977 21.7454 36.6809 19.2874 38.7697 15.8464C42.0188 10.4939 48.2488 7.72012 54.4005 8.88711C58.3554 9.63733 62.4458 8.76789 65.7535 6.47396Z" fill="#F2613C"/>
                <path d="M68.4151 83.8327H76.452L83.8639 55.4354L86.4536 44.1836H74.2195L72.5228 55.4354L68.4151 83.8327ZM68.5044 105.086C73.6837 105.086 77.2557 100.621 77.2557 96.1561C77.2557 92.3162 74.7553 89.4586 70.9154 89.4586C65.7361 89.4586 62.1641 94.1022 62.1641 98.4779C62.1641 102.407 64.6645 105.086 68.5044 105.086Z" fill="white"/>
              </svg>
              <h4 class="fz-20 fw-600 text-black mt-2">You don't have any hires yet</h4>
              <p class="fz-14 fw-500 text-black mb-0">Interview promising candidates and make them an offer.</p>
              <b-button class="btn btn-theme mt-8">Hire</b-button>
            </div>
          </b-card>
        </b-card-group> 

        <b-card-group deck>
          <b-card title-class="text-theme font-14" class="py-4 px-4 bg-white br-20">
            <b-row class="profile-wrap mb-4">
              <b-col cols="8" class="pb-0">
                <div class="d-md-flex align-items-center mb-2">
                  <div class="img-wrapper mr-3 pos-relative">
                    <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid">
                    <i class="fa fa-circle text-success pos-absolute"></i>
                  </div>
                  <div class="content">
                    <div class="d-flex align-items-center mb-2">
                      <h4 class="fz-20 fw-600 text-black mr-2 mb-0">Lewis Caldwell MKP</h4>
                      <label class="badge badge-theme mr-2">TOP RATED</label>
                    </div>
                    <ul class="mb-2">
                      <li>E&I Inspector</li>  
                      <li>
                        <div class="star-rating">
                          <label for="5-stars" class="star active">&#9733;</label>
                          <label for="4-stars" class="star active">&#9733;</label>
                          <label for="3-stars" class="star active">&#9733;</label>
                          <label for="2-stars" class="star active">&#9733;</label>
                          <label for="1-star" class="star">&#9733;</label>
                        </div>
                      </li>
                    </ul><br>
                    <ul class="mb-2">
                      <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4072 4.79297C8.78486 4.79297 5.81641 7.48062 5.81641 10.8161C5.81641 12.6105 6.87564 14.7793 8.6451 17.1772C9.26 18.0105 9.92274 18.8168 10.5926 19.57C11.0126 20.0423 11.3592 20.4091 11.5857 20.6375C12.0315 21.087 12.7831 21.0867 13.2287 20.6375C13.4551 20.4091 13.8017 20.0423 14.2217 19.57C14.8916 18.8168 15.5543 18.0105 16.1693 17.1772C17.9387 14.7793 18.9979 12.6105 18.9979 10.8161C18.9979 7.4806 16.0294 4.79297 12.4072 4.79297ZM9.59582 16.4756C7.96655 14.2677 6.99794 12.2845 6.99794 10.8161C6.99794 8.1608 9.41266 5.97451 12.4072 5.97451C15.4016 5.97451 17.8163 8.16079 17.8164 10.8162C17.8164 12.2845 16.8478 14.2677 15.2185 16.4756C14.2035 17.8511 13.155 19.0319 12.4072 19.7878C11.6594 19.0319 10.6108 17.8511 9.59582 16.4756ZM12.4072 12.9568C11.1745 12.9568 10.1786 11.9317 10.1786 10.6778C10.1786 9.42403 11.1745 8.39886 12.4072 8.39886C13.6399 8.39886 14.6357 9.42405 14.6357 10.6779C14.6357 11.9317 13.6399 12.9568 12.4072 12.9568ZM12.4072 11.9283C13.065 11.9283 13.6072 11.3702 13.6072 10.6779C13.6072 9.98554 13.065 9.42744 12.4072 9.42744C11.7493 9.42744 11.2072 9.98554 11.2072 10.6778C11.2072 11.3702 11.7493 11.9283 12.4072 11.9283Z" fill="#999999"/>
                        </svg>
                      </li>
                      <li>India, Madhya Pradesh, Indore</li>
                    </ul>
                  </div>
                </div>
              </b-col>
              <b-col cols="4" class="text-right d-flex align-items-center justify-content-end pb-0">
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1073_19285)">
                    <path d="M17.6833 13.159C18.0522 12.6885 18.2291 12.1841 18.2065 11.6647C18.184 11.0925 17.928 10.6446 17.7172 10.3698C17.9619 9.76002 18.056 8.80017 17.2392 8.05488C16.6407 7.50908 15.6244 7.26441 14.2166 7.33217C13.2266 7.37734 12.3985 7.56178 12.3646 7.56931H12.3609C12.1727 7.60318 11.9732 7.64459 11.7699 7.68976C11.7548 7.44885 11.7963 6.85036 12.2404 5.5028C12.7674 3.89929 12.7373 2.67219 12.1425 1.85161C11.5177 0.989629 10.5202 0.921875 10.2266 0.921875C9.94431 0.921875 9.68458 1.03856 9.50014 1.25312C9.08232 1.73869 9.13126 2.63455 9.18396 3.0486C8.68709 4.3811 7.29437 7.64835 6.1162 8.5555C6.09362 8.57056 6.0748 8.58938 6.05598 8.6082C5.70968 8.97332 5.4763 9.36855 5.31821 9.71485C5.09613 9.5944 4.84393 9.52665 4.57292 9.52665H2.27681C1.41106 9.52665 0.710938 10.2305 0.710938 11.0925V17.2092C0.710938 18.075 1.41483 18.7751 2.27681 18.7751H4.57292C4.90792 18.7751 5.22034 18.6697 5.4763 18.489L6.36087 18.5944C6.49638 18.6132 8.90541 18.9181 11.3784 18.8692C11.8264 18.9031 12.2479 18.9219 12.6394 18.9219C13.3132 18.9219 13.9004 18.8692 14.3897 18.7638C15.5415 18.5191 16.3282 18.0298 16.7272 17.3108C17.0321 16.7613 17.0321 16.2155 16.9832 15.8692C17.7323 15.1916 17.864 14.4426 17.8377 13.9156C17.8226 13.6107 17.7548 13.351 17.6833 13.159ZM2.27681 17.7588C1.97192 17.7588 1.72725 17.5103 1.72725 17.2092V11.0888C1.72725 10.7839 1.97568 10.5392 2.27681 10.5392H4.57292C4.87781 10.5392 5.12248 10.7876 5.12248 11.0888V17.2054C5.12248 17.5103 4.87405 17.755 4.57292 17.755H2.27681V17.7588ZM16.7197 12.7186C16.5616 12.8842 16.5315 13.1364 16.652 13.3322C16.652 13.3359 16.8063 13.5994 16.8251 13.9608C16.8515 14.4539 16.6143 14.8905 16.1175 15.2632C15.9405 15.3987 15.869 15.632 15.9443 15.8428C15.9443 15.8466 16.1062 16.3435 15.8427 16.814C15.5905 17.2657 15.0296 17.5894 14.1789 17.7701C13.4976 17.9169 12.5717 17.9432 11.4349 17.8529C11.4198 17.8529 11.401 17.8529 11.3822 17.8529C8.96187 17.9056 6.5152 17.5894 6.48885 17.5856H6.48509L6.10491 17.5405C6.1275 17.4351 6.13879 17.3221 6.13879 17.2092V11.0888C6.13879 10.9269 6.11244 10.7688 6.06727 10.622C6.13502 10.3698 6.32323 9.80895 6.7674 9.33091C8.45748 7.99089 10.1099 3.47018 10.1814 3.27445C10.2116 3.1954 10.2191 3.10883 10.204 3.02225C10.14 2.60067 10.1626 2.08499 10.253 1.93066C10.4525 1.93442 10.9907 1.99088 11.3144 2.43881C11.6984 2.96955 11.6833 3.91811 11.2693 5.17533C10.6369 7.09126 10.5842 8.10005 11.0848 8.54421C11.3333 8.76629 11.6645 8.77759 11.9054 8.69101C12.135 8.63831 12.3533 8.59314 12.5604 8.55927C12.5754 8.5555 12.5942 8.55174 12.6093 8.54798C13.7649 8.29578 15.8351 8.14145 16.5541 8.79641C17.1639 9.3535 16.731 10.0913 16.6821 10.1703C16.5428 10.3811 16.5842 10.6559 16.7724 10.8253C16.7762 10.829 17.1714 11.2017 17.1902 11.7023C17.2053 12.0373 17.0472 12.3798 16.7197 12.7186Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1073_19285">
                    <rect width="18" height="18" fill="white" transform="translate(0.460938 0.921875)"/>
                    </clipPath>
                    </defs>
                  </svg>
                </button>
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2511_17183)"><path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"></path></g><defs><clipPath id="clip0_2511_17183"><rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"></rect></clipPath></defs></svg>
                </button>
                <button type="button" class="btn btn-theme">Rehire</button>
              </b-col>
              <b-col cols="12" class="pt-0">
                <p class="text-black fz-16 fw-500 pl-30 text-muted">We regularly need Freelance Inspectors based in Jiangsu Province-China for occasional Inspection of Mooring Chains, Valves, Forgings, Castings, etc. Candidates must possess a degree in Mechanical Engineering or Metallurgy and hold valid Level NDT Certificates in RT, UT & MT. Experience in Welding, Machining & Lab tests preferred...</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Contracts</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Freelance Inspector- China- Mooring </p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Angular Website Changes</p>
              </b-col>
            </b-row>
            <hr>
            <b-row class="profile-wrap mb-4">
              <b-col cols="8" class="pb-0">
                <div class="d-md-flex align-items-center mb-2">
                  <div class="img-wrapper mr-3 pos-relative">
                    <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid">
                    <i class="fa fa-circle text-success pos-absolute"></i>
                  </div>
                  <div class="content">
                    <div class="d-flex align-items-center mb-2">
                      <h4 class="fz-20 fw-600 text-black mr-2 mb-0">Lewis Caldwell MKP</h4>
                      <label class="badge badge-theme mr-2">TOP RATED</label>
                    </div>
                    <ul class="mb-2">
                      <li>E&I Inspector</li>  
                      <li>
                        <div class="star-rating">
                          <label for="5-stars" class="star active">&#9733;</label>
                          <label for="4-stars" class="star active">&#9733;</label>
                          <label for="3-stars" class="star active">&#9733;</label>
                          <label for="2-stars" class="star active">&#9733;</label>
                          <label for="1-star" class="star">&#9733;</label>
                        </div>
                      </li>
                    </ul><br>
                    <ul class="mb-2">
                      <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4072 4.79297C8.78486 4.79297 5.81641 7.48062 5.81641 10.8161C5.81641 12.6105 6.87564 14.7793 8.6451 17.1772C9.26 18.0105 9.92274 18.8168 10.5926 19.57C11.0126 20.0423 11.3592 20.4091 11.5857 20.6375C12.0315 21.087 12.7831 21.0867 13.2287 20.6375C13.4551 20.4091 13.8017 20.0423 14.2217 19.57C14.8916 18.8168 15.5543 18.0105 16.1693 17.1772C17.9387 14.7793 18.9979 12.6105 18.9979 10.8161C18.9979 7.4806 16.0294 4.79297 12.4072 4.79297ZM9.59582 16.4756C7.96655 14.2677 6.99794 12.2845 6.99794 10.8161C6.99794 8.1608 9.41266 5.97451 12.4072 5.97451C15.4016 5.97451 17.8163 8.16079 17.8164 10.8162C17.8164 12.2845 16.8478 14.2677 15.2185 16.4756C14.2035 17.8511 13.155 19.0319 12.4072 19.7878C11.6594 19.0319 10.6108 17.8511 9.59582 16.4756ZM12.4072 12.9568C11.1745 12.9568 10.1786 11.9317 10.1786 10.6778C10.1786 9.42403 11.1745 8.39886 12.4072 8.39886C13.6399 8.39886 14.6357 9.42405 14.6357 10.6779C14.6357 11.9317 13.6399 12.9568 12.4072 12.9568ZM12.4072 11.9283C13.065 11.9283 13.6072 11.3702 13.6072 10.6779C13.6072 9.98554 13.065 9.42744 12.4072 9.42744C11.7493 9.42744 11.2072 9.98554 11.2072 10.6778C11.2072 11.3702 11.7493 11.9283 12.4072 11.9283Z" fill="#999999"/>
                        </svg>
                      </li>
                      <li>India, Madhya Pradesh, Indore</li>
                    </ul>
                  </div>
                </div>
              </b-col>
              <b-col cols="4" class="text-right d-flex align-items-center justify-content-end pb-0">
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1073_19285)">
                    <path d="M17.6833 13.159C18.0522 12.6885 18.2291 12.1841 18.2065 11.6647C18.184 11.0925 17.928 10.6446 17.7172 10.3698C17.9619 9.76002 18.056 8.80017 17.2392 8.05488C16.6407 7.50908 15.6244 7.26441 14.2166 7.33217C13.2266 7.37734 12.3985 7.56178 12.3646 7.56931H12.3609C12.1727 7.60318 11.9732 7.64459 11.7699 7.68976C11.7548 7.44885 11.7963 6.85036 12.2404 5.5028C12.7674 3.89929 12.7373 2.67219 12.1425 1.85161C11.5177 0.989629 10.5202 0.921875 10.2266 0.921875C9.94431 0.921875 9.68458 1.03856 9.50014 1.25312C9.08232 1.73869 9.13126 2.63455 9.18396 3.0486C8.68709 4.3811 7.29437 7.64835 6.1162 8.5555C6.09362 8.57056 6.0748 8.58938 6.05598 8.6082C5.70968 8.97332 5.4763 9.36855 5.31821 9.71485C5.09613 9.5944 4.84393 9.52665 4.57292 9.52665H2.27681C1.41106 9.52665 0.710938 10.2305 0.710938 11.0925V17.2092C0.710938 18.075 1.41483 18.7751 2.27681 18.7751H4.57292C4.90792 18.7751 5.22034 18.6697 5.4763 18.489L6.36087 18.5944C6.49638 18.6132 8.90541 18.9181 11.3784 18.8692C11.8264 18.9031 12.2479 18.9219 12.6394 18.9219C13.3132 18.9219 13.9004 18.8692 14.3897 18.7638C15.5415 18.5191 16.3282 18.0298 16.7272 17.3108C17.0321 16.7613 17.0321 16.2155 16.9832 15.8692C17.7323 15.1916 17.864 14.4426 17.8377 13.9156C17.8226 13.6107 17.7548 13.351 17.6833 13.159ZM2.27681 17.7588C1.97192 17.7588 1.72725 17.5103 1.72725 17.2092V11.0888C1.72725 10.7839 1.97568 10.5392 2.27681 10.5392H4.57292C4.87781 10.5392 5.12248 10.7876 5.12248 11.0888V17.2054C5.12248 17.5103 4.87405 17.755 4.57292 17.755H2.27681V17.7588ZM16.7197 12.7186C16.5616 12.8842 16.5315 13.1364 16.652 13.3322C16.652 13.3359 16.8063 13.5994 16.8251 13.9608C16.8515 14.4539 16.6143 14.8905 16.1175 15.2632C15.9405 15.3987 15.869 15.632 15.9443 15.8428C15.9443 15.8466 16.1062 16.3435 15.8427 16.814C15.5905 17.2657 15.0296 17.5894 14.1789 17.7701C13.4976 17.9169 12.5717 17.9432 11.4349 17.8529C11.4198 17.8529 11.401 17.8529 11.3822 17.8529C8.96187 17.9056 6.5152 17.5894 6.48885 17.5856H6.48509L6.10491 17.5405C6.1275 17.4351 6.13879 17.3221 6.13879 17.2092V11.0888C6.13879 10.9269 6.11244 10.7688 6.06727 10.622C6.13502 10.3698 6.32323 9.80895 6.7674 9.33091C8.45748 7.99089 10.1099 3.47018 10.1814 3.27445C10.2116 3.1954 10.2191 3.10883 10.204 3.02225C10.14 2.60067 10.1626 2.08499 10.253 1.93066C10.4525 1.93442 10.9907 1.99088 11.3144 2.43881C11.6984 2.96955 11.6833 3.91811 11.2693 5.17533C10.6369 7.09126 10.5842 8.10005 11.0848 8.54421C11.3333 8.76629 11.6645 8.77759 11.9054 8.69101C12.135 8.63831 12.3533 8.59314 12.5604 8.55927C12.5754 8.5555 12.5942 8.55174 12.6093 8.54798C13.7649 8.29578 15.8351 8.14145 16.5541 8.79641C17.1639 9.3535 16.731 10.0913 16.6821 10.1703C16.5428 10.3811 16.5842 10.6559 16.7724 10.8253C16.7762 10.829 17.1714 11.2017 17.1902 11.7023C17.2053 12.0373 17.0472 12.3798 16.7197 12.7186Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1073_19285">
                    <rect width="18" height="18" fill="white" transform="translate(0.460938 0.921875)"/>
                    </clipPath>
                    </defs>
                  </svg>
                </button>
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2511_17183)"><path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"></path></g><defs><clipPath id="clip0_2511_17183"><rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"></rect></clipPath></defs></svg>
                </button>
                <button type="button" class="btn btn-theme">Rehire</button>
              </b-col>
              <b-col cols="12" class="pt-0">
                <p class="text-black fz-16 fw-500 pl-30 text-muted">We regularly need Freelance Inspectors based in Jiangsu Province-China for occasional Inspection of Mooring Chains, Valves, Forgings, Castings, etc. Candidates must possess a degree in Mechanical Engineering or Metallurgy and hold valid Level NDT Certificates in RT, UT & MT. Experience in Welding, Machining & Lab tests preferred...</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Contracts</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Freelance Inspector- China- Mooring </p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Angular Website Changes</p>
              </b-col>
            </b-row>
            <hr>
            <b-row class="profile-wrap mb-4">
              <b-col cols="8" class="pb-0">
                <div class="d-md-flex align-items-center mb-2">
                  <div class="img-wrapper mr-3 pos-relative">
                    <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid">
                    <i class="fa fa-circle text-success pos-absolute"></i>
                  </div>
                  <div class="content">
                    <div class="d-flex align-items-center mb-2">
                      <h4 class="fz-20 fw-600 text-black mr-2 mb-0">Lewis Caldwell MKP</h4>
                      <label class="badge badge-theme mr-2">TOP RATED</label>
                    </div>
                    <ul class="mb-2">
                      <li>E&I Inspector</li>  
                      <li>
                        <div class="star-rating">
                          <label for="5-stars" class="star active">&#9733;</label>
                          <label for="4-stars" class="star active">&#9733;</label>
                          <label for="3-stars" class="star active">&#9733;</label>
                          <label for="2-stars" class="star active">&#9733;</label>
                          <label for="1-star" class="star">&#9733;</label>
                        </div>
                      </li>
                    </ul><br>
                    <ul class="mb-2">
                      <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4072 4.79297C8.78486 4.79297 5.81641 7.48062 5.81641 10.8161C5.81641 12.6105 6.87564 14.7793 8.6451 17.1772C9.26 18.0105 9.92274 18.8168 10.5926 19.57C11.0126 20.0423 11.3592 20.4091 11.5857 20.6375C12.0315 21.087 12.7831 21.0867 13.2287 20.6375C13.4551 20.4091 13.8017 20.0423 14.2217 19.57C14.8916 18.8168 15.5543 18.0105 16.1693 17.1772C17.9387 14.7793 18.9979 12.6105 18.9979 10.8161C18.9979 7.4806 16.0294 4.79297 12.4072 4.79297ZM9.59582 16.4756C7.96655 14.2677 6.99794 12.2845 6.99794 10.8161C6.99794 8.1608 9.41266 5.97451 12.4072 5.97451C15.4016 5.97451 17.8163 8.16079 17.8164 10.8162C17.8164 12.2845 16.8478 14.2677 15.2185 16.4756C14.2035 17.8511 13.155 19.0319 12.4072 19.7878C11.6594 19.0319 10.6108 17.8511 9.59582 16.4756ZM12.4072 12.9568C11.1745 12.9568 10.1786 11.9317 10.1786 10.6778C10.1786 9.42403 11.1745 8.39886 12.4072 8.39886C13.6399 8.39886 14.6357 9.42405 14.6357 10.6779C14.6357 11.9317 13.6399 12.9568 12.4072 12.9568ZM12.4072 11.9283C13.065 11.9283 13.6072 11.3702 13.6072 10.6779C13.6072 9.98554 13.065 9.42744 12.4072 9.42744C11.7493 9.42744 11.2072 9.98554 11.2072 10.6778C11.2072 11.3702 11.7493 11.9283 12.4072 11.9283Z" fill="#999999"/>
                        </svg>
                      </li>
                      <li>India, Madhya Pradesh, Indore</li>
                    </ul>
                  </div>
                </div>
              </b-col>
              <b-col cols="4" class="text-right d-flex align-items-center justify-content-end pb-0">
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1073_19285)">
                    <path d="M17.6833 13.159C18.0522 12.6885 18.2291 12.1841 18.2065 11.6647C18.184 11.0925 17.928 10.6446 17.7172 10.3698C17.9619 9.76002 18.056 8.80017 17.2392 8.05488C16.6407 7.50908 15.6244 7.26441 14.2166 7.33217C13.2266 7.37734 12.3985 7.56178 12.3646 7.56931H12.3609C12.1727 7.60318 11.9732 7.64459 11.7699 7.68976C11.7548 7.44885 11.7963 6.85036 12.2404 5.5028C12.7674 3.89929 12.7373 2.67219 12.1425 1.85161C11.5177 0.989629 10.5202 0.921875 10.2266 0.921875C9.94431 0.921875 9.68458 1.03856 9.50014 1.25312C9.08232 1.73869 9.13126 2.63455 9.18396 3.0486C8.68709 4.3811 7.29437 7.64835 6.1162 8.5555C6.09362 8.57056 6.0748 8.58938 6.05598 8.6082C5.70968 8.97332 5.4763 9.36855 5.31821 9.71485C5.09613 9.5944 4.84393 9.52665 4.57292 9.52665H2.27681C1.41106 9.52665 0.710938 10.2305 0.710938 11.0925V17.2092C0.710938 18.075 1.41483 18.7751 2.27681 18.7751H4.57292C4.90792 18.7751 5.22034 18.6697 5.4763 18.489L6.36087 18.5944C6.49638 18.6132 8.90541 18.9181 11.3784 18.8692C11.8264 18.9031 12.2479 18.9219 12.6394 18.9219C13.3132 18.9219 13.9004 18.8692 14.3897 18.7638C15.5415 18.5191 16.3282 18.0298 16.7272 17.3108C17.0321 16.7613 17.0321 16.2155 16.9832 15.8692C17.7323 15.1916 17.864 14.4426 17.8377 13.9156C17.8226 13.6107 17.7548 13.351 17.6833 13.159ZM2.27681 17.7588C1.97192 17.7588 1.72725 17.5103 1.72725 17.2092V11.0888C1.72725 10.7839 1.97568 10.5392 2.27681 10.5392H4.57292C4.87781 10.5392 5.12248 10.7876 5.12248 11.0888V17.2054C5.12248 17.5103 4.87405 17.755 4.57292 17.755H2.27681V17.7588ZM16.7197 12.7186C16.5616 12.8842 16.5315 13.1364 16.652 13.3322C16.652 13.3359 16.8063 13.5994 16.8251 13.9608C16.8515 14.4539 16.6143 14.8905 16.1175 15.2632C15.9405 15.3987 15.869 15.632 15.9443 15.8428C15.9443 15.8466 16.1062 16.3435 15.8427 16.814C15.5905 17.2657 15.0296 17.5894 14.1789 17.7701C13.4976 17.9169 12.5717 17.9432 11.4349 17.8529C11.4198 17.8529 11.401 17.8529 11.3822 17.8529C8.96187 17.9056 6.5152 17.5894 6.48885 17.5856H6.48509L6.10491 17.5405C6.1275 17.4351 6.13879 17.3221 6.13879 17.2092V11.0888C6.13879 10.9269 6.11244 10.7688 6.06727 10.622C6.13502 10.3698 6.32323 9.80895 6.7674 9.33091C8.45748 7.99089 10.1099 3.47018 10.1814 3.27445C10.2116 3.1954 10.2191 3.10883 10.204 3.02225C10.14 2.60067 10.1626 2.08499 10.253 1.93066C10.4525 1.93442 10.9907 1.99088 11.3144 2.43881C11.6984 2.96955 11.6833 3.91811 11.2693 5.17533C10.6369 7.09126 10.5842 8.10005 11.0848 8.54421C11.3333 8.76629 11.6645 8.77759 11.9054 8.69101C12.135 8.63831 12.3533 8.59314 12.5604 8.55927C12.5754 8.5555 12.5942 8.55174 12.6093 8.54798C13.7649 8.29578 15.8351 8.14145 16.5541 8.79641C17.1639 9.3535 16.731 10.0913 16.6821 10.1703C16.5428 10.3811 16.5842 10.6559 16.7724 10.8253C16.7762 10.829 17.1714 11.2017 17.1902 11.7023C17.2053 12.0373 17.0472 12.3798 16.7197 12.7186Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1073_19285">
                    <rect width="18" height="18" fill="white" transform="translate(0.460938 0.921875)"/>
                    </clipPath>
                    </defs>
                  </svg>
                </button>
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2511_17183)"><path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"></path></g><defs><clipPath id="clip0_2511_17183"><rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"></rect></clipPath></defs></svg>
                </button>
                <button type="button" class="btn btn-theme">Rehire</button>
              </b-col>
              <b-col cols="12" class="pt-0">
                <p class="text-black fz-16 fw-500 pl-30 text-muted">We regularly need Freelance Inspectors based in Jiangsu Province-China for occasional Inspection of Mooring Chains, Valves, Forgings, Castings, etc. Candidates must possess a degree in Mechanical Engineering or Metallurgy and hold valid Level NDT Certificates in RT, UT & MT. Experience in Welding, Machining & Lab tests preferred...</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Contracts</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Freelance Inspector- China- Mooring </p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Angular Website Changes</p>
              </b-col>
            </b-row>
            <hr>
            <b-row class="profile-wrap mb-4">
              <b-col cols="8" class="pb-0">
                <div class="d-md-flex align-items-center mb-2">
                  <div class="img-wrapper mr-3 pos-relative">
                    <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid">
                    <i class="fa fa-circle text-success pos-absolute"></i>
                  </div>
                  <div class="content">
                    <div class="d-flex align-items-center mb-2">
                      <h4 class="fz-20 fw-600 text-black mr-2 mb-0">Lewis Caldwell MKP</h4>
                      <label class="badge badge-theme mr-2">TOP RATED</label>
                    </div>
                    <ul class="mb-2">
                      <li>E&I Inspector</li>  
                      <li>
                        <div class="star-rating">
                          <label for="5-stars" class="star active">&#9733;</label>
                          <label for="4-stars" class="star active">&#9733;</label>
                          <label for="3-stars" class="star active">&#9733;</label>
                          <label for="2-stars" class="star active">&#9733;</label>
                          <label for="1-star" class="star">&#9733;</label>
                        </div>
                      </li>
                    </ul><br>
                    <ul class="mb-2">
                      <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4072 4.79297C8.78486 4.79297 5.81641 7.48062 5.81641 10.8161C5.81641 12.6105 6.87564 14.7793 8.6451 17.1772C9.26 18.0105 9.92274 18.8168 10.5926 19.57C11.0126 20.0423 11.3592 20.4091 11.5857 20.6375C12.0315 21.087 12.7831 21.0867 13.2287 20.6375C13.4551 20.4091 13.8017 20.0423 14.2217 19.57C14.8916 18.8168 15.5543 18.0105 16.1693 17.1772C17.9387 14.7793 18.9979 12.6105 18.9979 10.8161C18.9979 7.4806 16.0294 4.79297 12.4072 4.79297ZM9.59582 16.4756C7.96655 14.2677 6.99794 12.2845 6.99794 10.8161C6.99794 8.1608 9.41266 5.97451 12.4072 5.97451C15.4016 5.97451 17.8163 8.16079 17.8164 10.8162C17.8164 12.2845 16.8478 14.2677 15.2185 16.4756C14.2035 17.8511 13.155 19.0319 12.4072 19.7878C11.6594 19.0319 10.6108 17.8511 9.59582 16.4756ZM12.4072 12.9568C11.1745 12.9568 10.1786 11.9317 10.1786 10.6778C10.1786 9.42403 11.1745 8.39886 12.4072 8.39886C13.6399 8.39886 14.6357 9.42405 14.6357 10.6779C14.6357 11.9317 13.6399 12.9568 12.4072 12.9568ZM12.4072 11.9283C13.065 11.9283 13.6072 11.3702 13.6072 10.6779C13.6072 9.98554 13.065 9.42744 12.4072 9.42744C11.7493 9.42744 11.2072 9.98554 11.2072 10.6778C11.2072 11.3702 11.7493 11.9283 12.4072 11.9283Z" fill="#999999"/>
                        </svg>
                      </li>
                      <li>India, Madhya Pradesh, Indore</li>
                    </ul>
                  </div>
                </div>
              </b-col>
              <b-col cols="4" class="text-right d-flex align-items-center justify-content-end pb-0">
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1073_19285)">
                    <path d="M17.6833 13.159C18.0522 12.6885 18.2291 12.1841 18.2065 11.6647C18.184 11.0925 17.928 10.6446 17.7172 10.3698C17.9619 9.76002 18.056 8.80017 17.2392 8.05488C16.6407 7.50908 15.6244 7.26441 14.2166 7.33217C13.2266 7.37734 12.3985 7.56178 12.3646 7.56931H12.3609C12.1727 7.60318 11.9732 7.64459 11.7699 7.68976C11.7548 7.44885 11.7963 6.85036 12.2404 5.5028C12.7674 3.89929 12.7373 2.67219 12.1425 1.85161C11.5177 0.989629 10.5202 0.921875 10.2266 0.921875C9.94431 0.921875 9.68458 1.03856 9.50014 1.25312C9.08232 1.73869 9.13126 2.63455 9.18396 3.0486C8.68709 4.3811 7.29437 7.64835 6.1162 8.5555C6.09362 8.57056 6.0748 8.58938 6.05598 8.6082C5.70968 8.97332 5.4763 9.36855 5.31821 9.71485C5.09613 9.5944 4.84393 9.52665 4.57292 9.52665H2.27681C1.41106 9.52665 0.710938 10.2305 0.710938 11.0925V17.2092C0.710938 18.075 1.41483 18.7751 2.27681 18.7751H4.57292C4.90792 18.7751 5.22034 18.6697 5.4763 18.489L6.36087 18.5944C6.49638 18.6132 8.90541 18.9181 11.3784 18.8692C11.8264 18.9031 12.2479 18.9219 12.6394 18.9219C13.3132 18.9219 13.9004 18.8692 14.3897 18.7638C15.5415 18.5191 16.3282 18.0298 16.7272 17.3108C17.0321 16.7613 17.0321 16.2155 16.9832 15.8692C17.7323 15.1916 17.864 14.4426 17.8377 13.9156C17.8226 13.6107 17.7548 13.351 17.6833 13.159ZM2.27681 17.7588C1.97192 17.7588 1.72725 17.5103 1.72725 17.2092V11.0888C1.72725 10.7839 1.97568 10.5392 2.27681 10.5392H4.57292C4.87781 10.5392 5.12248 10.7876 5.12248 11.0888V17.2054C5.12248 17.5103 4.87405 17.755 4.57292 17.755H2.27681V17.7588ZM16.7197 12.7186C16.5616 12.8842 16.5315 13.1364 16.652 13.3322C16.652 13.3359 16.8063 13.5994 16.8251 13.9608C16.8515 14.4539 16.6143 14.8905 16.1175 15.2632C15.9405 15.3987 15.869 15.632 15.9443 15.8428C15.9443 15.8466 16.1062 16.3435 15.8427 16.814C15.5905 17.2657 15.0296 17.5894 14.1789 17.7701C13.4976 17.9169 12.5717 17.9432 11.4349 17.8529C11.4198 17.8529 11.401 17.8529 11.3822 17.8529C8.96187 17.9056 6.5152 17.5894 6.48885 17.5856H6.48509L6.10491 17.5405C6.1275 17.4351 6.13879 17.3221 6.13879 17.2092V11.0888C6.13879 10.9269 6.11244 10.7688 6.06727 10.622C6.13502 10.3698 6.32323 9.80895 6.7674 9.33091C8.45748 7.99089 10.1099 3.47018 10.1814 3.27445C10.2116 3.1954 10.2191 3.10883 10.204 3.02225C10.14 2.60067 10.1626 2.08499 10.253 1.93066C10.4525 1.93442 10.9907 1.99088 11.3144 2.43881C11.6984 2.96955 11.6833 3.91811 11.2693 5.17533C10.6369 7.09126 10.5842 8.10005 11.0848 8.54421C11.3333 8.76629 11.6645 8.77759 11.9054 8.69101C12.135 8.63831 12.3533 8.59314 12.5604 8.55927C12.5754 8.5555 12.5942 8.55174 12.6093 8.54798C13.7649 8.29578 15.8351 8.14145 16.5541 8.79641C17.1639 9.3535 16.731 10.0913 16.6821 10.1703C16.5428 10.3811 16.5842 10.6559 16.7724 10.8253C16.7762 10.829 17.1714 11.2017 17.1902 11.7023C17.2053 12.0373 17.0472 12.3798 16.7197 12.7186Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1073_19285">
                    <rect width="18" height="18" fill="white" transform="translate(0.460938 0.921875)"/>
                    </clipPath>
                    </defs>
                  </svg>
                </button>
                <button type="button" class="btn btn-outline-secondary br-50 mr-1 btn-like">
                  <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2511_17183)"><path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"></path></g><defs><clipPath id="clip0_2511_17183"><rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"></rect></clipPath></defs></svg>
                </button>
                <button type="button" class="btn btn-theme">Rehire</button>
              </b-col>
              <b-col cols="12" class="pt-0">
                <p class="text-black fz-16 fw-500 pl-30 text-muted">We regularly need Freelance Inspectors based in Jiangsu Province-China for occasional Inspection of Mooring Chains, Valves, Forgings, Castings, etc. Candidates must possess a degree in Mechanical Engineering or Metallurgy and hold valid Level NDT Certificates in RT, UT & MT. Experience in Welding, Machining & Lab tests preferred...</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Contracts</p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Freelance Inspector- China- Mooring </p>
                <p class="text-black fz-16 fw-500 pl-30 mb-1">Angular Website Changes</p>
              </b-col>
            </b-row>
            <hr>
            <b-row class="profile-wrap mb-2">
              <b-col cols="12" class="pb-0">
                <div class="text-center py-4 text-theme">
                  <b-spinner type="border" medium></b-spinner>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
  export default {
    data() {
      return {
        
      }
    },
    
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
  body{font-family: 'Source Sans Pro', sans-serif!important;}
  .text-muted{color:#979797!important;}
  .ralative {padding-bottom:0px;}
  .theme-bg{background-color: #FFF6F4!important;}
  .bg-none{background-color:transparent;}
  .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
  .border-bottom{border-bottom: 1px solid #EBEBEB!important;}
  .br-20{border-radius: 20px;}
  .border-none{border:0px!important;}
  .fz-16{font-size:16px;}
  .fz-18{font-size:18px;}
  .fw-600{font-weight:600;}
  .fw-500{font-weight:500;}
  .fw-400{font-weight:400;}
  .mb-23{margin-bottom:23px;}
  .no-bottom-border{border-bottom:0px!important;}
  .border-top-0{border-top:0px!important;}
  .theme-bg-box{background: rgba(242, 97, 60, 0.05);border-radius: 20px;padding:20px;}
  p {margin-top: 0!important;margin-bottom: 1rem!important;}
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
  dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
  ol, ul {padding-left: 2rem!important;}
  .fz-30{font-size:26px!important;}

  .expan-team-wrap .card{border-radius:20px;}  
  .expan-team-wrap .card-header{border-radius:20px 20px 0 0!important;}
  .expan-team-wrap .card-body{border-radius:0 0 20px 20px;    padding: 0 12px;}
  .expan-team-wrap .card-footer{border-radius:0 0 20px 20px!important;background-color:#fff;}
  .custom-control {position: relative;z-index: 1;display: block;min-height: 1.5rem;padding-left: 1.5rem;-webkit-print-color-adjust: exact;color-adjust: exact;display: flex;align-items: normal;}
  .custom-control-input {position: absolute;left: 0;z-index: -1;width: 1rem;height: 1.25rem;opacity: 0;}
  input[type=checkbox]{box-sizing: border-box;padding: 0;}
  .custom-control-label {position: relative;margin-bottom: 0;vertical-align: top;}
  .custom-checkbox .custom-control-label:before {border-radius: 0.25rem;}
  .custom-control-label:before{transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
  .custom-control-label:after, .custom-control-label:before {position: absolute;top: 0.25rem;left: -1.5rem;display: block;width: 1rem;height: 1rem;content: "";}
  .custom-control-label:before {pointer-events: none;background-color: #fff;border: 1px solid #adb5bd;}
  .custom-control-label:after {background: 50%/50% 50% no-repeat;}
  .custom-control-input:checked~.custom-control-label:before {color: #fff;border-color: #F2613C;background-color: #F2613C;}
  .custom-checkbox .custom-control-input:checked~.custom-control-label:after {content: '\f00c';font-family: fontAwesome;color: #fff;font-weight: 100;font-size: 11px;padding: 0px 3px;}
</style>
