<template>
  <div
    v-if="isAuth && this.$route.name!='Login'  && this.$route.name !='BasicInfo' && this.$route.name !='ExpireLink' &&  this.$route.name!='ForgotPassword'"
    class="fixed top-0 z-20 flex items-center justify-between w-full px-4 transition-all ease-in bg-white shadow-sm duration-600 navbar-main sm:px-6"
    style="z-index: 20"
  >
    <!-- Logo -->
    <div class="h-full mr-4">
      <a @click="$router.push('/')">
        <WebLogo class="mt-4 lg:w-full lg:h-full" />
      </a>
    </div>

    <!-- Search Bar  -->
    <div class="hidden md:block lg:block" v-if="isAuth">
      <div class="relative flex justify-start ml-4 rounded-sm">
        <a >
        <input
          v-model="searchValue"
          type="text"
          name="search"
          id="search"
          placeholder="Search..."
          class="w-full px-2 py-2 mr-3 border border-gray-400 h-9 rounded-l-md focus:outline-border focus:outline-none lg:w-56 sm:w-60 hover:border-indigo-500"
        />
        <div
          class="absolute top-0 w-10 px-2 py-1 transition-all ease-in bg-gray-100 border border-gray-400 cursor-pointer duration-600 rounded-r-md h-9 -right-6 hover:bg-gray-400" @click="openSearch()">
          <SearchIcon class="absolute w-5 h-5 text-gray-600 top-2 right-2.5" />
        </div>
        </a>
      </div>
    </div>

    <div
      class="flex items-center justify-end w-full transition-all duration-500 ease-in-out sm:mt-0"
    >
      <!-- Toggle Mobile Navigation -->
      <div class="block sm:block lg:hidden md:block xl:hidden">
        <div class="flex justify-end">
          <MenuAlt1Icon
            v-b-toggle.sidebar-no-header
            class="w-12 h-12 p-2 text-gray-300 transition-all ease-in rounded-full cursor-pointer duration-600 hover:text-primary-500 hover:bg-gray-100"
          />
        </div>
      </div>

      <div class="transition-all duration-500 ease-in-out" v-if="isAuth">
        <div class="flex items-center" style="padding: 0 0 7px">
          <!--  Desktop Menu Items  -->
          <div
            class="hidden w-full pr-0 transition-all ease-in-out menu-items-list duration-600 xl:mr-10 lg:block md:hidden xl:block"
          >
            <div class="" v-if="isAuth">
              <ul
                class="flex items-center h-10 pb-0 mt-3 mb-2 space-x-4 text-xs font-semibold"
              >
                <!-- Find Work Container -->
                <AppDropdown class="flex items-center justify-end h-full p-3" v-if="$store.state.accountType=='freelancer' || $store.state.accountType=='agency'">
                  <template slot="toggler">
                    <div
                      class="transiçion-all duration-300 ease-in rounded-full -pl-4 cursor-pointer hover:rounded-full d-flex align-items-center fz-16 fw-600 text-muted"
                    >
                      <a
                        href="javascript:void(0);"
                        class="text-muted text-decoration-none"
                        >Find Work</a
                      >
                    </div>
                  </template>
                  <AppDropdownContent
                    class=""
                    dropdownTop="top-10"
                    style="height: 505px"
                  >
                    <AppDropdownItem
                      style="padding: 14px 18px"
                      class="text-black fz-16 fw-600"
                    >
                      <a href="javascript:void(0);"
                      @click="$router.push('/freelancer/search')"
                      class="menu">Find Work</a>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 14px 18px"
                      class="text-black fz-16 fw-600"
                    >
                      <a
                        href="javascript:void(0);"
                        class="menu"
                        @click="$router.push('/saved-jobs')"
                        >Saved Jobs</a
                      >
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 14px 18px"
                      class="text-black fz-16 fw-600"
                    >
                      <a
                        href="javascript:void(0);"
                        class="menu"
                        @click="$router.push('/freelancer/my-proposals')"
                        >Proposals</a
                      >
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 14px 18px"
                      class="text-black fz-16 fw-600"
                    >
                      <a href="javascript:void(0);" class="menu">Profile</a>
                    </AppDropdownItem>
                  </AppDropdownContent>
                </AppDropdown>

                <!-- My Job Container -->
                <AppDropdown class="flex items-center justify-end h-full p-3" v-if="$store.state.accountType=='freelancer' || $store.state.accountType=='agency'">
                  <template slot="toggler">
                    <div
                      @click="isMessage = !isMessage"
                      class="transiçion-all duration-300 ease-in rounded-full -pl-4 cursor-pointer hover:rounded-full d-flex align-items-center fz-16 fw-600 text-muted"
                    >
                      My Jobs
                    </div>
                  </template>
                  <AppDropdownContent
                    class=""
                    dropdownTop="top-10"
                    style="height: 505px"
                  >
                    <AppDropdownItem
                      style="padding: 14px 18px"
                      class="text-black fz-16 fw-600"
                    >
                      <a href="javascript:void(0);" class="menu">My Jobs</a>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 14px 18px"
                      class="text-black fz-16 fw-600"
                    >
                      <a
                        href="javascript:void(0);"
                        class="menu"
                        @click="$router.push('/freelancer/all-contracts')"
                        >All Contracts</a
                      >
                    </AppDropdownItem>
                  </AppDropdownContent>
                </AppDropdown>

                <li v-if="$store.state.accountType=='client'"
                  @click="$router.push('/freelancer/transaction')"
                  class="p-3 transition-all duration-300 ease-in rounded-md cursor-pointer fz-16 fw-600 text-muted"
                >
                  Jobs
                </li>
                <li
                  v-if="$store.state.accountType=='client'"
                  @click="$router.push('/freelancer/transaction')"
                  class="p-3 transition-all duration-300 ease-in rounded-md cursor-pointer fz-16 fw-600 text-muted"
                >
                  Telent
                </li>
                <li
                  @click="$router.push('/freelancer/transaction')"
                  class="p-3 transition-all duration-300 ease-in rounded-md cursor-pointer fz-16 fw-600 text-muted"
                >
                  Reports
                </li>

                <!-- Find job Confirmation Dialog Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">...</div>
                    </div>
                  </div>
                </div>

                <!--<li
                  @click="$router.push('/post-job')"
                  class="p-3 transition-all duration-300 ease-in rounded-md cursor-pointer hover:rounded-md"
                >
                  Post a Job
                </li>-->

                <!-- Tools & Resources -->

                <!-- Message Container -->
                <AppDropdown class="flex items-center justify-end h-full">
                  <template slot="toggler">
                    <div
                      @click="isMessage = !isMessage"
                      class="transiçion-all duration-300 ease-in rounded-full -pl-4 cursor-pointer hover:rounded-full d-flex align-items-center fz-16 fw-600 text-muted p-3"
                    >
                      Messages
                    </div>
                  </template>
                  <transition name="message-slide">
                    <AppDropdownContent
                      class=""
                      dropdownTop="top-10"
                      dropdownwidth="w-96"
                      style="height: 505px"
                    >
                      <AppDropdownItem>
                        <div class="group">
                          <div
                            class="flex items-center justify-between px-4 py-2 border-b border-gray-300"
                          >
                            <h6
                              class="font-medium text-gray-900 cursor-pointer hover:text-primary-500"
                            >
                              Setting
                            </h6>
                            <h6
                              class="font-medium text-gray-900 cursor-pointer hover:text-primary-500"
                            >
                              Clear all
                            </h6>
                          </div>
                        </div>
                      </AppDropdownItem>
                      <AppDropdownItem
                        style="padding: 4px 18px"
                        class="pb-0 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                      >
                        <div class="flex items-center justify-between">
                          <h6
                            class="w-full text-xl font-semibold text-gray-900"
                          >
                            Jassica William
                          </h6>
                          <p
                            class="flex justify-end mr-12 text-sm font-medium text-gray-400 cursor-pointer w-96"
                          >
                            2 min ago
                          </p>
                        </div>
                        <p
                          class="max-w-xs text-base font-medium text-gray-500 truncate"
                        >
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Hic, voluptate..
                        </p>
                      </AppDropdownItem>
                      <AppDropdownItem
                        style="padding: 4px 18px"
                        class="pb-0 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                      >
                        <div class="flex items-center justify-between">
                          <h6
                            class="w-full text-xl font-semibold text-gray-900"
                          >
                            Jassica William
                          </h6>
                          <p
                            class="flex justify-end mr-12 text-sm font-medium text-gray-400 cursor-pointer w-96"
                          >
                            2 min ago
                          </p>
                        </div>
                        <p
                          class="max-w-xs text-base font-medium text-gray-500 truncate"
                        >
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Hic, voluptate..
                        </p>
                      </AppDropdownItem>
                      <AppDropdownItem
                        style="padding: 4px 18px"
                        class="pb-0 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                      >
                        <div class="flex items-center justify-between">
                          <h6
                            class="w-full text-xl font-semibold text-gray-900"
                          >
                            Jassica William
                          </h6>
                          <p
                            class="flex justify-end mr-12 text-sm font-medium text-gray-400 cursor-pointer w-96"
                          >
                            2 min ago
                          </p>
                        </div>
                        <p
                          class="max-w-xs text-base font-medium text-gray-500 truncate"
                        >
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Hic, voluptate..
                        </p>
                      </AppDropdownItem>
                      <AppDropdownItem
                        style="padding: 4px 18px"
                        class="pb-0 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                      >
                        <div class="flex items-center justify-between">
                          <h6
                            class="w-full text-xl font-semibold text-gray-900"
                          >
                            Jassica William
                          </h6>
                          <p
                            class="flex justify-end mr-12 text-sm font-medium text-gray-400 cursor-pointer w-96"
                          >
                            2 min ago
                          </p>
                        </div>
                        <p
                          class="max-w-xs text-base font-medium text-gray-500 truncate"
                        >
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Hic, voluptate..
                        </p>
                      </AppDropdownItem>
                      <AppDropdownItem
                        style="padding: 4px 18px"
                        class="pb-0 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                      >
                        <div class="flex items-center justify-between">
                          <h6
                            class="w-full text-xl font-semibold text-gray-900"
                          >
                            Jassica William
                          </h6>
                          <p
                            class="flex justify-end mr-12 text-sm font-medium text-gray-400 cursor-pointer w-96"
                          >
                            2 min ago
                          </p>
                        </div>
                        <p
                          class="max-w-xs text-base font-medium text-gray-500 truncate"
                        >
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Hic, voluptate..
                        </p>
                      </AppDropdownItem>
                      <AppDropdownItem>
                        <div class="absolute bottom-0 left-0 right-0">
                          <button
                            class="w-full px-4 py-3 text-sm text-white rounded-md shadow-sm cursor-pointer bg-primary-500 hover:bg-red-400"
                          >
                            View all Message
                          </button>
                        </div>
                      </AppDropdownItem>
                    </AppDropdownContent>
                  </transition>
                </AppDropdown>

                <li
                  @click="getNewsFeed"
                  class="p-3 transition-all duration-300 ease-in rounded-md cursor-pointer hover:rounded-md fz-16 fw-600 text-muted"
                >
                  Newsfeed
                </li>


                <!-- Notification Container -->

                <AppDropdown class="flex items-center justify-end h-full">
                  <template slot="toggler">
                    <div
                      class="relative"
                      @click="isNotification = !isNotification"
                    >
                      <BellIcon
                        class="p-3 text-gray-400 transition-all duration-300 ease-in rounded-full cursor-pointer w-14 h-14 hover:rounded-full hover:bg-gray-200 hover:text-primary-500"
                      />
                      <div
                        class="absolute w-4 h-4 text-xs text-center text-white rounded-full top-2 left-7 bg-primary-500"
                      >
                        0
                      </div>
                    </div>
                  </template>
                  <AppDropdownContent
                    dropdownTop="top-10"
                    dropdownwidth="w-96"
                    style="height: 520px"
                  >
                    <AppDropdownItem>
                      <div class="group hover:text-primary-500">
                        <div
                          class="flex items-center justify-between px-4 py-2 border-b border-gray-300"
                        >
                          <h6
                            class="font-medium text-gray-900 cursor-pointer hover:text-primary-500"
                          >
                            Setting
                          </h6>
                          <h6
                            class="font-medium text-gray-900 cursor-pointer hover:text-primary-500"
                          >
                            Clear all
                          </h6>
                        </div>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 10px 20px"
                      class="pb-0 text-sm font-medium text-gray-500 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                    >
                      <span
                        class="text-base font-bold text-gray-900 cursor-pointer"
                      >
                        Jassica William
                      </span>

                      Comment on your project.

                      <div
                        class="inline-flex items-center justify-between w-full mx-auto text-base font-medium text-gray-500 truncate"
                      >
                        <p
                          class="text-xs font-medium text-gray-500 cursor-pointer w-96"
                        >
                          Project
                        </p>
                        <p
                          class="text-xs font-medium text-gray-400 cursor-pointer"
                        >
                          2 min ago
                        </p>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 10px 20px"
                      class="pb-0 text-sm font-medium text-gray-500 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                    >
                      <span
                        class="text-base font-bold text-gray-900 cursor-pointer"
                      >
                        Jassica William
                      </span>

                      Comment on your project.

                      <div
                        class="inline-flex items-center justify-between w-full mx-auto text-base font-medium text-gray-500 truncate"
                      >
                        <p
                          class="text-xs font-medium text-gray-500 cursor-pointer w-96"
                        >
                          Project
                        </p>
                        <p
                          class="text-xs font-medium text-gray-400 cursor-pointer"
                        >
                          2 min ago
                        </p>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 10px 20px"
                      class="pb-0 text-sm font-medium text-gray-500 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                    >
                      <span
                        class="text-base font-bold text-gray-900 cursor-pointer"
                      >
                        Jassica William
                      </span>

                      Comment on your project.

                      <div
                        class="inline-flex items-center justify-between w-full mx-auto text-base font-medium text-gray-500 truncate"
                      >
                        <p
                          class="text-xs font-medium text-gray-500 cursor-pointer w-96"
                        >
                          Project
                        </p>
                        <p
                          class="text-xs font-medium text-gray-400 cursor-pointer"
                        >
                          2 min ago
                        </p>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 10px 20px"
                      class="pb-0 text-sm font-medium text-gray-500 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                    >
                      <span
                        class="text-base font-bold text-gray-900 cursor-pointer"
                      >
                        Jassica William
                      </span>

                      Comment on your project.

                      <div
                        class="inline-flex items-center justify-between w-full mx-auto text-base font-medium text-gray-500 truncate"
                      >
                        <p
                          class="text-xs font-medium text-gray-500 cursor-pointer w-96"
                        >
                          Project
                        </p>
                        <p
                          class="text-xs font-medium text-gray-400 cursor-pointer"
                        >
                          2 min ago
                        </p>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 10px 20px"
                      class="pb-0 text-sm font-medium text-gray-500 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                    >
                      <span
                        class="text-base font-bold text-gray-900 cursor-pointer"
                      >
                        Jassica William
                      </span>

                      Comment on your project.

                      <div
                        class="inline-flex items-center justify-between w-full mx-auto text-base font-medium text-gray-500 truncate"
                      >
                        <p
                          class="text-xs font-medium text-gray-500 cursor-pointer w-96"
                        >
                          Project
                        </p>
                        <p
                          class="text-xs font-medium text-gray-400 cursor-pointer"
                        >
                          2 min ago
                        </p>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      style="padding: 10px 20px"
                      class="pb-0 text-sm font-medium text-gray-500 transition-all duration-500 ease-in border-b border-gray-200 rounded-md cursor-pointer hover:bg-gray-300 hover:rounded-md"
                    >
                      <span
                        class="text-base font-bold text-gray-900 cursor-pointer"
                      >
                        Jassica William
                      </span>

                      Comment on your project.

                      <div
                        class="inline-flex items-center justify-between w-full mx-auto text-base font-medium text-gray-500 truncate"
                      >
                        <p
                          class="text-xs font-medium text-gray-500 cursor-pointer w-96"
                        >
                          Project
                        </p>
                        <p
                          class="text-xs font-medium text-gray-400 cursor-pointer"
                        >
                          2 min ago
                        </p>
                      </div>
                    </AppDropdownItem>
                    <AppDropdownItem
                      class="absolute bottom-0 left-0 right-0"
                      style="margin-top: px"
                    >
                      <button
                        class="w-full px-4 py-3 text-base text-white rounded-md shadow-sm cursor-pointer bg-primary-500 hover:bg-red-400"
                      >
                        View all Notification
                      </button>
                    </AppDropdownItem>
                  </AppDropdownContent>
                </AppDropdown>
              </ul>
            </div>
          </div>

          <div
            v-if="isAuth"
            class="flex items-center justify-end px-2 py-6 space-x-6 lg:border-r lg:border-l md:border-gray-200 md:px-4 xl:px-7 lg:space-x-0 lg:justify-center"
          >
            <!-- User Profile  Dropdown-->
            <div class="w-full">
              <AppDropdown>
                <template slot="toggler">
                  <v-avatar
                    class="hidden shadow-md cursor-pointer sm:hidden md:block lg:block"
                  >
                    <img
                      v-if="currentUser.profile_picture_path"
                      :src="`http://qapin_mvp5.manageprojects.in/upload/profile_image/${currentUser.profile_picture_path}`"
                      alt="John"
                    />
                  </v-avatar>
                </template>

                <transition name="account-dropdown">
                  <AppDropdownContent dropdownwidth="w-96" class="z-10">
                    <AppDropdownItem
                      class="flex items-center px-4 py-2 border-gray-200" 
                      :class="[$store.state.accountType=='freelancer'? 'active-profile' : 'active2']" 
                      v-if="$store.state.listAccount.qp_user"
                    >
                      <div class="shadow-lg">
                        <img
                          :src="`http://qapin_mvp5.manageprojects.in/upload/profile_image/${$store.state.listAccount.qp_user.profile_picture_path}`"
                          class="rounded-md shadow w-14 h-14"
                          alt=""
                           @error="userDefault"
                        />
                      </div>

                      <div
                        class="ml-3 cursor-pointer" 
                        @click="getfreelancerProfile()"
                      >
                        <h3 class="mb-0 text-black fz-16 fw-600">
                         
                          {{ $store.state.listAccount.qp_user.first_name}} {{ $store.state.listAccount.qp_user.last_name}}
                      
                        </h3>
                        <p
                          style="padding: 0"
                          class="mb-0 fz-14 fw-400 text-muted"
                        >
                          Freelancer
                        </p>
                      </div>
                    </AppDropdownItem>

                    <AppDropdownItem
                      class="flex items-center px-4 py-2 border-gray-200" :class="[$store.state.accountType== 'agency'? 'active-profile' : 'active2']"
                       v-if="$store.state.listAccount.company"
                    >
                      <div>
                        <img
                          :src="`http://qapin_mvp5.manageprojects.in/upload/profile_image/${$store.state.listAccount.company[0].company_picture_path}`"
                          class="rounded-md w-14 h-14 no-shadow"
                          alt=""
                          @error="companyDefault" 
                        />
                      </div>

                      <div
                        class="ml-3 cursor-pointer"
                        @click="getAgentProfile()"
                      >
                        <h3 class="mb-0 text-black fz-16 fw-600">
                            {{ $store.state.listAccount.company[0].company_name}}
                        </h3>
                        <p class="mb-0 fz-14 fw-400 text-muted">Agency</p>
                      </div>
                      <div class="ml-auto">
                        <span class="badge badge-theme">99+</span>
                      </div>
                    </AppDropdownItem>

                    <AppDropdownItem
                      class="flex items-center px-4 py-2 border-gray-200"  :class="[$store.state.accountType== 'client'? 'active-profile' : 'active2']"  
                      v-if="$store.state.listAccount.user"
                    >
                      <div>
                        <img
                          :src="`http://qapin_mvp5.manageprojects.in/upload/profile_image/${$store.state.listAccount.user.profile_picture_path}`"
                          class="rounded-md w-14 h-14 no-shadow"
                          alt=""
                          @error="userDefault"
                        />
                      </div>

                      <div class="ml-3 cursor-pointer"
                         @click="getClientProfile()"
                      >
                        <h3 class="mb-0 text-black fz-16 fw-600">
                         {{ $store.state.listAccount.user.first_name}} {{ $store.state.listAccount.user.last_name}}
                        </h3>
                        <p class="mb-0 fz-16 fw-400 text-muted">Client</p>
                      </div>
                      <div class="ml-auto">
                        <span class="badge badge-theme">27</span>
                      </div>
                    </AppDropdownItem>

                    <!-- <AppDropdownItem
                      class="flex items-center px-4 py-2 border-gray-200 cursor-pointer"
                    >
                      <div class="ml-3 cursor-pointer" >
                        <h3 class="mb-0 text-black fz-16 fw-600">
                          Add Client
                        </h3>
                      </div>
                      <div class="ml-auto">
                        <span class="badge badge-theme">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </span>
                      </div>
                    </AppDropdownItem> -->

                    <AppDropdownItem
                      style="padding: 10px 22px"
                      class="flex items-center font-semibold text-gray-900 transition-all duration-500 ease-in-out cursor-pointer sm group hover:text-primary-500 hover:bg-gray-100"
                    >
                      <span
                        class="flex items-center"
                        @click="$router.push('/settings')"
                      >
                        <CogIcon class="w-5 h-5 mr-3 text-theme" />
                        Settings
                      </span>
                    </AppDropdownItem>

                    <!--<AppDropdownItem
                    style="padding: 10px 22px"
                    class="flex items-center mb-3 font-semibold text-gray-900 transition-all duration-500 ease-in-out cursor-pointer sm group hover:text-primary-500 hover:bg-gray-100"
                    >
                    <span @click="logout" class="flex items-center">
                      <PoweroffIcon
                        class="w-4 h-4 mr-4 text-theme"
                      />
                      Settings
                    </span>
                    <span @click="logout" class="flex items-center">
                      <PoweroffIcon
                        class="w-4 h-4 mr-4 text-theme"
                      />
                      Settings
                    </span>
                    </AppDropdownItem>-->
                    <!--<AppDropdownItem
                      class="flex items-center font-semibold text-gray-900 transition-all duration-500 ease-in-out border-b cursor-pointer sm group hover:text-primary-500 hover:bg-gray-100"
                    >
                      <LockClosedIcon
                        class="w-5 h-5 mr-4 text-gray-500 group-hover:text-primary-500"
                      />
                      Privacy
                    </AppDropdownItem>-->
                    <AppDropdownItem
                      style="padding: 10px 22px"
                      class="flex items-center font-semibold text-gray-900 transition-all duration-500 ease-in-out cursor-pointer sm group hover:text-primary-500 hover:bg-gray-100"
                    >
                      <span @click="logout" class="flex items-center">
                        <PoweroffIcon
                          class="w-4 h-4 mr-4 text-gray-500 group-hover:text-primary-500"
                        />
                        Log Out
                      </span>
                    </AppDropdownItem>
                  </AppDropdownContent>
                </transition>
              </AppDropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile Sidebar Menu-->
    <div class="block xl:hidden sm:block lg:hidden">
      <b-sidebar
        body-class="p-0 bg-primary-500"
        id="sidebar-no-header"
        aria-labelledby="sidebar-no-header-title"
        no-header
        :backdrop-variant="'variant'"
        backdrop
        shadow
      >
        <template #default="{ hide }">
          <div class="">
            <div
              class="absolute cursor-pointer right-4 top-4"
              block
              @click="hide"
            >
              <XIcon
                class="w-10 h-10 p-1.5 text-gray-700 bg-gray-200 rounded-full hover:bg-white hover:rounded-full"
              />
            </div>

            <nav class="mb-3">
              <ul class="list-none mt-14" v-if="isAuth" style="padding: 0">
                <li
                  style="padding: 18px"
                  class="text-sm font-medium text-gray-900 cursor-pointer hover:bg-gray-100 hover:text-gray-900"
                >
                  Dashboard
                </li>
                <li
                  style="padding: 18px"
                  class="text-sm font-medium text-gray-900 bg-gray-100 cursor-pointer hover:bg-gray-100 hover:text-gray-900"
                >
                  News Feed
                </li>
                <li
                  style="padding: 18px"
                  class="text-sm font-medium text-gray-900 cursor-pointer hover:bg-gray-100 hover:text-gray-900"
                >
                  Find a Job
                </li>
                <li
                  style="padding: 18px"
                  class="text-sm font-medium text-gray-900 cursor-pointer hover:bg-gray-100 hover:text-gray-900"
                >
                  Post a Job
                </li>
              </ul>
            </nav>

            <div
              class="absolute bottom-0 left-0 flex items-center w-full px-4 py-2 bg-white"
            >
              <button
                @click="logout"
                style="border: 1px solid #f2613c"
                class="px-3 py-2 text-base font-semibold transition-all duration-500 ease-in-out rounded-3xl hover:bg-primary-500 hover:bg-opacity-50"
              >
                Sign out
              </button>
              <div class="flex justify-end cursor-pointer hover:shadow-xl">
                <img
                  v-if="currentUser.profile_picture_path"
                  :src="`http://qapin_mvp5.manageprojects.in/upload/profile_image/${currentUser.profile_picture_path}`"
                  class="w-12 h-12 rounded-full shadow-md"
                  alt=""
                />
              </div>
            </div>
          </div>
        </template>
      </b-sidebar>
    </div>

    <!-- Login& & SignUp Resources -->
    <div class="hidden sm:hidden md:block lg:block">
      <div class="flex items-center justify-end" v-if="!isAuth">
        <label
          v-if="$route.path === '/login'"
          class="flex justify-end mr-5 text-sm font-medium text-gray-500 no-underline transition-all duration-300 ease-in-out w-96"
        >
          New to Qapin ?
        </label>

        <label
          v-if="$route.path === '/sign-up'"
          class="flex justify-end mr-5 text-sm font-medium text-gray-500 no-underline transition-all duration-300 ease-in-out w-96"
        >
          Already a member?
        </label>

        <router-link
          v-if="
            $route.path === '/forgot-password' || $route.path === '/reset-link'
          "
          to="/login"
          class="flex justify-end p-2 text-sm font-medium text-gray-500 no-underline transition-all duration-300 ease-in-out border-white border-solid rounded-md cursor-pointer hoveer:rounded-md hover:bg-gray-100 hover:border hover:border-primary-500 hover:shadow-lg hover:text-primary-500 hovr:border-solid w-max"
        >
          Back To Login
        </router-link>

        <div class="">
          <router-link
            to="/sign-up"
            type="button"
            v-if="$route.path === '/login'"
            class="w-32 px-4 py-2 text-sm font-semibold text-center text-gray-900 no-underline transition-all duration-300 ease-in border border-gray-400 rounded-md shadow-sm cursor-pointer flex-inline hover:text-primary-500 hover:bg-gray-200"
          >
            Sign Up
          </router-link>

          <router-link
            to="/login"
            type="button"
            v-if="$route.path === '/sign-up'"
            class="px-4 py-2 text-sm font-semibold text-gray-900 no-underline transition-all duration-300 ease-in border border-gray-400 rounded-md shadow-sm cursor-pointer hover:text-primary-500 hover:bg-gray-200"
          >
            Login
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  SearchIcon,
  BellIcon,
  MenuAlt1Icon,
  CogIcon,
} from "@vue-hero-icons/solid";
import XIcon from "./icons/XIcon.vue";
import WebLogo from "./icons/WebLogo.vue";
import PoweroffIcon from "./icons/PoweroffIcon.vue";
import AppDropdown from "../components/base/AppDropdown.vue";
import AppDropdownContent from "../components/base/AddDropdownContent.vue";
import AppDropdownItem from "../components/base/AppDropdownItem.vue";
import { mapGetters ,mapActions} from "vuex";

export default {
  components: {
    AppDropdown,
    AppDropdownContent,
    AppDropdownItem,
    SearchIcon,
    MenuAlt1Icon,
    WebLogo,
    PoweroffIcon,
    BellIcon,
    XIcon,
    CogIcon,
  },

  data() {
    return {
      isOpen: false,
      isAccount: false,
      isMessage: false,
      isNotification: false,
      currentUser: null,
      isAuth: null,
      searchValue:'',
    };
  },

  computed: {
    ...mapGetters("global", ["refreshNewsFeed"]),
    //...mapGetters("index", ["listAccount"]),
  },

  mounted() {

    //this.listAccount = this.listAccount();
    this.isAuth = localStorage.getItem("token");
    if (this.$route.name == "ExpireLink") {
      this.isAuth = null;
    }
    this.getCompanyCount();
    this.getCurrentUserDetails();
   
  },

  methods: {
    // this fun is for to open search page
    openSearch(){
      this.$router.push({
        name: 'Search',
        // path:'/freelancer/search',
        params: {input: this.searchValue}
      });
    },
    ...mapActions(["genericAPIPOSTRequest"]),
    setAltImg(event) { 
        event.target.src = "http://qapin_mvp5.manageprojects.in/upload/profile_image/user.png" 
    }, 
    companyDefault(e){
        e.target.src = 'http://qapin_mvp5.manageprojects.in/upload/company_image/company.png';
    },
    userDefault(e){
        e.target.src = 'http://qapin_mvp5.manageprojects.in/upload/profile_image/user.png';
    },
    logout() {
      localStorage.removeItem("token"); 
      this.$router.push("/login");
      window.location.reload();
      this.$toastr.s("Logout successfully.");
    },
    async getCompanyCount(){
        var res = await this.genericAPIPOSTRequest({
            requestUrl: "company/getCompanyCount",
            params: {},
        });  
        this.$store.dispatch("listAccount", res); 
    },
   
    getNewsFeed() {
      window.scrollTo(0,0);
      if (window.location.pathname !== "/news-feed") {
        this.$router.push("/news-feed");
      } else {
        if (this.refreshNewsFeed) {
          this.refreshNewsFeed();
        }
      }
    },
    getClientProfile() { 
      window.scrollTo(0,0); 
      if (window.location.pathname !== "/client/dashboard") {
        this.$store.dispatch("accountType", 'client'); 
        localStorage.setItem("accountType","client"); 
        this.switchaccount(2)
        this.$router.push("/client/dashboard"); 
      }  
    },
    getAgentProfile() {
      window.scrollTo(0,0);
      if (window.location.pathname !== "/agency") {
        localStorage.setItem("accountType","agency"); 
        this.$store.dispatch("accountType", 'agency');
        this.switchaccount(1)
        this.$router.push("/agency"); 
      }  
    },
    getfreelancerProfile() {
      window.scrollTo(0,0);
      if (window.location.pathname !== "/freelancer") {
        localStorage.setItem("accountType","freelancer"); 
        this.$store.dispatch("accountType", 'freelancer');
        this.switchaccount(3)
        this.$router.push("/freelancer"); 
      }  
    },
    async switchaccount(accountType){
        var res = await this.genericAPIPOSTRequest({
            requestUrl: "user/switchAccount",
            params: {account:accountType},
        });
        localStorage.setItem(
            "token",
            "Bearer " + res.token
          );
        window.location.reload();
        // var user = this.$store.state.listAccount;
        // var url = '';
        // if(accountType==1){
        //   url = [user.user.first_name+"-"+user.user.last_name+"-"+user.user.uui, "miniProfileUrn"+user.user.uui];
        // }
        // if(accountType==2){
        //   url = [user.user.first_name+"-"+user.user.last_name+"-"+user.user.uui, "miniProfileUrn"+user.user.uui];
        // } 
        // if(accountType==3){
        //   url = [user.user_qp.first_name+"-"+user.user_qp.last_name+"-"+user.user_qp.uui, "miniProfileUrn"+user.user_qp.uui];
        // } 
        // this.getNewToken(url);
    },
    // async getNewToken(profileUrl){ 
    //   var res = await this.genericAPIPOSTRequest({
    //       requestUrl: "user/track",
    //       params: {data:profileUrl},
    //   });
    //   localStorage.setItem(
    //             "token",
    //             "Bearer " + res.token
    //           );
    // },

    getCurrentUserDetails() {
      const loginData = JSON.parse(localStorage.getItem("loginUserData"));
      this.currentUser = loginData;
    },
  },
};
</script>

<style scoped>
.account-dropdown-enter-active,
.account-dropdown-leave-active {
  transition: all 0.5s;
}
.account-dropdown-enter,
.account-dropdown-leave-to {
  opacity: 0;
  transform: translateY(-110px);
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
  transform: translateY(20px);
}
.list-enter,
.list-leave-to .list-leave-active {
  opacity: 0;
  transform: translateY(-30px);
}

.navbar-main {
  height: 80px;
}

@media only screen and (max-width: 1165px) {
  .navbar-main {
    height: 80px;
  }
}

.menu-items-list {
  /*padding-right: 250px;*/
  padding-right: 0px;
  margin-left: 10px;
}

@media only screen and (max-width: 1870px) {
  .menu-items-list {
    padding-right: 250px;
  }
}

@media only screen and (max-width: 1400px) {
  .menu-items-list {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1450px) {
  .menu-items-list {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1112px) {
  .menu-items-list {
    padding-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1269px) {
  .toggle-switch {
    display: none;
  }
}
.text-muted {
  color: #999999 !important;
}
.text-grey {
  color: #979797 !important;
}
.fz-14 {
  font-size: 14px;
}
.fz-30 {
  font-size: 26px !important;
}
.fz-16 {
  font-size: 16px;
}
fw-600 {
  font-weight: 600;
}
.w-14 {
  width: 3rem;
}
.h-14 {
  height: 3rem;
}
.badge-theme {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  color: #ffffff !important;
  background: #f2613c;
  border-radius: 10px;
}
.text-decoration-none {
  text-decoration: none !important;
}
.menu {
  text-decoration: none !important;
  color: #000;
}
.menu:hover {
  color: #f2613c;
}
.active-profile{
  background-color: #FFF6F4!important;
}
</style>
