<template>
  <b-card-text>
    <b-tabs content-class="mt-3">
      <b-tab active>
        <template #title>
          <span class="mt-3 d-block">Offers</span>
        </template>
        <Offers />
      </b-tab>
      <b-tab>
        <template #title>
          <span class="mt-3 d-block">Hired</span>
        </template>
        <Hired />
      </b-tab>
    </b-tabs>
  </b-card-text>
</template>
<script>
  export default {
    data() {
      return {
        
      } 
    },
    methods: {
      
    }
  }
</script>

