<template>
  <b-container>
    <b-row class="mt-100 post-review-wrap">
      <b-col xl="12" lg="12" sm="12">
        <b-card no-body>
          <b-col xl="12" lg="12" sm="12">
            <div class="title-wrap">
              <h3 class="fz-24 text-black fw-600 mb-0">Freelance Inspector- China- Mooring Chain, Valves</h3>
            </div>
          </b-col>
          <b-tabs pills card justified>
            <b-tab class="first-pill" active>
              <template #title>
                <span class="mt-3 d-block">View Job Post</span>
              </template>
              <ViewJobPost />
            </b-tab>
            <b-tab>
              <template #title>
                <span class="mt-3 d-block">Invite</span>
              </template>
              <Invite />
            </b-tab>
            <b-tab>
              <template #title>
                Review Proposal <span class="badge badge-theme">06</span><br>
                <span class="fz-12 fw-400">Shortlisted <span class="badge badge-theme">02</span></span>
              </template>
              <reviewProposal />
            </b-tab>
            <b-tab class="last-pill">
              <template #title>
                <span class="mt-3 d-block">Hire</span>
              </template>
              <Hire />
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
  import ViewJobPost from "./ViewJobPost.vue";
  import Invite from "./Invite.vue";
  import reviewProposal from "./reviewProposal.vue";
  import Hire from "./Hire.vue";
  export default {
    components: {
      ViewJobPost,
      Invite,
      reviewProposal,
      Hire,
    },
    data() {
      return {
        selected: null,
        transaction: [
          { value: null, text: 'All Transaction' },
          { value: 'a', text: 'This is First option' },
          { value: 'b', text: 'Selected Option' },
          { value: { C: '3PO' }, text: 'This is an option with object value' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ]
      } 
    },
    methods: {
      toggleDropdown (event) {
        event.currentTarget.classList.toggle('is-active')
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
  body{font-family: 'Source Sans Pro', sans-serif!important;}
  .text-muted{color:#979797!important;}
  .ralative {padding-bottom:0px;}
  .theme-bg{background-color: #FFF6F4!important;}
  .bg-none{background-color:transparent;}
  .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
  .border-bottom{border-bottom: 1px solid #EBEBEB!important;}
  .br-20{border-radius: 20px;}
  .border-none{border:0px!important;}
  .fz-14{font-size:14px!important;}
  .fz-16{font-size:16px!important;}
  .fz-18{font-size:18px!important;}
  .fw-600{font-weight:600!important;}
  .fw-500{font-weight:500!important;}
  .fw-400{font-weight:400!important;}
  .mb-23{margin-bottom:23px;}
  .no-bottom-border{border-bottom:0px!important;}
  .border-top-0{border-top:0px!important;}
  .theme-bg-box{background: rgba(242, 97, 60, 0.05);border-radius: 20px;padding:20px;}
  p {margin-top: 0!important;margin-bottom: 1rem!important;}
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
  dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
  ol, ul {padding-left: 2rem!important;}
  .fz-30{font-size:26px!important;}

  .post-review-wrap .card{background-color: transparent;border: 0px;}
  .post-review-wrap .card-header{background-color: transparent;border: 0px;}
  .post-review-wrap .card-header-pills{margin-left:-40px;}
  .post-review-wrap .nav-pills .nav-link{border-radius: 0px;border: 1px solid #dfdfdf;color: #333;background-color: #fff;padding: 10px 5px;font-weight: 600;    height: 75px;}
  .post-review-wrap .nav-pills .nav-link.active{background-color: #f2613b;border: 1px solid #f2613b;}
  .post-review-wrap .nav-tabs .tab-content{background-color: #fff;margin: 9px;border-radius:20px;}
  .post-review-wrap .nav-pills .nav-item{background-color: #fff;}
  .post-review-wrap .nav-tabs .nav-link .badge-theme{background-color:#9c9c9c;color:#fff!important;border-radius: 50%;width: 25px;height: 25px;padding: 6px 6px!important;}
  .post-review-wrap .nav-tabs .nav-link.active .badge-theme{background-color:#f2613b;color:#fff;border-radius: 50%;width: 25px;height: 25px;padding: 6px 6px!important;}
  .post-review-wrap .nav-pills .nav-link.active .badge-theme{background-color: #fff;color:#f2613b;}
  .post-review-wrap .nav-tabs {border-bottom: 0;margin-left:-40px;}
  .post-review-wrap .nav-tabs .nav-link{font-size: 16px;color: #999999;font-weight:500;}
  .post-review-wrap .nav-tabs .nav-link.active{color: #000;background-color: transparent;border-color: #dee2e6 #dee2e6 #fff;border: 0;border-bottom: 2px solid #f2613b;font-weight: 600;}
  .post-review-wrap input ~ label:before{display:none;}
  .br-20{border-radius:20px!important;}
  .ml-30{margin-left:8rem;}
  .pl-30{margin-left:8rem;}
  .post-review-wrap .custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: flex;
    align-items: normal;
  }
  .post-review-wrap input {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .post-review-wrap .custom-radio label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .post-review-wrap .custom-control-label:before {
    pointer-events: none!important;
    background-color: #fff!important;
    border: 1px solid #adb5bd!important;
  }
  .post-review-wrap .custom-control-label:after, .custom-control-label:before {
      position: absolute;
      top: 0.25rem;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
  }
  .post-review-wrap .custom-control-label:before {
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
  }
  .post-review-wrap .custom-control-label:after {
    background: 50%/50% 50% no-repeat;
  } 
  
</style>
