<template>
  <b-card-text>
    <b-tabs content-class="mt-3">
      <b-tab active>
        <template #title>
          <span class="mt-3 d-block">New</span>
        </template>
        <newFreelancer />
      </b-tab>
      <b-tab>
        <template #title>
          <span class="mt-3 d-block">Hired</span>
        </template>
        <newHired />
      </b-tab>
      <b-tab>
        <template #title>
          <span class="mt-3 d-block">Saved</span>
        </template>
        <newSaved />
      </b-tab>
    </b-tabs>
  </b-card-text>
</template>
<script>
  import newFreelancer from "./newFreelancer.vue";
  import newHired from "./newHired.vue";
  import newSaved from "./newSaved.vue";
  export default {
    components: {
      newFreelancer,
      newHired,
      newSaved,
    },
    data() {
      return {
        selected: null,
        transaction: [
          { value: null, text: 'All Transaction' },
          { value: 'a', text: 'This is First option' },
          { value: 'b', text: 'Selected Option' },
          { value: { C: '3PO' }, text: 'This is an option with object value' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ]
      } 
    },
    methods: {
      toggleDropdown (event) {
        event.currentTarget.classList.toggle('is-active')
      }
    }
  }
</script>
<style>
  #modal-invite-job .img-wrapper {
    box-shadow: 0px 10px 25px rgb(0 0 0 / 25%);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    position:relative;
  }
  #modal-invite-job .img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .circle-live{position:absolute;top:6px;right:-5px;color: #6cc82f!important;font-size:12px!important;}
</style>
