<template>
  <b-card-text>
    <b-row>
      <b-col xl="4" lg="4" sm="12">
        <b-form-input type="text" v-model="search" placeholder="Search for Job, people, groups and more... "></b-form-input>
      </b-col>
      <b-col xl="8" lg="8" sm="12">
        <div class="dropdown">
          <div class="dropdown-header" @click="toggleDropdown($event)">
            <div class="d-flex align-items-center justify-content-end">
              <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.15625 4.625V9.625C9.15625 9.97018 8.87643 10.25 8.53125 10.25C8.18607 10.25 7.90625 9.97018 7.90625 9.625V4.625C7.90625 4.27982 8.18607 4 8.53125 4C8.87643 4 9.15625 4.27982 9.15625 4.625ZM11.6562 17.125C11.6562 18.8509 10.2571 20.25 8.53125 20.25C6.80536 20.25 5.40625 18.8509 5.40625 17.125C5.40625 15.3991 6.80536 14 8.53125 14C10.2571 14 11.6562 15.3991 11.6562 17.125ZM9.15625 21.4557V23.375C9.15625 23.7202 8.87643 24 8.53125 24C8.18607 24 7.90625 23.7202 7.90625 23.375V21.4557C5.78607 21.1524 4.15625 19.329 4.15625 17.125C4.15625 14.7088 6.115 12.75 8.53125 12.75C10.9475 12.75 12.9062 14.7088 12.9062 17.125C12.9062 19.329 11.2764 21.1524 9.15625 21.4557ZM20.1562 23.375C20.1562 23.7202 20.4361 24 20.7812 24C21.1264 24 21.4062 23.7202 21.4062 23.375V18.375C21.4062 18.0298 21.1264 17.75 20.7812 17.75C20.4361 17.75 20.1562 18.0298 20.1562 18.375V23.375ZM20.1562 6.54431V4.625C20.1562 4.27982 20.4361 4 20.7812 4C21.1264 4 21.4062 4.27982 21.4062 4.625V6.54431C23.5264 6.84757 25.1562 8.67096 25.1562 10.875C25.1562 13.2912 23.1975 15.25 20.7812 15.25C18.365 15.25 16.4062 13.2912 16.4062 10.875C16.4062 8.67096 18.0361 6.84757 20.1562 6.54431ZM20.7812 7.75C22.5071 7.75 23.9062 9.14911 23.9062 10.875C23.9062 12.6009 22.5071 14 20.7812 14C19.0554 14 17.6562 12.6009 17.6562 10.875C17.6562 9.14911 19.0554 7.75 20.7812 7.75Z" fill="#666666"/>
              </svg>
              <span class="text-theme fz-16 fw-600">Filter</span>
            </div>
          </div>
            
          <div class="dropdown-content shadow border">
            <div class="selected-tags mb-2 mt-2">
              <div class="tags-wrap">
                <ul>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center">
                      <span class="mr-2 fz-12">Wordpress</span>
                      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center">
                      <span class="mr-2 fz-12">Wordpress</span>
                      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center">
                      <span class="mr-2 fz-12">Wordpress</span>
                      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="11.0039" y="4.11108" width="1" height="10" rx="0.5" transform="rotate(45 11.0039 4.11108)" fill="#F2613C"></rect><rect x="3.93262" y="4.81836" width="1" height="10" rx="0.5" transform="rotate(-45 3.93262 4.81836)" fill="#F2613C"></rect></svg>
                    </a>
                  </li>
                  <a href="javascript:void(0);" class="text-black fz-14">
                    Clear all
                  </a>
                </ul>
              </div>
            </div>
            <hr>
            <b-row>
              <b-col xl="3" lg="3" sm="12">
                <label class="fz-18 fw-600 text-black mb-4">Contract Status</label>
                <b-form-group>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="A" class="fz-16 fw-400 text-black">All</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="B" class="fz-16 fw-400 text-black">Pending</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="C" class="fz-16 fw-400 text-black">Active</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="D" class="fz-16 fw-400 text-black">Ended</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="contact" value="E" class="fz-16 fw-400 text-black">Paused</b-form-radio>
                </b-form-group>
              </b-col>
              <b-col xl="3" lg="3" sm="12">
                <label class="fz-18 fw-600 text-black mb-4">Milestone Status</label>
                <b-form-group>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="A" class="fz-16 fw-400 text-black">All</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="B" class="fz-16 fw-400 text-black">Active</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="C" class="fz-16 fw-400 text-black">Awaiting Funding</b-form-radio>
                  <b-form-radio :aria-describedby="ariaDescribedby" name="milestone" value="D" class="fz-16 fw-400 text-black">Payment Requested</b-form-radio>
                </b-form-group>
              </b-col>
              <b-col xl="6" lg="6" sm="12">
                <b-row>
                  <b-col xl="12" lg="12" sm="12" class="py-0">
                    <label class="fz-18 fw-600 text-black mb-4">Contract Start Date</label>
                    <div class="d-flex align-items-center">
                      <b-form-group
                        id="fieldset-1"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                      <span class="ml-2 mr-2">To</span>
                      <b-form-group
                        id="fieldset-2"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker1" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="12" lg="12" sm="12" class="py-0">
                    <label class="fz-18 fw-600 text-black mb-4 mt-2">Contract End Date</label>
                    <div class="d-flex align-items-center">
                      <b-form-group
                        id="fieldset-3"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                      <span class="ml-2 mr-2">To</span>
                      <b-form-group
                        id="fieldset-4"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker1" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <hr>
            <b-button class="btn btn-theme mr-2">Apply Filter</b-button>
            <b-button class="btn btn-outline-theme">Cancel</b-button>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-card-group deck>
      <b-card title-class="text-theme font-14" class="py-4 px-4 bg-white br-20">
        <b-row class="profile-wrap mb-4">
          <b-col cols="8" class="pb-0">
            <div class="d-md-flex align-items-center mb-2">
              <div class="img-wrapper mr-3">
                <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" class="img-fluid">
              </div>
              <div class="content">
                <div class="d-flex align-items-center mb-2">
                  <h4 class="fz-20 fw-600 text-black mr-2 mb-0">Lewis Caldwell MKP</h4>
                  <label class="badge badge-theme mr-2">TOP RATED</label>
                </div>
                <ul class="mb-2">
                  <li>E&I Inspector</li>  
                  <li>
                    <div class="star-rating">
                      <input type="radio" id="5-stars" name="rating" value="5" />
                      <label for="5-stars" class="star active">&#9733;</label>
                      <input type="radio" id="4-stars" name="rating" value="4" />
                      <label for="4-stars" class="star active">&#9733;</label>
                      <input type="radio" id="3-stars" name="rating" value="3" />
                      <label for="3-stars" class="star active">&#9733;</label>
                      <input type="radio" id="2-stars" name="rating" value="2" />
                      <label for="2-stars" class="star active">&#9733;</label>
                      <input type="radio" id="1-star" name="rating" value="1" />
                      <label for="1-star" class="star">&#9733;</label>
                    </div>
                  </li>
                </ul><br>
                <ul class="mb-2">
                  <li>
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4072 4.79297C8.78486 4.79297 5.81641 7.48062 5.81641 10.8161C5.81641 12.6105 6.87564 14.7793 8.6451 17.1772C9.26 18.0105 9.92274 18.8168 10.5926 19.57C11.0126 20.0423 11.3592 20.4091 11.5857 20.6375C12.0315 21.087 12.7831 21.0867 13.2287 20.6375C13.4551 20.4091 13.8017 20.0423 14.2217 19.57C14.8916 18.8168 15.5543 18.0105 16.1693 17.1772C17.9387 14.7793 18.9979 12.6105 18.9979 10.8161C18.9979 7.4806 16.0294 4.79297 12.4072 4.79297ZM9.59582 16.4756C7.96655 14.2677 6.99794 12.2845 6.99794 10.8161C6.99794 8.1608 9.41266 5.97451 12.4072 5.97451C15.4016 5.97451 17.8163 8.16079 17.8164 10.8162C17.8164 12.2845 16.8478 14.2677 15.2185 16.4756C14.2035 17.8511 13.155 19.0319 12.4072 19.7878C11.6594 19.0319 10.6108 17.8511 9.59582 16.4756ZM12.4072 12.9568C11.1745 12.9568 10.1786 11.9317 10.1786 10.6778C10.1786 9.42403 11.1745 8.39886 12.4072 8.39886C13.6399 8.39886 14.6357 9.42405 14.6357 10.6779C14.6357 11.9317 13.6399 12.9568 12.4072 12.9568ZM12.4072 11.9283C13.065 11.9283 13.6072 11.3702 13.6072 10.6779C13.6072 9.98554 13.065 9.42744 12.4072 9.42744C11.7493 9.42744 11.2072 9.98554 11.2072 10.6778C11.2072 11.3702 11.7493 11.9283 12.4072 11.9283Z" fill="#999999"/>
                    </svg>
                  </li>
                  <li>India, Madhya Pradesh, Indore</li>
                </ul>
              </div>
            </div>
          </b-col>
          <b-col cols="4" class="text-right d-flex align-items-center justify-content-end pb-0">
            <div class="mr-3 text-center"><b>$ 15.00</b> <br><span>Per Hour</span></div>
            <button type="button" class="btn btn-outline-secondary br-50 mr-3 btn-like">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1073_19285)">
                <path d="M17.6833 13.159C18.0522 12.6885 18.2291 12.1841 18.2065 11.6647C18.184 11.0925 17.928 10.6446 17.7172 10.3698C17.9619 9.76002 18.056 8.80017 17.2392 8.05488C16.6407 7.50908 15.6244 7.26441 14.2166 7.33217C13.2266 7.37734 12.3985 7.56178 12.3646 7.56931H12.3609C12.1727 7.60318 11.9732 7.64459 11.7699 7.68976C11.7548 7.44885 11.7963 6.85036 12.2404 5.5028C12.7674 3.89929 12.7373 2.67219 12.1425 1.85161C11.5177 0.989629 10.5202 0.921875 10.2266 0.921875C9.94431 0.921875 9.68458 1.03856 9.50014 1.25312C9.08232 1.73869 9.13126 2.63455 9.18396 3.0486C8.68709 4.3811 7.29437 7.64835 6.1162 8.5555C6.09362 8.57056 6.0748 8.58938 6.05598 8.6082C5.70968 8.97332 5.4763 9.36855 5.31821 9.71485C5.09613 9.5944 4.84393 9.52665 4.57292 9.52665H2.27681C1.41106 9.52665 0.710938 10.2305 0.710938 11.0925V17.2092C0.710938 18.075 1.41483 18.7751 2.27681 18.7751H4.57292C4.90792 18.7751 5.22034 18.6697 5.4763 18.489L6.36087 18.5944C6.49638 18.6132 8.90541 18.9181 11.3784 18.8692C11.8264 18.9031 12.2479 18.9219 12.6394 18.9219C13.3132 18.9219 13.9004 18.8692 14.3897 18.7638C15.5415 18.5191 16.3282 18.0298 16.7272 17.3108C17.0321 16.7613 17.0321 16.2155 16.9832 15.8692C17.7323 15.1916 17.864 14.4426 17.8377 13.9156C17.8226 13.6107 17.7548 13.351 17.6833 13.159ZM2.27681 17.7588C1.97192 17.7588 1.72725 17.5103 1.72725 17.2092V11.0888C1.72725 10.7839 1.97568 10.5392 2.27681 10.5392H4.57292C4.87781 10.5392 5.12248 10.7876 5.12248 11.0888V17.2054C5.12248 17.5103 4.87405 17.755 4.57292 17.755H2.27681V17.7588ZM16.7197 12.7186C16.5616 12.8842 16.5315 13.1364 16.652 13.3322C16.652 13.3359 16.8063 13.5994 16.8251 13.9608C16.8515 14.4539 16.6143 14.8905 16.1175 15.2632C15.9405 15.3987 15.869 15.632 15.9443 15.8428C15.9443 15.8466 16.1062 16.3435 15.8427 16.814C15.5905 17.2657 15.0296 17.5894 14.1789 17.7701C13.4976 17.9169 12.5717 17.9432 11.4349 17.8529C11.4198 17.8529 11.401 17.8529 11.3822 17.8529C8.96187 17.9056 6.5152 17.5894 6.48885 17.5856H6.48509L6.10491 17.5405C6.1275 17.4351 6.13879 17.3221 6.13879 17.2092V11.0888C6.13879 10.9269 6.11244 10.7688 6.06727 10.622C6.13502 10.3698 6.32323 9.80895 6.7674 9.33091C8.45748 7.99089 10.1099 3.47018 10.1814 3.27445C10.2116 3.1954 10.2191 3.10883 10.204 3.02225C10.14 2.60067 10.1626 2.08499 10.253 1.93066C10.4525 1.93442 10.9907 1.99088 11.3144 2.43881C11.6984 2.96955 11.6833 3.91811 11.2693 5.17533C10.6369 7.09126 10.5842 8.10005 11.0848 8.54421C11.3333 8.76629 11.6645 8.77759 11.9054 8.69101C12.135 8.63831 12.3533 8.59314 12.5604 8.55927C12.5754 8.5555 12.5942 8.55174 12.6093 8.54798C13.7649 8.29578 15.8351 8.14145 16.5541 8.79641C17.1639 9.3535 16.731 10.0913 16.6821 10.1703C16.5428 10.3811 16.5842 10.6559 16.7724 10.8253C16.7762 10.829 17.1714 11.2017 17.1902 11.7023C17.2053 12.0373 17.0472 12.3798 16.7197 12.7186Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_1073_19285">
                <rect width="18" height="18" fill="white" transform="translate(0.460938 0.921875)"/>
                </clipPath>
                </defs>
              </svg>
            </button>
            <button type="button" class="btn btn-outline-secondary br-50 mr-3 btn-like">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2511_17183)"><path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"></path></g><defs><clipPath id="clip0_2511_17183"><rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"></rect></clipPath></defs></svg>
            </button>
            <button type="button" class="btn btn-outline-theme mr-3">Messages</button>
            <button type="button" class="btn btn-theme">Hire</button>
          </b-col>
          <b-col cols="12" class="pt-0">
            <p class="text-black fz-16 fw-500 pl-30">Cover Letter - <span class="fz-16 text-muted">We regularly need Freelance Inspectors based in Jiangsu Province-China for occasional Inspection of Mooring Chains, Valves, Forgings, Castings, etc. Candidates must possess a degree in Mechanical Engineering or Metallurgy and hold valid Level NDT Certificates in RT, UT & MT. Experience in Welding, Machining & Lab tests preferred...</span></p>
            <p class="text-black fz-16 fw-500 pl-30">CWI/PMP/ASNT UT MT/Railway engineer/</p>
            <div class="selected-tags pl-30">
              <div class="tags-wrap">
                <ul>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center fz-14">
                      <span class="mr-2">Boilers</span> 
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center fz-14">
                      <span class="mr-2">Industrial Valves</span> 
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center fz-14">
                      <span class="mr-2">Boilers</span> 
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="d-flex align-items-center fz-14">
                      <span class="mr-2">Industrial Valves</span> 
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>
  </b-card-text>
</template>
<script>
  export default {
    data() {
      return {
        
      } 
    },
    methods: {
      toggleDropdown (event) {
        event.currentTarget.classList.toggle('is-active')
      }
    }
  }
</script>

