<template>
  <b-card-text>
    <b-tabs content-class="mt-3 view-proposal-wrapper">
      <b-tab active>
        <template #title>
          <span class="mt-3 d-block">All Proposals <span class="badge badge-theme">11</span></span>
        </template>
        <allProposals />
      </b-tab>
      <b-tab>
        <template #title>
          <span class="mt-3 d-block">Shortlisted <span class="badge badge-theme">05</span></span>
        </template>
        <Shortlisted />
      </b-tab>
      <b-tab>
        <template #title>
          <span class="mt-3 d-block">Messaged <span class="badge badge-theme">06</span></span>
        </template>
        <Messaged />
      </b-tab>
      <b-tab>
        <template #title>
          <span class="mt-3 d-block">Archived <span class="badge badge-theme">02</span></span>
        </template>
        <Archived />
      </b-tab>
    </b-tabs>
  </b-card-text>
</template>
<script>
  import allProposals from "./allProposals.vue";
  import Shortlisted from "./Shortlisted.vue";
  import Messaged from "./Messaged.vue";
  import Archived from "./Archived.vue";
  export default {
    components: {
      allProposals,
      Shortlisted,
      Messaged,
      Archived,
    },
    data() {
      return {
        selected: null,
        transaction: [
          { value: null, text: 'All Transaction' },
          { value: 'a', text: 'This is First option' },
          { value: 'b', text: 'Selected Option' },
          { value: { C: '3PO' }, text: 'This is an option with object value' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ],
        languages: [
          { value: null, text: 'Search Languages' },
          { value: 'a', text: 'First' },
          { value: 'b', text: 'Second' },
          { value: 'c', text: 'Three'},
        ],
        locations: [
          { value: null, text: 'Select Locations' },
          { value: 'a', text: 'First' },
          { value: 'b', text: 'Second' },
          { value: 'c', text: 'Three'},
        ],
        certificate: [
          { value: null, text: 'Select Certificate' },
          { value: 'a', text: 'First' },
          { value: 'b', text: 'Second' },
          { value: 'c', text: 'Three'},
        ],
      } 
    },
    methods: {
      toggleDropdown (event) {
        event.currentTarget.classList.toggle('is-active')
      }
    }
  }
</script>
<style>
  .view-proposal-wrapper .dropdown{top:-50px;}
  .view-proposal-wrapper input[type=radio]{opacity:1;}
</style>
