<template>
  <div>
    <div class="container">
      <b-row class="mt-100 mb-50 client-wrapper">
        <b-col cols="12">
          <div class="fxt-bg-color">
            <div class="fxt-content">
              <div class="fxt-form">
                <template>
                  <div>
                    <b-card-group deck>
                      <b-card title-class="text-theme font-14" footer-tag="footer">
                        <b-row>
                          <b-col xl="4" lg="4" sm="12" class="p-0">
                            <div class="text-wrap p-4 p-lg-5 mg" style="background-image: url(http://qapin_mvp5.manageprojects.in/assets/img/union-white.png);
                            background-color: #f2613b;background-repeat: no-repeat;background-position: bottom center;background-size: auto;height: auto;;border-radius: 20px 0 0 20px;height:83vh;">
                              <div class="text w-100 text-center">
                                <div class="step-left-1 ">
                                  <h1 class="text-white mb-0">Create Agency Account</h1>
                                  <p class="fz-18 fw-500 text-white">Find jobs and earn money as manager of a team of freelancers.</p>
                                </div>
                              </div>
                            </div>
                          </b-col>
                          <b-col xl="8" lg="8" sm="12" class="p-0 pos-rel">
                            <div class="py-4 px-4">
                              <div class="content-right-wrap agency-right-side">
                                <b-form @submit.prevent="addUpdateCompany">
                                  <b-row>
                                    <b-col xl="12" lg="12" md="12">
                                      <b-form-group label="Agency Name" label-for="agency-name">
                                        <b-form-input id="agency-name" 
                                            v-model="company.company_name" 
                                            :error-messages="companyName"
                                            type="text" 
                                            placeholder="Enter agency name" 
                                            @input="$v.company.company_name.$touch()"
                                            @blur="$v.company.company_name.$touch()"
                                            required
                                            >
                                        </b-form-input>
                                        <p class="text-danger" v-if="companyName[0]">{{companyName[0]}}</p>
                                      </b-form-group>
                                      <p class="error" v-if="company.company_name.length && !$v.company.company_name.required" >Name is required</p>
                                    </b-col>
                                  </b-row>
                                  <b-row>
                                    <b-col xl="12" lg="12" md="12">
                                      <b-form-group label="Category" label-for="category">
                                        <b-form-select id="category" :options="companytype" value="Select an option" v-model="company.company_type_id"  
                                              value-field="company_type_master_id"
                                              text-field="company_type" 
                                              class="w-100" 
                                              :error-messages="companyType"
                                              @input="$v.company.company_type_id.$touch()"
                                              @blur="$v.company.company_type_id.$touch()"
                                              required>
                                        </b-form-select>
                                         <p class="text-danger" v-if="companyType[0]">{{companyType[0]}}</p>
                                      </b-form-group>
                                    </b-col>
                                  </b-row>
                                  <b-row>
                                    <b-col xl="6" lg="6" md="12">
                                      <b-form-group label="Select Company Size" label-for="size">
                                        <b-form-select id="size" 
                                          :options="companysize" 
                                          value="Select an option" 
                                          v-model="company.company_size" 
                                          class="w-100" 
                                          :error-messages="companySize"
                                          @input="$v.company.company_size.$touch()"
                                          @blur="$v.company.company_size.$touch()"
                                          required
                                          ></b-form-select>
                                          <p class="text-danger" v-if="companySize[0]">{{companySize[0]}}</p>
                                      </b-form-group>
                                    </b-col>
                                    <b-col xl="6" lg="6" md="12">
                                      <b-form-group label="Year of Experience" label-for="experience">
                                        <b-form-select id="experience" 
                                          :options="experience" 
                                          value="Select an Option" 
                                          v-model="company.yr_of_exp" 
                                          class="w-100" 
                                          :error-messages="yrOfExp"
                                          @input="$v.company.yr_of_exp.$touch()"
                                          @blur="$v.company.yr_of_exp.$touch()"
                                          required
                                          
                                          ></b-form-select>
                                          <p  class="text-danger" v-if="yrOfExp[0]">{{yrOfExp[0]}}</p>
                                      </b-form-group>
                                    </b-col>
                                  </b-row>
                                  <b-row>
                                    <b-col xl="12" lg="12" md="12">
                                      <b-form-group label="Website URL" label-for="url">
                                        <b-form-input id="url" 
                                        type="text" 
                                        placeholder="www.qapin.com" 
                                        v-model="company.website_url" 
                                        :error-messages="websiteUrl"
                                        @input="$v.company.website_url.$touch()"
                                        @blur="$v.company.website_url.$touch()"
                                        required
                                        ></b-form-input>
                                        <p class="text-danger" v-if="websiteUrl[0]">{{websiteUrl[0]}}</p>
                                      </b-form-group>
                                    </b-col>
                                  </b-row>
                                  <b-row>
                                    <b-col xl="12" lg="12" md="12">
                                      <b-form-group label="About Company" label-for="about">
                                        <b-form-textarea id="about" 
                                          placeholder="Type here..." 
                                          rows="3" 
                                          max-rows="6"  
                                          v-model="company.about_company" 
                                          :error-messages="aboutCompany"
                                          @input="$v.company.about_company.$touch()"
                                          @blur="$v.company.about_company.$touch()"
                                          ></b-form-textarea>
                                          <p class="text-danger" v-if="aboutCompany[0]">{{aboutCompany[0]}}</p>
                                      </b-form-group>
                                    </b-col>
                                  </b-row>
                                  <div class="text-right py-4 btn-wrap">
                                    <button
                                      type="submit"
                                      class="btn btn-outline-theme mr-2"
                                    >
                                    Cancel
                                    </button>
                                    <button
                                      type="submit"
                                      class="btn btn-theme"
                                    >
                                      Create Agency Account
                                    </button>
                                  </div>
                                </b-form>
                              </div>
                            </div>
                          </b-col>
                        </b-row>
                      </b-card>
                    </b-card-group> 
                  </div>
                </template>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
  import { validationMixin } from 'vuelidate'
  import { required, alpha } from 'vuelidate/lib/validators'
  import { mapActions } from "vuex";
  export default {
    
    mixins: [validationMixin],

    validations: { 
        company: {
            company_name: { required, alpha },
            company_type_id: { required },
            company_size: { required },
            website_url: { required },
            about_company:{ required },
            yr_of_exp:{ required }, 
        }, 
    },
    data() {
      return {
         company: {
                company_name: '',
                company_type_id: '',
                company_size: '',
                website_url: '',
                page_name: '',
                about_company: '',
                request_verification: '',
                yr_of_exp:'', 
            },
        companytype:[],
        companysize: [
          { value: null, text: 'Please select an option' },
          { value: '1 - 20', text: '1 - 20' },
          { value: '21 - 40', text: '21 - 40' },
          { value: '41 - 60', text: '41 - 60' },
          { value: '61 - 80', text: '61 - 80' },
          { value: '81 - 100', text: '81 - 100' },
          { value: '101 - 120', text: '101 - 120' },
          { value: '121 - 140', text: '121 - 140' },
          { value: '141 - 160', text: '141 - 160' },
          { value: '161 - 180', text: '161 - 180' },
          { value: '181 - 200', text: '181 - 200' },
          { value: '201 - 220', text: '201 - 220' },
          { value: '221 - 240', text: '221 - 240' },
          { value: '241 - 260', text: '241 - 260' },
          { value: '261 - 280', text: '261 - 280' },
          { value: '281 - 300', text: '281 - 300' },
          { value: '301 - 320', text: '301 - 320' },
          { value: '321 - 340', text: '321 - 340' },
          { value: '341 - 360', text: '341 - 360' },
          { value: '361 - 380', text: '361 - 380' },
          { value: '381 - 400', text: '381 - 400' },
          { value: '401 - 420', text: '401 - 420' },
          { value: '421 - 440', text: '421 - 440' },
          { value: '441 - 460', text: '441 - 460' },
          { value: '461 - 480', text: '461 - 480' },
          { value: '481 - 500', text: '481 - 500' }, 
        ],
        experience: [
          { value: null, text: 'Please select an option' },
          { value: '1', text: '1' },
          { value: '2', text: '2' },
          { value: '3', text: '3' },
          { value: '5', text: '5' },
          { value: '7', text: '7' },
          { value: '8', text: '8' },
          { value: '10', text: '10+' },
        ],
      }
    },
   computed: {
      companyName() {
        const errors = []
        if (!this.$v.company.company_name.$dirty) return errors 
        !this.$v.company.company_name.required && errors.push('Company name is required')
        !this.$v.company.company_name.alpha && errors.push('Only character is allow')
        return errors
      },
      companyType() {
        const errors = []
        if (!this.$v.company.company_type_id.$dirty) return errors 
        !this.$v.company.company_type_id.required && errors.push('Company type is required') 
        return errors
      },
      companySize() {
        const errors = []
        if (!this.$v.company.company_size.$dirty) return errors 
        !this.$v.company.company_size.required && errors.push('Company size is required') 
        return errors
      }, 
      yrOfExp() {
        const errors = []
        if (!this.$v.company.yr_of_exp.$dirty) return errors 
        !this.$v.company.yr_of_exp.required && errors.push('Year of experience is required') 
        return errors
      },
      websiteUrl() {
        const errors = []
        if (!this.$v.company.website_url.$dirty) return errors 
        !this.$v.company.website_url.required && errors.push('Website url is required') 
        return errors
      },
      
      aboutCompany() {
        const errors = []
        if (!this.$v.company.about_company.$dirty) return errors 
        !this.$v.company.about_company.required && errors.push('about is required') 
        return errors
      },
      
       
    },

    mounted() {
      this.getCompanyCategory();
    },
    methods: {
    ...mapActions(["genericAPIPOSTRequest"]),
      async addUpdateCompany(){ 
        this.$v.company.$touch()
        var data = {
							company_name: this.company.company_name,
							company_type_id: this.company.company_type_id,
							company_size: this.company.company_size,
							website_url: this.company.website_url,
							page_name: this.company.page_name,
							about_company: this.company.about_company,
							request_verification: this.company.request_verification,
							yr_of_exp: this.company.yr_of_exp,
						}
        if (!this.$v.company.$invalid) {
          var res =  await this.genericAPIPOSTRequest({
              requestUrl: "company/addCompany",
              params: data,
          });  
          localStorage.setItem(
            "token",
            "Bearer " + res.token
          );
          window.location.href = "freelancer";
        }
      } ,
      async getCompanyCategory(){ 
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "common/getCompanyCategory",
              params: {},
          });  
          this.companytype  = res;
      } ,

    }
    
  }
  </script>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
    body{font-family: 'Source Sans Pro', sans-serif!important;}
    .text-muted{color:#979797!important;}
    .theme-bg{background-color: #FFF6F4!important;}
    .bg-none{background-color:transparent;}
    .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
    .border-bottom{border-bottom:1px solid #EBEBEB!important;}
    .br-20{border-radius: 20px;}
    .border-none{border:0px!important;}
    .fz-16{font-size:16px;}
    .fz-18{font-size:18px;}
    .fw-600{font-weight:600!important;}
    .fz-22{font-size:22px!important;}
    .lh-22{line-height:22px!important;}
    .text-muteed {color: #999999!important;}
    .mb-50{margin-bottom:50px;}
    .b-form-btn-label-control.form-control{margin-bottom:0px!important;}
    p {margin-top: 0!important;margin-bottom: 1rem!important;}
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
    dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
    ol, ul {padding-left: 2rem!important;}
    .text-theme-hover:hover{color:#f2613b!important;}
    .fz-30{font-size:26px!important;}
    select{-webkit-appearance: menulist !important; /* override vuetify style */-moze-appearance: menulist !important; /* override vuetify style */appearance: menulist !important; /* override vuetify style */}

    .client-wrapper .card{border-radius:20px;}  
    .client-wrapper .card-header{border-radius:20px 20px 0 0!important;}
    .client-wrapper .card-body{border-radius:0 0 20px 20px;    padding: 0 12px;}
    .client-wrapper .card-footer{border-radius:0 0 20px 20px!important;background-color:#fff;}
    .client-wrapper .step2 input{position:relative;top: 0px;right: 0px;}
    .client-wrapper .step2 .custom-control{width: auto;height: auto;border: 0px;padding: 0px;}
    .client-wrapper .example-wrap{margin-left:0px;}
    .client-wrapper .content-right-wrap{margin-bottom: 0px;max-height: 851px;min-height: 851px;}
    .client-wrapper .btn-wrap{position: absolute;bottom: 12px;right: 0px;border-top: 1px solid #dfdfdf;width: 100%;background-color: #fff;border-radius: 0 0 20px 20px;padding-right: 30px;}
    .client-wrapper .accordion{padding:0px;}
    .client-wrapper .accordion .card-header{background-color: transparent;border: 0;}
    .client-wrapper .step4 .custom-radio label{font-weight: 500;font-size: 18px;}

    .custom-control-label{background-color:#ffffff;}
    .existing-job .custom-select{width:100%;}
    .reuse-job .custom-select{width:100%;}
    .create-job input[type=radio]{position: absolute;opacity: 0;}
    .create-job .custom-radio{display:block!important;text-align:center;height: 100%;}
    .create-job input[type=radio] ~ label {position: relative;float: left;line-height: 1em;margin-top: 0;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: center;padding: 45px 10px;box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%);background: #FFFFFF;border: 1.5px solid #EBEBEB;box-sizing: border-box;border-radius: 20px;width:100%;}
    .create-job input ~ label {position: relative;float: left;line-height: 1em;margin-top: 0;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: center;padding: 10px;box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%);background: #FFFFFF;border: 1.5px solid #EBEBEB;box-sizing: border-box;border-radius: 20px;
    }
    .create-job input ~ label:before {position: absolute;display: block;top: 15px;right: 15px;content: '';width: 2em;background: transparent;border-radius: 50%;height: 2em;padding: 3px 0px;background-color: #ffffff;border: 1px solid #9b9d9e;font-size: 10px;}
    .create-job input:checked ~ label {color: #777;border: 1.5px solid #f2613d;}
    .create-job .custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #f2613b;border: 1px solid #b94b2e;}
    .create-job .custom-radio{margin-bottom:10px;}
    .create-job .custom-control-label{display:block!important;}

    .budget-wrapper input[type=radio]{position: absolute;opacity: 0;}
    .budget-wrapper .custom-radio{display:flex!important;text-align:center;height: 100%;}
    .budget-wrapper input[type=radio] ~ label {position: relative;float: left;line-height: 1em;margin-top: 0;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: center;padding: 45px 10px;box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%);background: #FFFFFF;border: 1.5px solid #EBEBEB;box-sizing: border-box;border-radius: 20px;width:100%;}
    .budget-wrapper input ~ label {position: relative;float: left;line-height: 1em;margin-top: 0;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: center;padding: 10px;box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%);background: #FFFFFF;border: 1.5px solid #EBEBEB;box-sizing: border-box;border-radius: 20px;
    }
    .budget-wrapper input ~ label:before {position: absolute;display: block;top: 15px;right: 15px;content: '';width: 2em;background: transparent;border-radius: 50%;height: 2em;padding: 3px 0px;background-color: #ffffff;border: 1px solid #9b9d9e;font-size: 10px;}
    .budget-wrapper input:checked ~ label {color: #777;border: 1.5px solid #f2613d;}
    .budget-wrapper .custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #f2613b;border: 1px solid #b94b2e;}
    .budget-wrapper .custom-radio{margin-bottom:10px;}
    .budget-wrapper .input-group-text {height: 48px;border-radius: 0.25rem 0 0 0.25rem;}
    .budget-wrapper label{font-family: 'Source Sans Pro';font-style: normal;font-weight: 600;font-size: 16px;line-height: 20px;color: #000000;}

    input[type=radio] {position: absolute;opacity: 0;}
    .custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #f2613b;border: 1px solid #b94b2e;}
    .custom-radio{margin-bottom:10px;}
    input ~ label:before {display: block;content: '';width: 1.5em;background: transparent;border-radius: 50%;height: 1.5em;padding: 3px 0px;background-color: #ffffff;border: 1px solid #9b9d9e;font-size: 10px;}
    .custom-control-label{display: flex;align-items: center;cursor:pointer;}
    input ~ label:before{margin-right:10px;}
    .agency-right-side{overflow-y:hidden!important;max-height: 700px!important;min-height: 700px!important;}
    
  </style>
