<template>
  <div class="container">
    <b-row class="mt-100 mb-50 freelancer-wrap contracts-wrap">
      <b-col cols="12">
        <h4 class="mb-5 fz-30 fw-500 text-black"><b>All Contract</b></h4>
        <template>
          <div class="d-flex align-items-center justify-content-space-between search-input">
            <b-input-group class="mt-0 w-50">
              <template #append>
                <b-input-group-text>
                  <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6212 5C14.6569 5 16.5707 5.79274 18.0102 7.23221C19.4496 8.67165 20.2424 10.5855 20.2424 12.6212C20.2424 14.6569 19.4496 16.5707 18.0102 18.0102C16.5707 19.4496 14.6569 20.2424 12.6212 20.2424C10.5855 20.2424 8.67165 19.4496 7.23221 18.0102C5.79274 16.5707 5 14.6569 5 12.6212C5 10.5855 5.79274 8.67165 7.23221 7.23221C8.67165 5.79274 10.5855 5 12.6212 5ZM6.4542 12.6212C6.4542 16.0217 9.22068 18.7881 12.6212 18.7881C16.0217 18.7881 18.7881 16.0217 18.7881 12.6212C18.7881 9.22068 16.0217 6.4542 12.6212 6.4542C9.22072 6.4542 6.4542 9.22068 6.4542 12.6212Z" fill="#F2613C"/>
                    <path d="M22.7868 21.7585L18.0069 16.9786C17.7229 16.6946 17.2625 16.6946 16.9786 16.9786C16.6946 17.2625 16.6946 17.7229 16.9786 18.0069L21.7584 22.7868C21.9004 22.9288 22.0865 22.9997 22.2726 22.9997C22.4587 22.9997 22.6448 22.9288 22.7868 22.7868C23.0707 22.5028 23.0707 22.0424 22.7868 21.7585Z" fill="#F2613C"/>
                  </svg>
                </b-input-group-text>
              </template>
              <b-form-input></b-form-input>
            </b-input-group>
            <button type="button" class="btn btn-theme-outline d-flex align-items-center">
              <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.15625 4.625V9.625C9.15625 9.97018 8.87643 10.25 8.53125 10.25C8.18607 10.25 7.90625 9.97018 7.90625 9.625V4.625C7.90625 4.27982 8.18607 4 8.53125 4C8.87643 4 9.15625 4.27982 9.15625 4.625ZM11.6562 17.125C11.6562 18.8509 10.2571 20.25 8.53125 20.25C6.80536 20.25 5.40625 18.8509 5.40625 17.125C5.40625 15.3991 6.80536 14 8.53125 14C10.2571 14 11.6562 15.3991 11.6562 17.125ZM9.15625 21.4557V23.375C9.15625 23.7202 8.87643 24 8.53125 24C8.18607 24 7.90625 23.7202 7.90625 23.375V21.4557C5.78607 21.1524 4.15625 19.329 4.15625 17.125C4.15625 14.7088 6.115 12.75 8.53125 12.75C10.9475 12.75 12.9062 14.7088 12.9062 17.125C12.9062 19.329 11.2764 21.1524 9.15625 21.4557ZM20.1562 23.375C20.1562 23.7202 20.4361 24 20.7812 24C21.1264 24 21.4062 23.7202 21.4062 23.375V18.375C21.4062 18.0298 21.1264 17.75 20.7812 17.75C20.4361 17.75 20.1562 18.0298 20.1562 18.375V23.375ZM20.1562 6.54431V4.625C20.1562 4.27982 20.4361 4 20.7812 4C21.1264 4 21.4062 4.27982 21.4062 4.625V6.54431C23.5264 6.84757 25.1562 8.67096 25.1562 10.875C25.1562 13.2912 23.1975 15.25 20.7812 15.25C18.365 15.25 16.4062 13.2912 16.4062 10.875C16.4062 8.67096 18.0361 6.84757 20.1562 6.54431ZM20.7812 7.75C22.5071 7.75 23.9062 9.14911 23.9062 10.875C23.9062 12.6009 22.5071 14 20.7812 14C19.0554 14 17.6562 12.6009 17.6562 10.875C17.6562 9.14911 19.0554 7.75 20.7812 7.75Z" fill="#666666"/>
              </svg>
              <span class="text-theme fz-16 fw-600" @click="filterDropdown()">Filter</span>
            </button>
          </div>
          <ul class="d-flex align-items-center fz-14 tags mb-0 mt-2">
            <li class="mr-1 d-flex align-items-center"> 
              Open
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"></rect></svg>
            </li>
            <li class="mr-1 d-flex align-items-center"> 
              Filled 
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"></rect></svg>
            </li>
          </ul>
        </template>
      </b-col>

      <b-row v-if="filterTab">
        <b-col cols="12">
          <div class="dropdown-filter bg-white p-4">
            <b-row>
              <b-col cols="3">
                <h4 class="fz-16 fw-600 text-black mb-4">Contract Status</h4>
                <template>
                  <div>
                    <b-form-group
                      v-slot="{ ariaDescribedby }"
                    >
                      <b-form-checkbox-group
                        v-model="selected"
                        :options="contract"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-1a"
                      ></b-form-checkbox-group>
                    </b-form-group>
                  </div>
                </template>
              </b-col>
              <b-col cols="3">
                <h4 class="fz-16 fw-600 text-black mb-4">Milestone Status</h4>
                <template>
                  <div>
                    <b-form-group
                      v-slot="{ ariaDescribedby }"
                    >
                      <b-form-checkbox-group
                        v-model="selected"
                        :options="milestone"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-1a"
                      ></b-form-checkbox-group>
                    </b-form-group>
                  </div>
                </template>
              </b-col>
              <b-col cols="6">
                <b-row>
                  <b-col cols="12">
                    <h4 class="fz-16 fw-600 text-black mb-2">Contract Start Date</h4>
                    <div class="d-flex align-items-center">
                      <b-form-group
                        id="fieldset-1"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                      <span class="ml-2 mr-2">To</span>
                      <b-form-group
                        id="fieldset-2"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker1" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                    </div>
                  </b-col>
                  <b-col cols="12">
                    <h4 class="fz-16 fw-600 text-black mb-2">Contract End Date</h4>
                    <div class="d-flex align-items-center">
                      <b-form-group
                        id="fieldset-3"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                      <span class="ml-2 mr-2">To</span>
                      <b-form-group
                        id="fieldset-4"
                        valid-feedback="Thank you!"
                        :invalid-feedback="invalidFeedback"
                        :state="state"
                        class="fz-14 fw-600 w-50"
                        placeholder="DD - MM - YYYY"
                      >
                        <b-form-datepicker id="example-datepicker1" v-model="value" class="mb-2"></b-form-datepicker>
                      </b-form-group>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>

      <b-col cols="2">
        <template>
          <div class="d-flex align-items-center filter-wrap">
            <label class="mr-2 w-50">Sorted by</label>
            <b-form-select v-model="selected" :options="filter" class="form-control"></b-form-select>
          </div>
        </template>
      </b-col>
      
      <b-col cols="12">
        <b-card-group deck>
          <b-card class="py-4 px-4 bg-white">
            <b-row>
              <b-col cols="12">
                <div class="inner-wrap">
                  <div class="d-flex border-bottom mb-3">
                    <div>
                      <h4 class="fz-22 fw-600 text-black lh-22 mb-1"><a href="javascript:void(0);" class="text-black text-theme-hover">WindowBlindscom</a></h4>
                      <p class="fz-18 fw-400 text-black lh-22 mb-3">Staffed by : Shree at Immersive Infotech Pvt. Ltd.</p>
                      <h4 class="fz-18 fw-600 text-black lh-22 mb-1">Hired by : Joe Mehm</h4>
                      <p class="fz-18 fw-400 text-muted lh-22">Joy Mehm</p>
                    </div>
                    <div class="ml-auto text-center">
                      <button type="button" class="btn btn-theme mt-3">View Contract</button><br>
                      <span class="date mt-4 d-block text-muted">Dec 10, 2021 - Present</span>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-3">
                    <div>
                      <h4 class="fz-22 fw-600 text-black lh-22 mb-1"><a href="javascript:void(0);" class="text-black text-theme-hover">WindowBlindscom</a></h4>
                      <p class="fz-18 fw-400 text-black lh-22 mb-3">Staffed by : Shree at Immersive Infotech Pvt. Ltd.</p>
                      <h4 class="fz-18 fw-600 text-black lh-22 mb-1">Hired by : Joe Mehm</h4>
                      <p class="fz-18 fw-400 text-muted lh-22">Joy Mehm</p>
                    </div>
                    <div class="ml-auto text-center">
                      <button type="button" class="btn btn-theme mt-3">View Contract</button><br>
                      <span class="date mt-4 d-block text-muted">Dec 10, 2021 - Present</span>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-3">
                    <div>
                      <h4 class="fz-22 fw-600 text-black lh-22 mb-1"><a href="javascript:void(0);" class="text-black text-theme-hover">WindowBlindscom</a></h4>
                      <p class="fz-18 fw-400 text-black lh-22 mb-3">Staffed by : Shree at Immersive Infotech Pvt. Ltd.</p>
                      <h4 class="fz-18 fw-600 text-black lh-22 mb-1">Hired by : Joe Mehm</h4>
                      <p class="fz-18 fw-400 text-muted lh-22">Joy Mehm</p>
                    </div>
                    <div class="ml-auto text-center">
                      <button type="button" class="btn btn-theme mt-3">View Contract</button><br>
                      <span class="date mt-4 d-block text-muted">Dec 10, 2021 - Present</span>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-3">
                    <div>
                      <h4 class="fz-22 fw-600 text-black lh-22 mb-1"><a href="javascript:void(0);" class="text-black text-theme-hover">WindowBlindscom</a></h4>
                      <p class="fz-18 fw-400 text-black lh-22 mb-3">Staffed by : Shree at Immersive Infotech Pvt. Ltd.</p>
                      <h4 class="fz-18 fw-600 text-black lh-22 mb-1">Hired by : Joe Mehm</h4>
                      <p class="fz-18 fw-400 text-muted lh-22">Joy Mehm</p>
                    </div>
                    <div class="ml-auto text-center">
                      <button type="button" class="btn btn-theme mt-3">View Contract</button><br>
                      <span class="date mt-4 d-block text-muted">Dec 10, 2021 - Present</span>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-3">
                    <div>
                      <h4 class="fz-22 fw-600 text-black lh-22 mb-1"><a href="javascript:void(0);" class="text-black text-theme-hover">WindowBlindscom</a></h4>
                      <p class="fz-18 fw-400 text-black lh-22 mb-3">Staffed by : Shree at Immersive Infotech Pvt. Ltd.</p>
                      <h4 class="fz-18 fw-600 text-black lh-22 mb-1">Hired by : Joe Mehm</h4>
                      <p class="fz-18 fw-400 text-muted lh-22">Joy Mehm</p>
                    </div>
                    <div class="ml-auto text-center">
                      <button type="button" class="btn btn-theme mt-3">View Contract</button><br>
                      <span class="date mt-4 d-block text-muted">Dec 10, 2021 - Present</span>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-3">
                    <div>
                      <h4 class="fz-22 fw-600 text-black lh-22 mb-1"><a href="javascript:void(0);" class="text-black text-theme-hover">WindowBlindscom</a></h4>
                      <p class="fz-18 fw-400 text-black lh-22 mb-3">Staffed by : Shree at Immersive Infotech Pvt. Ltd.</p>
                      <h4 class="fz-18 fw-600 text-black lh-22 mb-1">Hired by : Joe Mehm</h4>
                      <p class="fz-18 fw-400 text-muted lh-22">Joy Mehm</p>
                    </div>
                    <div class="ml-auto text-center">
                      <button type="button" class="btn btn-theme mt-3">View Contract</button><br>
                      <span class="date mt-4 d-block text-muted">Dec 10, 2021 - Present</span>
                    </div>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>                   
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      filterTab:false,
      selected: null,
      filter: [
        { value: null, text: 'Apllicants' },
        { value: 'a', text: 'Apllicants 1' },
        { value: 'b', text: 'Apllicants 2' },
        { value: 'C', text: 'Apllicants 3' },
      ],
      contract: [
        { text: 'All', value: 'all' },
        { text: 'Pending', value: 'pending' },
        { text: 'Active', value: 'active' },
        { text: 'Ended', value: 'ended' },
        { text: 'Paused', value: 'paused' }
      ],
      milestone: [
        { text: 'All', value: 'al' },
        { text: 'Active', value: 'activ' },
        { text: 'Awaiting Funding', value: 'awaiting funding' },
        { text: 'Payment Requested', value: 'payment requested' }
      ]
    }
  },
  methods: {
    next(step){
      this.step = step;
    },
    filterDropdown(){
      if(this.filterTab){
        this.filterTab = false;
      }else{
        this.filterTab = true;
      }
    }
  },
}
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
  body{font-family: 'Source Sans Pro', sans-serif!important;}
  .text-muted{color:#979797!important;}
  .ralative {padding-bottom:0px;}
  .theme-bg{background-color: #FFF6F4!important;}
  .bg-none{background-color:transparent;}
  .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
  .br-20{border-radius: 20px;}
  .border-none{border:0px!important;}
  .search-bar input{border-right:0px!important;background: #FFFFFF;border-left: 1px solid #D3D3D3!important;border-top: 1px solid #D3D3D3!important;border-bottom: 1px solid #D3D3D3!important;border-radius: 6px;}
  .search-bar .input-group-text{border-left:0px!important;}
  .freelancer-wrap .br-50{border-radius:50%!important;}
  .freelancer-wrap .card{border-radius: 20px!important;}
  .freelancer-wrap .card-body{border-radius: 20px;}
  .freelancer-wrap .like-jobs .card{border-radius: 20px 20px 0 0!important;}
  .freelancer-wrap .like-jobs .card-header{border-radius: 20px 20px 0 0!important;}
  .freelancer-wrap .like-jobs .card-body{border-radius: 0 0 20px 20px !important;border:0px;}
  .freelancer-wrap .card-body{border-radius:0 0 20px 20px;}
  .freelancer-wrap .card-header{border-radius:20px 20px 0 0!important;}
  .fz-16{font-size:16px;}
  .fz-18{font-size:18px;}
  .fw-600{font-weight:600!important;}
  .contract-wrap .inner-wrap{border: 1.5px solid #EBEBEB;}
  .fz-22{font-size:22px!important;}
  .lh-22{line-height:22px!important;}
  .text-muted {color: #999999!important;}
  .inner-wrap div:last-child{border-bottom:0px!important;}
  .mb-50{margin-bottom:50px;}
  .filter-wrap{border: 0px!important;background-color: transparent;color: #000;font-weight: 600;margin-top: 0px!important;}
  .filter-wrap .custom-select{border: 0px!important;background-color: transparent;color: #000;font-weight: 600;margin-top: 0px!important;border-radius: 3px;
  border: 1px solid #333333;padding-left: 3px;-webkit-appearance: menulist !important; /* override vuetify style */-moze-appearance: menulist !important; /* override vuetify style */appearance: menulist !important; /* override vuetify style */}
  .justify-content-space-between{justify-content: space-between;}
  .contracts-wrap .input-group-text{border-radius: 0px 4px 4px 0;background-color: #fff;}
  .contracts-wrap .search-input .form-control{border-right: 0px;border-radius: 4px 0 0 4px!important;}
  .contracts-wrap .tags {margin-top:10px;margin-left:-32px;}
  .contracts-wrap svg {cursor:pointer;}
  .contracts-wrap .tags li {background: #FCFCFC;border: 1px solid #F2613C;border-radius: 100px;padding: 2px 15px;}
  .dropdown-filter{border-top: 1px solid #cecece;padding: 6px 12px;}
  .dropdown-filter .custom-control{margin-bottom:3px;}
  .dropdown-filter .custom-control-label{margin-left:5px;}
  .b-form-btn-label-control.form-control{margin-bottom:0px!important;}
  p {margin-top: 0!important;margin-bottom: 1rem!important;}
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
  dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
  ol, ul {padding-left: 2rem!important;}
  .text-theme-hover:hover{color:#f2613b!important;}
  .fz-30{font-size:26px!important;}
</style>
