<template>
  <b-card-group deck>
    <b-card
      header-tag="header"
      footer-tag="footer"
      header-class="px-4 py-4 bg-white"
      class="mb-3"
    >
      <template #header>
        <h4 class="mb-0 text-black fz-24 fw-500">
          <b>Change Password</b>
        </h4>
      </template>
      <b-row>
        <b-col cols="12" class="px-4 py-4">
          <!-- <section class="card-section" v-if="isEdit == false">
            <div class="pb-3">
              <div>
                <label class="text-black fz-18 fw-600">Password</label>
              </div>
              <div class="text-black fz-16 fw-400">
                <span class="password">******</span>
              </div>
            </div>
            <div class="pb-3">
              <div>
                <label class="text-black fz-18 fw-600">New Password</label>
              </div>
              <div class="text-black fz-16 fw-400">
                <span class="password">******</span>
              </div>
            </div>
            <div class="pb-3">
              <div>
                <label class="text-black fz-18 fw-600">Confirm Password</label>
              </div>
              <div class="text-black fz-16 fw-400">
                <span class="password">******</span>
              </div>
            </div>
          </section> -->

          <section class="card-section">
            <b-form>
              <b-row>
                <b-col xl="4" lg="4" sm="12">
                  <b-form-group class="mb-2">
                    <label class="text-black fz-18 fw-600"
                      >Current Password</label
                    >
                    <b-form-input
                      type="password"
                      placeholder="******"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col xl="4" lg="4" sm="12">
                  <b-form-group class="mb-2">
                    <label class="text-black fz-18 fw-600">New Password</label>
                    <b-form-input
                      type="password"
                      placeholder="******"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col xl="4" lg="4" sm="12">
                  <b-form-group class="mb-2">
                    <label class="text-black fz-18 fw-600"
                      >Confirm Password</label
                    >
                    <b-form-input
                      type="password"
                      placeholder="******"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col xl="4" lg="4" sm="12">
                  <b-form-group class="mt-4">
                    <b-button
                      type="button"
                      class="mr-2 btn btn-theme"
                      @click="isEdit = false"
                      >Update</b-button
                    >
                    <a
                      href="javascript:void(0);"
                      @click="isEdit = false"
                      class="text-theme"
                      >Cancel</a
                    >
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form>
          </section>
        </b-col>
      </b-row>
    </b-card>
  </b-card-group>

  <!-- <b-card-group deck>
    <b-card
      header-tag="header"
      footer-tag="footer"
      header-class="px-4 py-4 bg-white"
      class="mb-3"
    >
      <template #header>
        <div>
          <h4 class="mb-0 text-black fz-24 fw-500">
            <b>Account Management</b>
          </h4>
        </div>
      </template>
      <b-row>
        <b-col cols="12" class="px-4 py-4">
          <section class="card-section">
            <div class="pb-3">
              <div>
                <label class="text-black fz-18 fw-600"
                  >pavan prajapati, We Are Sorry To See You Go</label
                >
                <span class="fz-12 fw-400 text-muted d-block"
                  >Tell Us Why You Are Closing Your Account:</span
                >
              </div>
              <div class="text-black fz-16 fw-400">
                <b-form-select
                  v-model="selected"
                  :options="deleteoptions"
                ></b-form-select>
              </div>
            </div>
            <div class="pb-3">
              <div>
                <label class="text-black fz-18 fw-600"
                  >Your Feedback Matters.</label
                >
                <span class="fz-12 fw-400 text-muted d-block"
                  >Is There Anything Else You Had Like Us To Know?</span
                >
              </div>
              <div class="text-black fz-16 fw-400">
                <b-form-textarea
                  id="textarea"
                  v-model="text"
                  placeholder="Your message here..."
                  rows="3"
                  max-rows="6"
                ></b-form-textarea>
              </div>
            </div>
            <b-form-group class="mt-4">
              <b-button
                type="button"
                class="mr-2 btn btn-theme"
                @click="update()"
                >Update</b-button
              >
              <a href="javascript:void(0);" @click="update()" class="text-theme"
                >Cancel</a
              >
            </b-form-group>
          </section>
        </b-col>
      </b-row>
    </b-card>
  </b-card-group> -->
</template>
<script>
export default {
  data() {
    return {
      isEdit: false,
      deleteoptions: [
        { value: null, text: "Select an option" },
        { value: "a", text: "I Have A Duplicate Account" },
        { value: "b", text: "I Am Getting Too Many Emails" },
        { value: "C", text: "I Am Not Getting Any Value From My Membership" },
        { value: "d", text: "I Have A Privacy Concern" },
        { value: "e", text: "I Am Receiving Unwanted Contact" },
        { value: "f", text: "Other" },
      ],
    };
  },
};
</script>
