<template>
  <div>
    <h5 class="text-black fz-24 fw-500"><b>Contact Info</b></h5>
    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <div class="d-flex align-items-center">
            <h4 class="mb-0 text-black fz-24 fw-500">
              <b>Account</b>
            </h4>
            <div class="ml-auto">
              <a href="javascript:void(0);" @click="isEdit = true">
                <PencilEditIcon />
              </a>
            </div>
          </div>
        </template>
        <b-row v-if="userInfo">
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section" v-if="isEdit == false">
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">First Name</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.first_name }}
                </div>
              </div>
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Last Name</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.last_name }}
                </div>
              </div>
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Email</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.email_id }}
                </div>
              </div>
            </section>

            <section class="card-section" v-if="isEdit == true">
              <b-form action="" @submit.prevent="updateAccountInfo">
                <b-form-group class="mb-2">
                  <label class="text-black fz-18 fw-600">Full Name</label>
                  <b-form-input
                    v-model="userInfo.first_name"
                    type="text"
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group class="mb-2">
                  <label class="text-black fz-18 fw-600">Last Name</label>
                  <b-form-input
                    v-model="userInfo.last_name"
                    type="text"
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group class="mb-2">
                  <label class="text-black fz-18 fw-600">Email</label>
                  <b-form-input
                    v-model="userInfo.email_id"
                    type="email"
                    disabled
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-group class="mt-4">
                  <b-button type="submit" class="mr-2 btn btn-theme"
                    >Update</b-button
                  >
                  <a
                    href="javascript:void(0);"
                    @click="isEdit = false"
                    class="text-theme"
                    >Cancel</a
                  >
                </b-form-group>
              </b-form>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>

    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <h4 class="mb-0 text-black fz-24 fw-500">
            <b>Additional accounts</b>
          </h4>
          <h6 class="text-black fz-16 fw-400">
            Creating a new account allow you to use Qapin in different ways,
            while still having just one login.
          </h6>
        </template>
         <b-row>
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section">
              <b-row v-if="!$store.state.listAccount.user">
                <b-col xl="9" lg="9" md="12">
                  <h4 class="mb-0 fz-18 fw-500"><strong>Client Account</strong></h4>
                  <p class="text-muted mb-0">Hire, manage and pay as a different company. Each client company has its own freelancers, payment methods and reports.
                  </p>
                </b-col> 
                <b-col xl="3" lg="3" md="12">
                  <b-button class="btn btn-outline-theme btn-block w-100" @click="$router.push('/add-client-account')"> 
                    New Client Account
                  </b-button>
                </b-col>
              </b-row>

              <b-row v-if="$store.state.listAccount.user">
                <!-- <b-col xl="1" lg="1" md="12">
                    <div class="image-wrapper">
                    <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_213.jpg" alt="John" class="img-fluid w-100">
                  </div>
                  <div class="initials-wrapper shadow">
                    <span>EG</span>
                  </div>
                </b-col> -->
                <b-col xl="10" lg="10" md="12">
                  <h4 class="mb-0 fz-18 fw-500"><strong>{{$store.state.listAccount.user.first_name}} {{$store.state.listAccount.user.last_name}}</strong></h4>
                  <p class="text-muteed fz-16 fw-500">Client</p>
                </b-col> 
                <b-col xl="1" lg="1" md="12">
                  <b-button class="btn btn-outline-theme btn-block w-100" v-b-modal.delete-modal> 
                    <i class="fa fa-trash"></i>
                  </b-button>
                  <b-modal id="delete-modal" size="md" title="Confirm Deletion">
                    <div class="text-center py-4">
                      <p class="text-black fz-20 fw-600">
                        Are you sure, want to delete this record?
                      </p>
                    </div>
                    <template #modal-footer>
                      <div class="text-right w-100">
                        <a href="javascript:void(0);" class="mr-2 text-theme"
                          >Cancel</a
                        >
                        <b-button
                          size="lg"
                          class="btn btn-theme"
                          @click="show = false"
                        >
                          Confirm
                        </b-button>
                      </div>
                    </template>
                  </b-modal>
                </b-col>
              </b-row>

              <b-row v-if="!$store.state.listAccount.qp_user">
                <b-col xl="9" lg="9" md="12">
                  <h4 class="mb-0 fz-18 fw-500"><strong>Freelancer Account</strong></h4>
                  <p class="text-muted mb-0">Hire, manage and pay as a different company. Each client company has its own freelancers, payment methods and reports.
                  </p>
                </b-col> 
                <b-col xl="3" lg="3" md="12">
                  <b-button class="btn btn-outline-theme btn-block w-100" @click="$router.push('/add-freelancer-account')"> 
                    New Client Account
                  </b-button>
                </b-col>
              </b-row>

              <b-row v-if="$store.state.listAccount.qp_user">
                
                <b-col xl="11" lg="11" md="12">
                  <h4 class="mb-0 fz-18 fw-500"><strong>{{$store.state.listAccount.qp_user.first_name}} {{$store.state.listAccount.qp_user.last_name}}</strong></h4>
                  <p class="text-muteed fz-16 fw-500">Freelancer</p>
                </b-col> 
                <b-col xl="1" lg="1" md="12">
                  <b-button class="btn btn-outline-theme btn-block w-100"> 
                    <i class="fa fa-trash"></i>
                  </b-button>
                </b-col>
              </b-row>

              <b-row class="mt-2" v-if="$store.state.listAccount.company==''">
                <b-col xl="9" lg="9" md="12">
                   <h4 class="mb-0 fz-18 fw-500"><strong>Agency Account</strong></h4>
                  <p class="text-muted mb-0">Find jobs and earn money as manager of a team of freelancers.</p>
                </b-col> 
                <b-col xl="3" lg="3" md="12">
                  <b-button class="btn btn-outline-theme btn-block w-100" @click="$router.push('/add-agency-account')"> 
                    New Agency Account
                  </b-button>
                </b-col>
              </b-row>

              <b-row v-else>
                <b-col xl="11" lg="11" md="12">
                  <h4 class="mb-0 fz-18 fw-500"><strong>{{$store.state.listAccount.company[0].company_name}}<p> Agency</p></strong></h4>
                   <p class="text-muteed fz-16 fw-500">Agency</p>
                </b-col> 
                <b-col xl="1" lg="1" md="12">
                  <b-button class="btn btn-outline-theme btn-block w-100"> 
                    <i class="fa fa-trash"></i>
                  </b-button>
                </b-col>
              </b-row>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>

    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <div class="d-flex align-items-center">
            <h4 class="mb-0 text-black fz-24 fw-500">
              <b>Location</b>
            </h4>
            <div class="ml-auto">
              <a href="javascript:void(0);" @click="isLocationedit = true">
                <PencilEditIcon />
              </a>
            </div>
          </div>
        </template>
        <b-row v-if="userInfo">
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section" v-if="isLocationedit == false">
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Time Zone</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.timezone }}
                </div>
              </div>
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Location</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.country_name }}, {{ userInfo.state_name }},
                  {{ userInfo.city_name }}
                </div>
              </div>
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Address</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.address1 }},{{ userInfo.address2 }}
                </div>
              </div>
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Zip</label>
                </div>
                <div class="text-black fz-16 fw-400">
                  {{ userInfo.zipcode }}
                </div>
              </div>
              <div class="pb-3">
                <div>
                  <label class="text-black fz-18 fw-600">Phone</label>
                </div>
                <div class="text-black fz-16 fw-400">{{ userInfo.phone }}</div>
              </div>
            </section>
            <section class="card-section" v-if="isLocationedit == true">
              <b-form action="" @submit.prevent="updateAccountInfo">
                <b-row>
                  <b-col xl="12" lg="12" sm="12">
                    <b-form-group id="times" label-for="times">
                      <label class="text-black fz-16 fw-600">Time Zone</label>
                      <b-form-select
                        v-model="userInfo.timezone"
                        :options="option"
                        class="form-control"
                        id="times"
                        value-field="value"
                        text-field="text"
                      ></b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="country" label-for="country">
                      <label class="text-black fz-16 fw-600">Country</label>
                      <b-form-select
                        v-model="userInfo.country_id"
                        :options="countryList"
                        value-field="country_id"
                        text-field="country_name"
                        class="form-control"
                        id="country"
                        label-field="Select option"
                        @change="changecountry(userInfo.country_id)"
                      ></b-form-select>
                    </b-form-group>
                    <span class="fz-12 text-muted fw-400"
                      >We Take your privacy seriously. Only your city and
                      country will be shared with clients. Learn More</span
                    >
                  </b-col>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="state" label-for="state">
                      <label class="text-black fz-16 fw-600">state</label>
                      <b-form-select
                        v-model="userInfo.state_id"
                        :options="stateList"
                        class="form-control"
                        id="state"
                        value-field="state_id"
                        text-field="state_name"
                        label-field="Select option"
                        @change="changestate(userInfo.state_id)"
                      ></b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="city" label-for="city">
                      <label class="text-black fz-16 fw-600">city</label>
                      <b-form-select
                        v-model="userInfo.city_id"
                        :options="cityList"
                        class="form-control"
                        id="city"
                        value-field="city_id"
                        text-field="city_name"
                        label-field="Select option"
                      ></b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="12" lg="12" sm="12">
                    <b-form-group id="address" label-for="address">
                      <label class="text-black fz-16 fw-600"
                        >Street Address</label
                      >
                      <b-form-input
                        v-model="userInfo.address1"
                        id="address"
                        placeholder="202 Classic Harmoni Building 17 Kaipana Lok Nagar"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="address" label-for="address">
                      <b-form-input
                        v-model="userInfo.address2"
                        id="address"
                        placeholder="Apt/ Suite"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="zip" label-for="zip">
                      <label class="text-black fz-16 fw-600"
                        >Zip / Postal Code</label
                      >
                      <b-form-input
                        v-model="userInfo.zipcode"
                        id="zip"
                        type="text"
                        placeholder="452018"
                        required
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="Phone" label-for="Phone">
                      <label class="text-black fz-16 fw-600">Phone</label>
                      <vue-tel-input
                        v-model="userInfo.phone"
                        :defaultCountry="userInfo.phone_code"
                        @country-changed="countryChanges"
                      ></vue-tel-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="4" lg="4" sm="12">
                    <b-form-group id="Gender" label-for="Gender">
                      <label class="text-black fz-16 fw-600">Gender</label>
                      <b-form-select
                        v-model="userInfo.gender"
                        :options="genders"
                        class="form-control"
                      >
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col xl="6" lg="6" sm="12">
                    <b-form-group class="mt-4">
                      <button type="submit" class="mr-2 btn btn-theme">
                        Update
                      </button>
                      <a
                        href="javascript:void(0);"
                        class="text-theme"
                        @click="isLocationedit = false"
                        >Cancel</a
                      >
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-form>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
import PencilEditIcon from "../../components/icons/PencilEditIcon.vue";
import { mapActions, mapGetters } from "vuex";
let base_url = "http://qapin_mvp5.manageprojects.in/api/";
let headToken = {
  "Content-Type": "application/json",
  Authorization: localStorage.getItem("token"),
};
import axios from "axios";

export default {
  components: {
    PencilEditIcon,
  },
  data() {
    return {
      isEdit: false,
      isLocationedit: false,
      option: [
        { value: null, text: "Select an option" },
        { value: "1", text: "UTC (Coordinated Universal Time)" },
        { value: "1", text: "UTC Azores, Cape Verde Island" },
        {
          value: "1",
          text: "UTC+01:00 (Coordinated Universal Time) Dublin, Edinburgh, London",
        },
      ],
      text: null,
      cityList: [{ value: null, text: "Please select an option" }],
      stateList: [{ value: null, text: "Please select an option" }],

      genders: [
        { value: null, text: "Please select an option" },
        { value: "M", text: "Male" },
        { value: "F", text: "Female" },
      ],
    };
  },
  computed: {
    ...mapGetters({
      countryList: "global/getCountryList",
      // cityList: 'global/getCityList',
      // stateList: 'global/getStateList',
    }),
    ...mapGetters({
      userInfo: "settings/getUserDetails",
    }),
  },
  mounted() {
    this.fetchUserDetails();
    this.fetchData();
  },
  methods: {
    ...mapActions("global", [
      "fetchCountryList",
      "fetchCityList",
      "fetchStateList",
    ]),

    ...mapActions("settings", ["fetchUserDetails", "updateProfile"]),

    fetchData() {
      this.fetchCountryList();

      axios
        .get(`${base_url}user/getUserDetails`, { headers: headToken })
        .then((response) => {
          if (response.data.result) {
            this.changecountry(response.data.result.country_id);
            this.changestate(response.data.result.state_id);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

    changecountry(event) {
      console.log(event);
      axios
        .post(base_url + "common/getStateList", {
          country_id: event,
        })
        .then((response) => {
          if (response.data.status == true) {
            this.stateList = response.data.result;
          } else if (response.data.status == false) {
            this.stateList = response.data.result;
          }
        });
    },

    changestate(event) {
      axios
        .post(base_url + "common/getCityList", { state_id: event })
        .then((response) => {
          if (response.data.status == true) {
            this.cityList = response.data.result;
          } else if (response.data.status == false) {
            this.cityList = response.data.result;
          }
        });
    },
    countryChanges(e) {
      this.userInfo.phone_code = e.dialCode;
    },

    async updateAccountInfo() {
      await this.updateProfile(this.userInfo).then((res) => {
        if (res) {
          this.isEdit = false;
          this.isLocationedit = false;
          this.fetchUserDetails();
          if (res) {
            this.$toastr.s("Contact Info updated successfully");
          }
        }
      });
    },
  },
};
</script>
