<template>
  <b-card-text>
    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <h4 class="mb-0 text-black fz-24 fw-500">
            <b>Notifications</b>
          </h4>
        </template>
        <b-row>
          <b-col cols="12" class="px-4 py-4">
            <div class="notify-wrap">
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="jobinvitations"
                  >Job Invitations</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="jobinvitations"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for=" hiredetails"
                  >Job Hire Details</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id=" hiredetails"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="promotions"
                  >Qapin Promotions</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="promotions"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="paymentinfo"
                  >Payment Related Info</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="paymentinfo"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="calendarbook"
                  >Calendar Book</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="calendarbook"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="searchupdate"
                  >Saved Searches Updates</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="searchupdate"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="subscriptionupdate"
                  >Subscriptions Updates</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="subscriptionupdate"
                />
              </div>
              <div class="mb-3 form-check form-switch  border-bottom pb-3">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="newsletters"
                  >Qapin Newsletters</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="newsletters"
                />
              </div>
              <div class="form-check form-switch">
                <label
                  class="cursor-pointer form-check-label fz-16"
                  for="productupdate"
                  >Qapin Product Updates</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="productupdate"
                />
              </div>
            </div>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>
  </b-card-text>
</template>
