<template>
  <div>
    <h5 class="text-black fz-24 fw-500"><b>Profile Setting</b></h5>
    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <div class="d-flex align-items-center">
            <h4 class="mb-0 text-black fz-24 fw-500">
              <b>My Profile</b>
            </h4>
            <div class="ml-auto">
              <button class="btn btn-outline-theme">Preview Profile</button>
            </div>
          </div>
        </template>

        <!-- Profile Visibility section -->
        <b-row>
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section">
              <b-form>
                <b-form-group>
                  <b-row>
                    <b-col xl="6" lg="6" sm="12">
                      <label class="text-black fz-16 fw-600">Visibility</label
                      ><br />
                      <b-form-select
                        v-model="selectedVisibility"
                        class="form-control"
                        @change="updateVisibility"
                      >
                        <option :value="null" disabled>
                          -- Please select an option --
                        </option>
                        <option
                          v-for="visibility in visibilityOptions"
                          :key="visibility"
                          :value="visibility.value"
                        >
                          {{ visibility.key }}
                        </option>
                      </b-form-select>
                    </b-col>
                  </b-row>
                </b-form-group>
                <b-form-group>
                  <b-row>
                    <b-col xl="6" lg="6" sm="12">
                      <label class="text-black fz-16 fw-600">
                        Project Preference </label
                      ><br />
                      <span class="fz-12 text-muted fw-400"
                        >Don't worry, your selection won't affect how or when we
                        display your profile to clients.</span
                      >
                      <b-form-select
                        v-model="selectedProjectPref"
                        class="form-control"
                        @change="updatePrefrence"
                      >
                        <option :value="null" disabled>
                          -- Please select an option --
                        </option>
                        <option
                          v-for="preference in projectPrefOptions"
                          :key="preference"
                          :value="preference.value"
                        >
                          {{ preference.key }}
                        </option>
                      </b-form-select>
                    </b-col>
                  </b-row>
                </b-form-group>
              </b-form>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>

    <!-- Experience Level section -->
    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <h4 class="mb-0 text-black fz-24 fw-500">
            <b>Experience level</b>
          </h4>
        </template>
        <b-row>
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section">
              <div class="subscription-container">
                <input
                  v-model="selectedEntry"
                  type="radio"
                  name="radio"
                  id="entry"
                  value="0"
                  checked="checked"
                  @change="updateExperience(selectedEntry)"
                />
                <label for="entry" class="subscription__button">
                  <h3 class="text-black title fz-20 fw-600">Entry Level</h3>
                  <h3 class="fz-16 fw-400 text-muted">
                    I am relatively new to <br />
                    this field
                  </h3>
                </label>

                <input
                  v-model="selectedIntermediate"
                  type="radio"
                  name="radio"
                  id="intermediate"
                  value="1"
                  @change="updateExperience(selectedIntermediate)"
                />
                <label for="intermediate" class="subscription__button">
                  <h3 class="text-black title fz-20 fw-600">Intermediate</h3>
                  <h3 class="fz-16 fw-400 text-muted">
                    I have substantial experience <br />
                    in this field
                  </h3>
                </label>

                <input
                  v-model="selectedExpert"
                  type="radio"
                  name="radio"
                  id="expert"
                  value="2"
                  @change="updateExperience(selectedExpert)"
                />
                <label for="expert" class="subscription__button">
                  <h3 class="text-black title fz-20 fw-600">Expert</h3>
                  <h3 class="fz-16 fw-400 text-muted">
                    I have comprehensive and <br />
                    deep expertise in this field
                  </h3>
                </label>
              </div>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>

    <!-- Categories section -->
    <b-card-group deck>
      <b-card
        v-if="qrRoleMasterList"
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <div class="d-flex align-items-center">
            <h4 class="mb-0 text-black fz-24 fw-500">
              <b>Categories</b>
            </h4>
            <div class="ml-auto">
              <a
                href="javascript:void(0);"
                @click="$refs['edit-category-modal'].show()"
              >
                <PencilEditIcon />
              </a>
            </div>
            <b-modal ref="edit-category-modal" size="lg" title="Categories">
              <div class="text-left">
                <h5 class="text-black fz-20 fw-600">
                  What are the main services you offer to clients?
                </h5>
                <p class="fz-14 fw-400 text-muted">
                  Select up to 10 categories.
                </p>
                <div class="mb-0 fz-14 tags">
                  <span
                    v-for="(tag, tagIndex) in selectedTags"
                    :key="tagIndex"
                    class="up-skill-badge"
                  >
                    {{ tag.skill_name }}
                    <a href="javascript:" class="text-muted d-inline-flex">
                      <div class="up-icon xs" @click="removeSkill(index)">
                        <x-icon />
                      </div>
                    </a>
                  </span>
                </div>
                <div
                  v-for="(role, index) in qrRoleMasterList"
                  :key="index"
                  class="mt-3 accordion"
                >
                  <b-button
                    v-b-toggle="[`collapse-${index}`]"
                    class="mb-0 d-block"
                    >{{ role.role_name }}
                    <i
                      class="float-right fa fa-chevron-down fw-400 text-muted fz-12"
                    ></i
                  ></b-button>
                  <b-collapse :id="`collapse-${index}`">
                    <b-card>
                      <div class="mb-30 tags">
                        <span
                          class="cursor-pointer up-skill-badge hover:bg-gray-100"
                          v-for="(skill, index1) in role.skills"
                          :key="index1"
                          @click="selectedSkills(skill)"
                        >
                          {{ skill.skill_name }}
                        </span>
                      </div>
                    </b-card>
                  </b-collapse>
                </div>
              </div>
              <template #modal-footer>
                <div class="text-right w-100">
                  <a
                    href="javascript:void(0);"
                    @click="$refs['edit-category-modal'].hide()"
                    class="mr-2 text-theme"
                  >
                    Cancel
                  </a>
                  <b-button
                    size="lg"
                    class="btn btn-theme"
                    @click="submitQrRole"
                  >
                    Save
                  </b-button>
                </div>
              </template>
            </b-modal>
          </div>
        </template>

        <!-- Display selected categories & skills in card -->
        <b-row>
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section">
              <h4 class="text-black fz-20 fw-600">Sales & Marketing</h4>
              <div class="mb-30 tags">
                <span class="up-skill-badge"> Compressor </span>
                <span class="up-skill-badge"> Metallurgy expert </span>
                <span class="up-skill-badge"> NDT Specialist </span>
                <span class="up-skill-badge"> Storage Tank </span>
                <span class="up-skill-badge"> Rotating Equipment </span>
                <span class="up-skill-badge"> Welding specialist </span>
                <span class="up-skill-badge"> Compressor </span>
                <span class="up-skill-badge"> Metallurgy expert </span>
                <span class="up-skill-badge"> NDT Specialist </span>
                <span class="up-skill-badge"> Storage Tank </span>
                <span class="up-skill-badge"> Rotating Equipment </span>
                <span class="up-skill-badge"> Welding specialist </span>
              </div>
            </section>
            <section class="mt-4 card-section">
              <h4 class="text-black fz-20 fw-600">Writing</h4>
              <div class="mb-30 tags">
                <span class="up-skill-badge"> Compressor </span>
                <span class="up-skill-badge"> Metallurgy expert </span>
                <span class="up-skill-badge"> NDT Specialist </span>
                <span class="up-skill-badge"> Storage Tank </span>
              </div>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>

    <!-- <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <h4 class="mb-0 text-black fz-24 fw-500">
            <b>Specialized Profiles</b>
          </h4>
          <span class="fz-14 text-muted fw-400">2 out of 2 published</span>
        </template>
        <b-row>
          <b-col cols="12" class="px-4 py-4">
            <p class="mb-0 fz-16 text-muted fw-400">
              Create up to two different versions of your profile to more
              effectively highlight your individual specialities.
            </p>
            <a href="javascript:void(0);" class="text-theme">Learn More</a>
            <section class="card-section">
              <div
                class="mt-3 d-flex align-items-center justify-content-space-between"
              >
                <h4 class="mb-0 text-black fz-18 fw-600">
                  Social Media Marketing - Published
                </h4>
                <a href="javascript:void(0);">
                  <svg
                    width="45"
                    height="45"
                    viewBox="0 0 45 45"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="1.55469"
                      y="0.945312"
                      width="42.5"
                      height="42.5"
                      rx="21.25"
                      fill="white"
                      stroke="#E2E2E2"
                      stroke-width="1.5"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.8047 22.1953C17.8047 23.2999 16.9093 24.1953 15.8047 24.1953C14.7001 24.1953 13.8047 23.2999 13.8047 22.1953C13.8047 21.0907 14.7001 20.1953 15.8047 20.1953C16.9093 20.1953 17.8047 21.0907 17.8047 22.1953ZM24.8047 22.1953C24.8047 23.2999 23.9093 24.1953 22.8047 24.1953C21.7001 24.1953 20.8047 23.2999 20.8047 22.1953C20.8047 21.0907 21.7001 20.1953 22.8047 20.1953C23.9093 20.1953 24.8047 21.0907 24.8047 22.1953ZM29.8047 24.1953C30.9093 24.1953 31.8047 23.2999 31.8047 22.1953C31.8047 21.0907 30.9093 20.1953 29.8047 20.1953C28.7001 20.1953 27.8047 21.0907 27.8047 22.1953C27.8047 23.2999 28.7001 24.1953 29.8047 24.1953Z"
                      fill="#666666"
                    />
                  </svg>
                </a>
              </div>
              <div
                class="mt-3 d-flex align-items-center justify-content-space-between"
              >
                <h4 class="mb-0 text-black fz-18 fw-600">
                  Social Media Marketing - Published
                </h4>
                <a href="javascript:void(0);">
                  <svg
                    width="45"
                    height="45"
                    viewBox="0 0 45 45"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="1.55469"
                      y="0.945312"
                      width="42.5"
                      height="42.5"
                      rx="21.25"
                      fill="white"
                      stroke="#E2E2E2"
                      stroke-width="1.5"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.8047 22.1953C17.8047 23.2999 16.9093 24.1953 15.8047 24.1953C14.7001 24.1953 13.8047 23.2999 13.8047 22.1953C13.8047 21.0907 14.7001 20.1953 15.8047 20.1953C16.9093 20.1953 17.8047 21.0907 17.8047 22.1953ZM24.8047 22.1953C24.8047 23.2999 23.9093 24.1953 22.8047 24.1953C21.7001 24.1953 20.8047 23.2999 20.8047 22.1953C20.8047 21.0907 21.7001 20.1953 22.8047 20.1953C23.9093 20.1953 24.8047 21.0907 24.8047 22.1953ZM29.8047 24.1953C30.9093 24.1953 31.8047 23.2999 31.8047 22.1953C31.8047 21.0907 30.9093 20.1953 29.8047 20.1953C28.7001 20.1953 27.8047 21.0907 27.8047 22.1953C27.8047 23.2999 28.7001 24.1953 29.8047 24.1953Z"
                      fill="#666666"
                    />
                  </svg>
                </a>
              </div>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group> -->

    <!-- Social Linked account section  -->
    <b-card-group deck>
      <b-card
        header-tag="header"
        footer-tag="footer"
        header-class="px-4 py-4 bg-white"
        class="mb-3"
      >
        <template #header>
          <h4 class="mb-0 text-black fz-24 fw-500">
            <b>Linked Accounts</b>
          </h4>
        </template>
        <b-row>
          <b-col cols="12" class="px-4 py-4">
            <section class="card-section">
              <b-row>
                <b-col lg="3" sm="12">
                  <a
                    href="javascript:void(0);"
                    v-b-modal.add-link-modal
                    class="btn btn-social btn-block twitter-active"
                    >https://api.twitter.com/oauth/authenticate?oauth_token=5O6d5gAAAAAA9wraAAABge1QyZE&oauth_callback=https%3A%2F%2Fwww.upwork.com%2Ffreelancers%2Fsettings%2Foauth%2Ftwitter-callback</a
                  >
                  <b-modal
                    id="add-link-modal"
                    size="md"
                    title="Authorise qapin to access your account"
                  >
                    <div class="text-left">
                      <b-row>
                        <b-col lg="12" sm="12" xl="12">
                          <b-form-group>
                            <label for="link" class="mb-2">Enter Link </label>
                            <b-form-input
                              id="link"
                              type="text"
                              placeholder="Enter link here"
                              required
                            ></b-form-input>
                          </b-form-group>
                        </b-col>
                      </b-row>
                    </div>
                    <template #modal-footer>
                      <div class="text-right w-100">
                        <a href="javascript:void(0);" class="mr-2 text-theme"
                          >Cancel</a
                        >
                        <b-button
                          size="lg"
                          class="btn btn-theme"
                          @click="show = false"
                        >
                          Update
                        </b-button>
                      </div>
                    </template>
                  </b-modal>
                </b-col>
                <b-col lg="3" sm="12">
                  <a href="javascript:void(0);" class="btn btn-social btn-block"
                    >GitHub</a
                  >
                </b-col>
                <b-col lg="3" sm="12">
                  <a href="javascript:void(0);" class="btn btn-social btn-block"
                    >StackOverflow</a
                  >
                </b-col>
                <b-col lg="3" sm="12">
                  <a href="javascript:void(0);" class="btn btn-social btn-block"
                    >Dribbble</a
                  >
                </b-col>
                <b-col lg="3" sm="12">
                  <a href="javascript:void(0);" class="btn btn-social btn-block"
                    >DeviantART</a
                  >
                </b-col>
              </b-row>
            </section>
          </b-col>
        </b-row>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
import PencilEditIcon from "../../components/icons/PencilEditIcon.vue";
import { mapActions, mapGetters } from "vuex";
import XIcon from "../../components/icons/X_icon.vue";
import axios from "axios";
let base_url = "http://qapin_mvp5.manageprojects.in/api/";

export default {
  components: {
    PencilEditIcon,
    XIcon,
  },

  data() {
    return {
      selectedTags: [],
      selectedVisibility: null,
      selectedProjectPref: null,
      selectedEntry: false,
      selectedIntermediate: false,
      selectedExpert: false,

      visibilityOptions: [
        { value: "0", key: "Public" },
        { value: "1", key: "Only Qapin Users" },
        { value: "2", key: "Private" },
      ],
      projectPrefOptions: [
        { value: "0", key: "Both short term and long term projects" },
        { value: "1", key: "Short term projects (less than 3 months)" },
        { value: "2", key: "Long term projects (3+ months)" },
      ],
      option: [
        { value: null, text: "Select an option" },
        { value: "a", text: "UTC (Coordinated Universal Time)" },
        { value: "b", text: "UTC Azores, Cape Verde Island" },
        {
          value: "C",
          text: "UTC+01:00 (Coordinated Universal Time) Dublin, Edinburgh, London",
        },
      ],
      qrRoleMasterList: [],
    };
  },

  computed: {
    ...mapGetters({
      userInfo: "settings/getUserDetails",
    }),
  },

  mounted() {
    this.fetchData();
  },

  methods: {
    ...mapActions("settings", ["updateUserConfig", "fetchUserDetails"]),

    fetchData() {
      axios
        .get(`${base_url}common/getQpRoleMasterList`)
        .then((response) => {
          if (response.data.result) {
            this.qrRoleMasterList = response.data.result;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

    updateVisibility() {
      this.updateUserConfig({
        key: "profile_visibility",
        value: this.selectedVisibility,
      })
        .then((res) => {
          this.fetchUserDetails();
          if (res) {
            this.$toastr.s("Profile visibility updated successfully");
          }
        })
        .catch((err) => console.log(err));
    },

    updatePrefrence() {
      this.updateUserConfig({
        key: "project_prefrence",
        value: this.selectedProjectPref,
      })
        .then((res) => {
          this.fetchUserDetails();
          if (res) {
            this.$toastr.s("Project Preference updated successfully");
          }
        })
        .catch((err) => console.log(err));
    },

    // Handle Experience method
    updateExperience(val) {
      this.updateUserConfig({ key: "experience_level", value: val })
        .then((res) => {
          this.fetchUserDetails();
          if (res) {
            this.$toastr.s("Experience Level updated successfully");
          }
        })
        .catch((err) => console.log(err));
    },

    // Categories Handling method
    selectedSkills(skill) {
      this.selectedTags.push(skill);
    },

    removeSkill(index) {
      this.selectedTags.splice(index, 1);
    },

    submitQrRole() {
      console.log(this.selectedTags);
      this.$refs["edit-category-modal"].hide();
      this.$toastr.s("Category selected successfully");
    },
  },
};
</script>
