  <template>
    <b-container>
      <b-row class="mt-100 search-wrap mb-50">
        <b-col xl="3" lg="3" md="12">
          <h4 class="mb-3 fz-30 fw-500 text-black"><b>Filter By</b></h4>
          <b-card-group deck>
            <b-card>
              <template>
                <div class="accordion border-none" role="tablist">
                  <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="py-3 px-1" role="tab">
                      <div class="d-md-flex collapsed" block v-b-toggle.accordion-1 variant="info">
                        <a href="javascript:void(0);" class="fz-16 fw-600 text-black">Experience Level</a>
                        <div class="ml-auto">
                          <i class="fa fa-chevron-down fz-14" aria-hidden="true"></i>
                        </div>
                      </div>
                    </b-card-header>
                    <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                      <b-card-body>
                        <b-card-text>
                          <b-form-checkbox 
                            v-for="(exp_level, id) in ExperienceLevelData"
                            :key="id"
                            v-model="filtersValue.experienceLevel"
                            class="mb-2 mt-2"
                            :value="exp_level"
                            @change  ="filterByData()"
                          >
                            {{exp_level.title}}
                          </b-form-checkbox>

                        
                        </b-card-text>
                      </b-card-body>
                    </b-collapse>

                    <b-card-header header-tag="header" class="py-3 px-1" role="tab">
                      <div class="d-md-flex" block v-b-toggle.accordion-2 variant="info">
                        <a href="javascript:void(0);" class="fz-16 fw-600 text-black">Number of proposals</a>
                        <div class="ml-auto">
                          <i class="fa fa-chevron-down fz-14" aria-hidden="true"></i>
                        </div>
                      </div>
                    </b-card-header>
                    <b-collapse id="accordion-2" visible accordion="my-accordion" role="tabpanel">
                      <b-card-body>
                        <b-card-text>
                          <b-form-checkbox
                            v-model="filtersValue.numberOfProposal"
                            id="checkbox-4"
                            name="checkbox-4"
                            class="mb-2 mt-2"
                            value="lessthan_5"
                            @change ="filterByData()"

                          >
                            Less than 5
                          </b-form-checkbox>

                          <b-form-checkbox
                            v-model="filtersValue.numberOfProposal"
                            id="checkbox-5"
                            name="checkbox-5"
                            class="mb-2"
                            value="5_to_10"
                            @change ="filterByData()"

                          >
                            5 to 10
                          </b-form-checkbox>

                          <b-form-checkbox
                            v-model="filtersValue.numberOfProposal"
                            id="checkbox-6"
                            name="checkbox-6"
                            class="mb-2"
                            value="10_to_15"
                            @change ="filterByData()"

                          >
                            10 to 15 
                          </b-form-checkbox>

                          <b-form-checkbox
                            v-model="filtersValue.numberOfProposal"

                            id="checkbox-8"
                            name="checkbox-8"
                            class="mb-2"
                            value="15_to_20"
                            @change ="filterByData()"

                          >
                            15 to 20 
                          </b-form-checkbox>
                        </b-card-text>
                      </b-card-body>
                    </b-collapse>

                    <b-card-header header-tag="header" class="py-3 px-1" role="tab">
                      <div class="d-md-flex" block v-b-toggle.accordion-3 variant="info">
                        <a href="javascript:void(0);" class="fz-16 fw-600 text-black">Category</a>
                        <div class="ml-auto">
                          <i class="fa fa-chevron-down fz-14" aria-hidden="true"></i>
                        </div>
                      </div>
                    </b-card-header>
                    <b-collapse id="accordion-3" visible accordion="my-accordion" role="tabpanel">
                      <b-card-body class="pos-relative">
                        <div class="input-group search-bar mt-2">
                          <input type="text" class="form-control bordered" v-model="search" placeholder="Search for jobs" aria-describedby="basic-addon2">
                          <div class="tt-menu" >
                            <b-form-group
                              v-slot="{ ariaDescribedby }"
                            >
                              <b-form-checkbox
                                v-for="(category,id) in filterCategory"
                                v-model="filtersValue.selectedCategoryData"
                                :key="id"
                                :value="category"
                                :aria-describedby="ariaDescribedby"
                                @change ="filterByData()"
                              >
                                {{ category.role_name }}
                              </b-form-checkbox>
                            </b-form-group>
                          </div>
                        </div>
                        
                      </b-card-body>
                    </b-collapse>

                    <b-card-header header-tag="header" class="py-3 px-1" role="tab">
                      <div class="d-md-flex" block v-b-toggle.accordion-4 variant="info">
                        <a href="javascript:void(0);" class="fz-16 fw-600 text-black">Project Length</a>
                        <div class="ml-auto">
                          <i class="fa fa-chevron-down fz-14" aria-hidden="true"></i>
                        </div>
                      </div>
                    </b-card-header>
                    <b-collapse id="accordion-4" visible accordion="my-accordion" role="tabpanel">
                      <b-card-body>
                        <b-card-text v-if="projectLengthData.length > 0">
                          <b-form-checkbox
                            v-for="(pro_length , id) in projectLengthData"
                            :key="id"
                            v-model="filtersValue.projectLength"
                            class="mb-2 mt-2"
                            :value="pro_length"
                            @change ="filterByData()"

                          >
                            {{pro_length.title}}
                          </b-form-checkbox>

                        </b-card-text>
                      </b-card-body>
                    </b-collapse>

                    <b-card-header header-tag="header" class="py-3 px-1" role="tab">
                      <div class="d-md-flex" block v-b-toggle.accordion-5 variant="info">
                        <a href="javascript:void(0);" class="fz-16 fw-600 text-black">Location</a>
                        <div class="ml-auto">
                          <i class="fa fa-chevron-down fz-14" aria-hidden="true"></i>
                        </div>
                      </div>
                    </b-card-header>
                    <b-collapse id="accordion-5" visible accordion="my-accordion" role="tabpanel">
                      <b-card-body>
                        <div class="input-group search-bar mt-4">
                          <div class="tt-menu" style="position: absolute;top: 100%;left: 0px;z-index: 100;display: block;background-color: #fff;width: 100%;padding: 10px;max-height: 150pxoverflow-y: scroll;overflow-x: hidden;margin-top: 2px;border: 1px solid #D3D3D3!important;border-radius: 8px;">
                          <input type="text" class="form-control border-none" v-model="location" placeholder="Search for Location" aria-describedby="basic-addon2" v-on:keyup="searchLocation()">
                            <b-form-group
                              v-slot="{ ariaDescribedby }"
                            >
                              <b-form-checkbox
                                v-for="(loc,id) in locationData"
                                :key="id"
                                :value="loc"
                                :aria-describedby="ariaDescribedby"
                                v-model="filtersValue.locationData"
                                @change ="filterByData()"

                                >
                                {{ loc.location }}
                              </b-form-checkbox>
                            </b-form-group>
                          </div>
                        </div>
                      </b-card-body>
                    </b-collapse>
                  </b-card>
                </div>
              </template>
            </b-card>
          </b-card-group>
        </b-col>
        <b-col xl="9" lg="9" md="12">
          <b-card no-body class="freelancer-wrap mt-12 bg-white">
            <ul class="nav nav-pills mb-3 py-2 px-4" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-home" aria-selected="true" v-on:click="getData('')" >Search </button>
              </li>
              <a href="javascript:void(0);" @click="$router.push('/saved-jobs')">
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Saved Jobs <span class="badge badge-secondary br-50" v-html="(proposalDetails.saved_job > 0)?proposalDetails.saved_job:''"></span></button>
              </li>
              </a>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="search-filter-wrapper px-4 border-bottom pb-3 mb-3">
                    <b-row>
                      <b-col xl="10" lg="10" md="12">
                        <div class="input-group search-bar">
                          <input type="text" class="form-control border-none" v-model="search" placeholder="Search for jobs" aria-describedby="basic-addon2">
                          <span class="input-group-text bg-white" id="basic-addon2">
                            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9689 5.13525C16.0046 5.13525 17.9184 5.92799 19.3579 7.36746C20.7973 8.8069 21.59 10.7207 21.5901 12.7564C21.5901 14.7921 20.7973 16.706 19.3579 18.1454C17.9184 19.5849 16.0046 20.3776 13.9689 20.3776C11.9332 20.3776 10.0193 19.5849 8.57987 18.1454C7.14039 16.706 6.34766 14.7921 6.34766 12.7564C6.34766 10.7207 7.14039 8.8069 8.57987 7.36746C10.0193 5.92799 11.9331 5.13525 13.9689 5.13525ZM7.80186 12.7564C7.80186 16.1569 10.5683 18.9234 13.9688 18.9234C17.3693 18.9234 20.1358 16.1569 20.1358 12.7564C20.1358 9.35594 17.3694 6.58946 13.9689 6.58946C10.5684 6.58946 7.80186 9.35594 7.80186 12.7564Z" fill="#F2613C"/>
                              <path d="M24.1347 21.8942L19.3548 17.1143C19.0708 16.8304 18.6104 16.8304 18.3265 17.1143C18.0425 17.3983 18.0425 17.8587 18.3265 18.1426L23.1063 22.9225C23.2483 23.0645 23.4344 23.1355 23.6205 23.1355C23.8066 23.1355 23.9927 23.0645 24.1347 22.9225C24.4186 22.6385 24.4186 22.1782 24.1347 21.8942Z" fill="#F2613C"/>
                            </svg>
                          </span>
                        </div>
                      </b-col>
                      <b-col xl="2" lg="2" md="12">
                        <b-button class="btn btn-theme w-100" disabled><i class="fa fa-envelope" aria-hidden="true"></i> Save Search</b-button>
                      </b-col>
                      <b-col xl="12" lg="12" md="12">
                        <ul class="inline-block align-items-center fz-14 post tags mb-0">
                          <span v-if="filtersValue.experienceLevel.length > 0">
                            <li class="mr-1 inline-block align-items-center bg-theme" v-for="(expLevel,id) in filtersValue.experienceLevel" :key="id"> 
                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white">
                                {{expLevel.title}}
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('experienceLevel',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>
                            </li>
                          </span>
                          <span v-if="filtersValue.numberOfProposal.length > 0">
                            <li class="mr-1 inline-block align-items-center bg-theme" v-for="(n_proposal,id) in filtersValue.numberOfProposal" :key="id"> 
                              
                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="n_proposal == 'lessthan_5'">
                                Less than 5
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('numberOfProposal',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="n_proposal == '5_to_10'">
                                5 to 10 
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('numberOfProposal',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="n_proposal == '10_to_15'">
                                10 to 15 
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('numberOfProposal',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="n_proposal == '15_to_20'">
                                15 to 20 
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('numberOfProposal',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                            </li>
                          </span>
                          <span v-if="filtersValue.selectedCategoryData.length > 0">
                            <li class="mr-1 inline-block align-items-center bg-theme" v-for="(cat_data,id) in filtersValue.selectedCategoryData" :key="id"> 
                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white">
                                 {{cat_data.role_name}}
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('selectedCategoryData',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>
                            </li>
                          </span>
                          <span v-if="filtersValue.projectLength.length > 0">
                            <li class="mr-1 inline-block align-items-center bg-theme" v-for="(pro_length,id) in filtersValue.projectLength" :key="id"> 
                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white">
                                {{pro_length.title}}
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('projectLength',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>
                            </li>
                            <!-- <li class="mr-1 inline-block align-items-center bg-theme" v-for="(pro_length,id) in filtersValue.projectLength" :key="id"> 
                              
                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="pro_length == 'less_1'">
                                 Less tham 1 month 
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('projectLength',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="pro_length == '1_to_3'">
                                 1 to 3 months  
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('projectLength',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="pro_length == '3_to_6'">
                                 3 to 6 months  
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('projectLength',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white" v-if="pro_length == 'more_6'">
                                 More than 6 months  
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                            </li> -->
                          </span>
                          <span v-if="filtersValue.locationData.length > 0">
                            <li class="mr-1 inline-block align-items-center bg-theme" v-for="(loc_data,id) in filtersValue.locationData" :key="id"> 
                              <a href="javascript:void(0);" class="cursor-pointer d-flex align-items-center text-white">
                                 {{loc_data.location}}
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="#FFF" xmlns="http://www.w3.org/2000/svg" class="ml-2" @click="removeFilterValue('locationData',id)"><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#FFF"></rect><rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#FFF"></rect></svg>
                              </a>

                            </li>
                          </span>

                          <a href="javascript:void(0);" class="cursor-pointer text-theme" @click="clearFilter()" v-if="hideClearBtn">
                            Clear Filter
                          </a>
                        </ul>
                      </b-col>
                    </b-row>
                    <div class="d-md-flex align-items-center mt-2">
                      <h4 class="fz-16 fw-600 mb-0 d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F2613B" class="bi bi-rss mr-2" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"/>
                        </svg>
                        {{filteredAndSorted.length}} jobs found
                      </h4>
                      <div class="ml-auto d-flex align-items-center">
                        <label class="mr-2">Sort: </label>
                        <b-form-select v-model="sort" :options="sortoptions" value="Select select an option" class="mt-0"></b-form-select>
                      </div>
                    </div>
                  </div>
                <div v-if="dataStatus">
                  <div class="job-card py-2 px-4 pb-4 mb-2"  v-for="data in filteredAndSorted" :key="data.id" >
                    <div class="action-btn">
                      <button type="button" v-if="filterValue!=10" class="btn btn-secondary br-50 mr-1 btn-like" v-on:click="dislikePost(data.jobs_id)">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <button type="button" v-if="data.action == 3" class="btn btn-secondary br-50 btn-archive saved-btn"  v-on:click="savePost(data)">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                      <button type="button" v-else class="btn btn-secondary br-50 btn-archive"  v-on:click="savePost(data)">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fw-600 cursor-pointer text-theme-hover" v-b-toggle.sidebar-right v-on:click="postDetailsclick(data.jobs_id)">{{data.job_title.toUpperCase()}}</h5>
                    
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-{{data.quality_inspector}}</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- {{data.country_name}}</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted {{data.time}} ago</li>
                    </ul>
                    <vue-read-more-smooth :lines="3" class="mt-2">
                      <p class="fz-14 text-black mb-2" v-html="data.scope_of_work"></p>
                    </vue-read-more-smooth>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">{{data.country_name}}</span></p>
                    <ul class="inline-block align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 inline-block align-items-center" v-for="skill in data.skill_name" :key="skill.id"> {{skill}} </li>
                    </ul>
                  </div>
                  <div class="text-center py-4 text-theme" v-if="loaderStatus">
                    <b-spinner type="border" medium></b-spinner>
                  </div>
                </div>
                <div v-else>
                  <div class="job-card py-8 px-4 pb-4 mb-2 text-center dashboard-empty">
                    <svg width="149" height="149" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-2 m-auto">
                      <path d="M66.1246 6.34896C71.2699 2.78071 78.0895 2.78071 83.2348 6.34896C86.5425 8.64289 90.6329 9.51233 94.5877 8.76211C100.74 7.59512 106.97 10.3689 110.219 15.7214C112.307 19.1624 115.691 21.6204 119.609 22.5436C125.703 23.9797 130.266 29.0476 131.057 35.2589C131.566 39.252 133.657 42.8736 136.861 45.3106C141.844 49.1014 143.952 55.5872 142.148 61.5833C140.989 65.438 141.426 69.5969 143.361 73.1263C146.372 78.6164 145.659 85.3986 141.573 90.1427C138.946 93.1926 137.653 97.1697 137.986 101.181C138.504 107.421 135.094 113.327 129.431 115.999C125.791 117.717 122.992 120.824 121.665 124.624C119.6 130.536 114.082 134.544 107.822 134.682C103.798 134.77 99.9778 136.471 97.2192 139.402C92.9283 143.962 86.2577 145.38 80.483 142.96C76.7706 141.404 72.5888 141.404 68.8764 142.96C63.1017 145.38 56.4311 143.962 52.1401 139.402C49.3816 136.471 45.5613 134.77 41.537 134.682C35.277 134.544 29.7598 130.536 27.6946 124.624C26.3669 120.824 23.5687 117.717 19.9282 115.999C14.2654 113.327 10.8556 107.421 11.3732 101.181C11.7059 97.1697 10.4136 93.1926 7.78652 90.1427C3.7 85.3986 2.98715 78.6164 5.99803 73.1263C7.93364 69.5969 8.37075 65.438 7.21125 61.5833C5.40762 55.5872 7.51499 49.1014 12.4986 45.3106C15.7024 42.8736 17.7933 39.252 18.3019 35.2589C19.093 29.0476 23.6562 23.9797 29.7508 22.5436C33.6688 21.6204 37.052 19.1624 39.1407 15.7214C42.3898 10.3689 48.6199 7.59512 54.7716 8.76211C58.7264 9.51233 62.8169 8.64289 66.1246 6.34896Z" fill="#F2613C"/>
                      <path d="M68.7901 83.7077H76.827L84.2389 55.3104L86.8286 44.0586H74.5945L72.8978 55.3104L68.7901 83.7077ZM68.8794 104.961C74.0587 104.961 77.6307 100.496 77.6307 96.0311C77.6307 92.1912 75.1303 89.3336 71.2904 89.3336C66.1111 89.3336 62.5391 93.9772 62.5391 98.3529C62.5391 102.282 65.0395 104.961 68.8794 104.961Z" fill="white"/>
                    </svg>
                    <p class="fz-20 fw-600 text-black mb-0">No Post Available</p>
                  </div>
                </div>
                <b-sidebar id="sidebar-right" title="" right shadow  backdrop> 
                    <div class="px-3 py-2">
                      <b-card-group deck>
                        <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white">
                          <template  #header>
                            <div class="d-flex align-items-center">
                              <h4 class="mb-0 fz-24 fw-500 text-black"><b>{{jobDetailsWithClientData.jobDetails.job_title}}</b></h4>
                              <div class="ml-auto">
                                <a :href="$router.resolve({name: 'jobDetails',  path:'/freelancer/job-details', query: {jobDetailsWithClientData: jobDetailsWithClientData.jobDetails.jobs_id}}).href" target="_blank" class="d-flex align-items-center text-theme" >
                                  <div class="up-icon w-3 mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#F2613C" aria-hidden="true" viewBox="0 0 14 14" role="img"><path d="M12 7.252h2V14H0V0h6.602v2.014H2v9.971h10V7.252zM8.602 0v2.014h2.088L6.795 5.935l1.414 1.424L12 3.54v1.898h2V0H8.602z"></path></svg>
                                  </div> 
                                  <span>Open job in a new window</span>
                                </a>
                              </div>
                            </div>
                          </template>
                          <b-row>
                            <b-col lg="9" xl="9" sm="12">
                              <div class="bordered">
                                <div class="d-flex align-items-center py-4 px-4">
                                  <div>
                                    <b-card-text class="text-theme fz-16 fw-600 mb-1">{{jobDetailsWithClientData.jobDetails.quality_inspector}}</b-card-text>
                                    <b-card-text class="text-muted fz-14 mb-1">Posted {{jobDetailsWithClientData.jobDetails.time}}</b-card-text>
                                    <div class="mt-3 d-flex align-items-center">
                                      <div class="up-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F2613C" class="bi bi-geo" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                                        </svg>
                                      </div>  
                                      <span class="vertical-align-middle ml-2">
                                        {{(jobDetailsWithClientData.jobDetails.nationality != null) ? jobDetailsWithClientData.jobDetails.nationality : 'Any'}}
                                      </span> 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="bordered p-4">
                                <b-card-text class="text-muted fz-14 mb-4" v-html="jobDetailsWithClientData.jobDetails.scope_of_work"></b-card-text>
                                <!-- <b-card-text class="text-muted fz-14 mb-0">We regularly need Freelance Inspectors based in Jiangsu Province-China for occasional Inspection of Mooring Chains, Valves, Forgings, Castings, etc. Candidates must possess a degree in Mechanical Engineering or Metallurgy and hold valid Level NDT Certificates in RT, UT & MT.  Experience in Welding, Machining & Lab tests preferred., Must be fluent in English communications. Inspections on call basis.</b-card-text> -->
                              </div>
                              <div class="bordered p-4">
                                <b-row>
                                  <b-col xl="12" lg="12" sm="12">
                                    <ul class="cfe-ui-job-features p-0">
                                      <li class="">
                                          <div class="header">
                                            <div class="icon up-icon" data-cy="clock-hourly">
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="#F2613C" viewBox="0 0 14 14" role="img">
                                                  <g fill-rule="evenodd">
                                                      <path d="M7 0a7 7 0 100 14A7 7 0 007 0m0 1.05A5.957 5.957 0 0112.95 7 5.957 5.957 0 017 12.95 5.957 5.957 0 011.05 7 5.957 5.957 0 017 1.05"></path>
                                                      <path d="M7.5 2.106a.5.5 0 11-1 0 .5.5 0 011 0m-2.514.406a.5.5 0 11-.867.5.5.5 0 01.867-.5M3.012 4.12a.5.5 0 11-.5.866.5.5 0 01.5-.866M2.106 6.5a.5.5 0 110 1 .5.5 0 010-1m.406 2.514a.5.5 0 11.5.867.5.5 0 01-.5-.867m1.608 1.974a.5.5 0 11.866.5.5.5 0 01-.866-.5m2.38.906a.5.5 0 111 0 .5.5 0 01-1 0m2.514-.406a.5.5 0 11.867-.5.5.5 0 01-.867.5m1.974-1.608a.5.5 0 11.5-.866.5.5 0 01-.5.866m.906-2.38a.5.5 0 110-1 .5.5 0 010 1m-.406-2.514a.5.5 0 11-.5-.867.5.5 0 01.5.867M9.88 3.012a.5.5 0 11-.866-.5.5.5 0 01.866.5"></path>
                                                      <polygon points="6.5 4.16 6.5 6.969 4.925 9.697 5.791 10.197 7.492 7.25 7.5 7.25 7.5 4.16"></polygon>
                                                  </g>
                                                </svg>
                                            </div>
                                            <strong>Less than 30 hrs/week</strong>
                                          </div>
                                          <small class="text-muted">Hourly</small>
                                      </li>
                                      <li class="">
                                          <div class="header">
                                            <div class="icon up-icon" data-cy="calendar-under1month-alt">
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="#F2613C" viewBox="0 0 14 14" role="img">
                                                  <g fill-rule="evenodd">
                                                      <path d="M6.01 10.586V9.524l-2.058-.72 2.058-.72V7.028L2.926 8.282v1.05l3.084 1.254zM8.606 11h1.14V6.602h-.834l-1.272.366.222.906.6-.145.144-.035V11z"></path>
                                                      <path d="M1 13V5h12v8H1zM11 1V0h-1v1H4V0H3v1H1.007C.45 1 0 1.447 0 1.999v11.003c0 .551.451.998 1.007.998h11.986c.557 0 1.007-.447 1.007-.998V1.999C14 1.448 13.549 1 12.993 1H11z"></path>
                                                  </g>
                                                </svg>
                                            </div>
                                            <strong><span class="d-none d-lg-inline">Less than a month</span> <span class="d-lg-none">&lt; 1 month</span></strong>
                                          </div>
                                          <small class="text-muted"><span class="d-none d-lg-inline">Project Length</span> <span class="d-lg-none">Duration</span></small>
                                      </li>
                                      <li class="">
                                          <div class="header">
                                            <div class="icon up-icon" data-cy="expertise">
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="#F2613C" viewBox="0 0 14 14" role="img">
                                                  <path d="M12.8 8.4l-1.3-2.3v-.8C11.6 2.4 9.2 0 6.3 0S1.1 2.4 1.1 5.3c0 1.4.5 2.6 1.4 3.5v4.5c0 .4.3.7.7.7h5.3c.4 0 .7-.3.7-.7v-1h1.7c.4 0 .7-.3.7-.7V9h.9c.4 0 .5-.3.3-.6zM8.7 5.3v.4l.7.4c-.2.5-.4.9-.8 1.3L7.9 7c-.2.2-.5.3-.8.4v.8c-.2.1-.5.1-.8.1-.3 0-.5 0-.8-.1v-.8c-.2-.1-.5-.2-.7-.4l-.7.4c-.4-.4-.7-.8-.8-1.3l.7-.4v-.9l-.7-.4c.1-.5.4-1 .8-1.3l.7.4c.2-.2.5-.3.7-.4v-.8c.3-.1.5-.1.8-.1.3 0 .5 0 .8.1v.8c.3.1.5.2.8.4l.7-.4c.4.4.6.8.8 1.3l-.7.4v.5z"></path>
                                                  <circle cx="6.3" cy="5.3" r=".9"></circle>
                                                </svg>
                                            </div>
                                            <strong>Expert</strong>
                                          </div>
                                          <!-- <small class="text-muted"><span class="d-none d-lg-inline">I am willing to pay higher rates for the most experienced freelancers</span> <span class="d-lg-none">Experience Level</span></small> -->
                                          <!-- <small class="text-muted"><span class="d-none d-lg-inline">{{jobDetailsWithClientData.jobDetails.minimum_certification}}</span> <span class="d-lg-none">Experience Level</span></small> -->
                                          <small class="text-muted"><span class="d-none d-lg-inline">Looking for {{jobDetailsWithClientData.jobDetails.year_of_experience}} year experience</span> <span class="d-lg-none">Experience Level</span></small>
                                      </li>
                                      <li class="">
                                          <div class="header">
                                            <div class="icon up-icon" data-cy="clock-timelog">
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="#F2613C" viewBox="0 0 14 14" role="img">
                                                  <path d="M8.971 1.332H5.64V0h3.331v1.332zm4.33 6.675a5.995 5.995 0 01-11.991 0c0-1.432.504-2.747 1.347-3.778l-.544-.542-.471.471L.7 3.216l.47-.471.942-.941.47-.472.942.943-.471.47.553.552a5.97 5.97 0 013.7-1.283 5.996 5.996 0 015.995 5.993zm-2.397-.601H7.906V4.411H6.704v4.194h4.201V7.406z"></path>
                                                </svg>
                                            </div>
                                            <strong>
                                            {{jobDetailsWithClientData.jobDetails.budget}}</strong>
                                          </div>
                                          <small class="text-muted">
                                          Hourly
                                          </small>
                                      </li>
                                    </ul>
                                  </b-col>
                                </b-row>
                              </div>
                              <!-- <div class="bordered p-4">
                                <h4 class="fz-18 fw-600 text-black">Project Type: <span class="fz-16 fw-300 text-black"> One-time project</span></h4>
                              </div> -->
                              <div class="bordered p-4 mb-2">
                                <b-row>
                                  <b-col xl="12" lg="12" sm="12">
                                    <b-card-text class="text-black fz-18 mb-4 fw-600">Skills and Expertise</b-card-text>
                                    <div class="card-section">
                                      <div class="mb-30 tags">
                                        <span class="up-skill-badge" v-for="(skill,ids) in jobDetailsWithClientData.jobDetails.skill_name" :key="ids"> {{skill}} </span>
                                      </div>
                                    </div>
                                  </b-col>
                                </b-row>
                              </div>
                              <div class="border-right p-4 mb-2">
                                <b-row>
                                  <b-col>
                                    <b-card-text class="text-black fz-18 mb-4 fw-600">Activity on this job</b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Total Applicants: <span class="fz-14 mb-1 fw-600">{{jobDetailsWithClientData.jobApplicationStatus.jobApplicantCount}}</span></b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Hired Applicants: <span class="fz-14 mb-1 fw-600">{{jobDetailsWithClientData.jobApplicationStatus.jobHireApplicantCount}}</span></b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Shortlisted Applicants: <span class="fz-14 mb-1 fw-600">{{jobDetailsWithClientData.jobApplicationStatus.jobShortlistedApplicantCount}}</span></b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Rejected Applicants: <span class="fz-14 mb-1 fw-600">{{jobDetailsWithClientData.jobApplicationStatus.jobRejectedApplicantCount}}</span></b-card-text>
                                    <!-- <b-card-text class="text-muted fz-16 mb-1 fw-600">Proposals: <span class="fz-14 mb-1 fw-600">Less than 5</span></b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Interviewing: <span class="fz-14 mb-1 fw-600">0</span></b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Invites sent: <span class="fz-14 mb-1 fw-600">0</span></b-card-text>
                                    <b-card-text class="text-muted fz-16 mb-1 fw-600">Unanswered invites: <span class="fz-14 mb-1 fw-600">0</span></b-card-text> -->
                                    <!-- <b-card-text class="text-black fz-18 mt-4 fw-600">Upgrade your membership to see the bid range </b-card-text>
                                    <button type="button" class="btn btn-theme btn-block mb-2 btn-secondary">Upgrade Membership</button> -->
                                  </b-col>
                                </b-row>
                              </div>
                            </b-col>
                            <b-col lg="3" xl="3" sm="12">
                              <div class="py-3 px-2 py-2 text-center">
                                <b-button class="btn-theme btn-block mb-2 w-100" @click="submitProposal(jobDetailsWithClientData.jobDetails.jobs_id,proposal_url)">{{proposalbtn_text}}</b-button><br>
                                <b-button class="btn-outline-theme btn-block w-100" v-if="jobDetailsWithClientData.jobDetails.action != 3" v-on:click="savePost(jobDetailsWithClientData.jobDetails,0)">Save Job</b-button>
                              </div>
                              <div class="py-4 px-2">
                                <h5 class="fz-18 fw-600">About the client</h5>
                                <div class="star-rating mb-3">
                                  <label for="5-stars" class="star" :class="(clientrating >= 1)?'active':''"><i class="fa fa-star"></i></label>
                                  <label for="4-stars" class="star" :class="(clientrating >= 2)?'active':''"><i class="fa fa-star"></i></label>
                                  <label for="3-stars" class="star" :class="(clientrating >= 3)?'active':''"><i class="fa fa-star"></i></label>
                                  <label for="2-stars" class="star" :class="(clientrating >= 4)?'active':''"><i class="fa fa-star"></i></label>
                                  <label for="1-star" class="star" :class="(clientrating == 5)?'active':''"><i class="fa fa-star"></i></label>
                                </div>
                                <h5 class="fz-18 fw-600">{{jobDetailsWithClientData.clientFullDetails.nationality}}</h5>
                                <!-- <p class="r-about fz-16">Suzhou 2:47 am</p> -->

                                <h5 class="fz-18 fw-600">{{jobDetailsWithClientData.clientJobsData.length}} jobs posted</h5>
                                <p class="r-about fz-16">34% hire rate, 2 open jobs</p>

                                <h5 class="fz-18 fw-600">$50 total spent</h5>
                                <p class="r-about fz-16">1 hire, 1 active</p>

                                <p class="r-about fz-16">Member since March 21, 2022 </p>
                              </div>
                              <div class="py-4 px-2 no-bottom-border">
                                <h5 class="fz-18 fw-600">Job link</h5>
                                <input type="text" class="form-control" v-on:focus="$event.target.select()" 
                                  ref="clone" 
                                  readonly 
                                  :value="$router.resolve({name: 'jobDetails',  path:'/freelancer/job-details', query: {jobDetailsWithClientData: jobDetailsWithClientData.jobDetails.jobs_id}}).href"/>
                                <a href="javascript:void(0);" @click="copyClipboad" class="text-theme mb-4 d-block"><small>Copy link</small></a>
                              </div>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-card-group> 

                      <b-card-group deck class="mt-3" v-if="jobDetailsWithClientData.clientJobshistoryData.length > 0">
                        <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white">
                          <template  #header>
                            <h4 class="mb-0 fz-24 fw-500 text-black"><b>Client's recent history ({{jobDetailsWithClientData.clientJobshistoryData.slice(0,3).length}})</b></h4>
                          </template>
                          <b-row class="px-3 py-2" v-for="(clientJobshistory,ids) in jobDetailsWithClientData.clientJobshistoryData.slice(0,3)" :key="ids">
                            <b-col xl="9" lg="9" sm="12">
                              <h4 class="mb-0">
                                <span>
                                  <a href="javascript:void(0);" target="_blank" class="mb-0 fz-18 fw-500 text-theme"><b>{{clientJobshistory.job_title}}.</b></a>
                                </span>
                              </h4>
                              <div>{{clientJobshistory.job_status}}</div>
                              <div class="mt-1">
                                <span>
                                  Freelancer
                                  <span>
                                    <a href="javascript:void(0);" target="_blank" class="text-theme">Bob T.</a>
                                  </span>
                                </span>
                              </div>
                            </b-col>
                            <b-col xl="3" lg="3" sm="12">
                              <div>
                                {{clientJobshistory.to_date}}
                                <span>Expire</span>
                              </div>
                              <div data-cy="stats" class="mt-1">
                                <span>
                                  <strong>
                                  <!-- 4.5 hrs -->
                                  <span>{{clientJobshistory.budget}}</span></strong>
                                </span>
                              </div>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-card-group>

                      <b-card-group deck class="mt-3" v-if="jobDetailsWithClientData.clientJobsData.length > 0">
                        <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white">
                          <template  #header>
                            <h4 class="mb-0 fz-24 fw-500 text-black"><b>Other open jobs by this Client ({{jobDetailsWithClientData.clientJobsData.slice(0,5).length}})</b></h4>
                          </template>
                          <b-row class="px-3 py-2">
                            <b-col xl="12" lg="12" sm="12">
                              <ul class="list-unstyled mb-0 ml-custom">
                                <li v-for="(clientJobs,ids) in jobDetailsWithClientData.clientJobsData.slice(0,5)" :key="ids">
                                  <strong>
                                    <a href="javascript:void(0);" target="_blank" class="text-theme">{{clientJobs.job_title}}.</a>
                                  </strong> 
                                  <span class="type text-muted d-block d-md-inline">
                                    <!-- Hourly -->
                                  </span>
                                </li>
                                
                              </ul>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-card-group> 
                    </div>
                  </b-sidebar>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </template>
  <script>
    import axios from 'axios'
    import { validationMixin } from 'vuelidate'
    // import { required } from 'vuelidate/lib/validators'
    // import Multiselect from 'vue-multiselect'
    import VueReadMoreSmooth from "vue-read-more-smooth"
    import { mapActions } from "vuex";

    let base_url = "http://qapin_mvp5.manageprojects.in/";
    export default {

      mixins: [validationMixin],

      validations: {
      },
      components : {
        VueReadMoreSmooth,
        // Multiselect 
      },
      props:{
        // 'search':input,
      },
      data() {
        return {
          isHidden: true,
          headToken:'',
          postData:[],
          dataStatus: false,
          loaderStatus: true,
          filterValue:'',
          categoryData:[],
          search:'',
          proposalDetails:'',
          category_data:[],
          category_ids:[],
          categoryModelshow:false,
          clientFullDetails:'',
          jobDetailsWithClientData:{
            jobDetails:'',
            jobApplicationStatus:'',
            clientJobsData : '',
            clientJobshistoryData : '',
            clientFullDetails : '',
            clientrating : '',
          },
          sortoptions: [
            { value: null, text: 'Please select an option' },
            { value: 'a1', text: 'Relevance' },
            { value: 'b1', text: 'Newest'},
            { value: 'c1', text: 'Client spend' },
            { value: 'd1', text: 'Client rating'},
          ],
          sort:'',
          filtersValue: {
            selectedCategoryData:[],
            experienceLevel:[],
            numberOfProposal:[],
            projectLength:[],
            locationData:[]
          },
          location:'',
          locationData:'',
          hideClearBtn:false,
          proposalbtn_text:'Submit a Proposal',
          clientrating:false,
          proposal_url:0,
          projectLengthData:[],
          ExperienceLevelData:[],
        }
      },
      methods: {
        // this fun is for to clear all filter value
        clearFilter(){
          this.hideClearBtn=false;
          this.filtersValue = {
            selectedCategoryData:[],
            experienceLevel:[],
            numberOfProposal:[],
            projectLength:[],
            locationData:[]
          };
          this.getData('');
        },
        ...mapActions(["genericAPIPOSTRequest"]),
        // this fun is for to search location for filter
        async searchLocation(){
          const formData = new FormData()
          formData.append('input', this.location);
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "common/getLocationAll",
              params: formData,
          }); 
          if(res.length > 0 ){
            this.locationData=res;
          }
        },
        // THIS FUN IS FOR TO GET CATEGORY
        async getCategory(){ 
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "common/getQpRoleMasterList",
              params: {},
          });  
          if(res.length > 0){
            this.categoryData = res;
          }else{
            this.categoryData='';
          }
        },
        // this function is for to get filter data
        async filterByData(){
            this.hideClearBtn= this.checkFilterdata(); 
            console.log('data',this.filtersValue)
            var res = await this.genericAPIPOSTRequest({
                requestUrl: "searchJob",
                params: {'search':this.filtersValue},
            });  
            if(res.length > 0){
              this.postData = res;
            }else{
              this.postData = [];
            }
        },
        // this fun for to check filter array have value
        checkFilterdata(){
          if(this.filtersValue.experienceLevel.length > 0){
            return true; 
          }else if(this.filtersValue.numberOfProposal.length > 0){
            return true; 
          }else if(this.filtersValue.selectedCategoryData.length > 0){
            return true; 
          }else if(this.filtersValue.projectLength.length > 0){
            return true; 
          }else if(this.filtersValue.locationData.length > 0){
            return true; 
          }else{
            return false;
          }
        },
        // this fun is for copy url
        copyClipboad(){
          this.$refs.clone.focus();
          document.execCommand('copy');
        },
        // this fun for to go job proposal
        submitProposal(datas,proposal_uri) {
          var route='';
          if (proposal_uri == 0 ) {
            route = this.$router.resolve({
              name: 'submitProposal',
              path:'/freelancer/submit-proposal',
              query: {jobDetailsWithClientData: datas}
              });  
          }else{
            // route = this.$router.resolve({
            //   name: 'proposalDetails',
            //   path:'/freelancer/proposal-details',
            //   query: {jobDetails: datas}
            //   });
              route = this.$router.resolve({
              name: 'myProposals',
              path:'/freelancer/my-proposals#submit-Proposal',
              // query: {jobDetails: datas}
              });
          }
          
          window.open(route.href);
        },
        // this fun is for to Remove select category
        removeFilterValue(key,index){

          if(key=='experienceLevel'){
            this.filtersValue.experienceLevel.splice(index, 1); 
          }
          if(key=='numberOfProposal'){
            this.filtersValue.numberOfProposal.splice(index, 1); 
          }
          if(key=='selectedCategoryData'){
            this.filtersValue.selectedCategoryData.splice(index, 1); 
          }
          if(key=='projectLength'){
            this.filtersValue.projectLength.splice(index, 1); 
          }
          if(key=='locationData'){
            this.filtersValue.locationData.splice(index, 1); 
          }
          this.hideClearBtn= this.checkFilterdata();
          this.filterByData();
            // \\OR   
            // this.$delete(this.category_data,index);
          // \\both will do the same
        },
        // this function is for dislike the post
        dislikePost(post){
          var  passApidata= { "post_id": post, "dislike_reason": "Not Interested"};
          axios.post(base_url+'api/postDislike',passApidata,{headers: this.headToken}).then((response)=>{
            if(response.data.status ==  true){
              var  passApidata= {
                  "filter": this.filterValue,
                  "from": "search",
                  "search":{"location": [], "locationDis": [], "cid": []}
              };
              axios.post(base_url+'api/getJobsList',passApidata,{headers: this.headToken}).then((response)=>{
                if(response.data.status ==  true){
                  this.postData = response.data.result;
                  this.proposalDetails=response.data.dashboard;
                  this.loaderStatus= false;
                  if (this.filterValue == '') {
                    if (this.proposalDetails.recent_job > 0) this.dataStatus = true;
                    else this.dataStatus = false;
                  }
                  else if(this.filterValue == 3){
                    if (this.proposalDetails.saved_job > 0) this.dataStatus= true;
                    else this.dataStatus= false;
                  }else{
                    if (this.proposalDetails.dislike_job > 0) this.dataStatus= true;
                    else this.dataStatus= false;
                  }
                }else{
                  this.loaderStatus= false;
                  this.dataStatus= false;
                }
              });
              this.$toastr.s('Post Disliked successfull');
            }else{
              this.$toastr.e('Post Not Disliked');
            }
          });
        },
        // this function is for get post details
        postDetailsclick(data){
          var apiData ={
            'jobsid':[data]
          };
          axios.post(base_url+'api/getJobDetail',apiData,{"headers":this.headToken}).then((response)=>{
            if(response.data.status == true){
              this.jobDetailsWithClientData.jobDetails =  response.data.result[0];
              var jobApplicationStatus = {
                "jobsid": data,
                "user_id":this.jobDetailsWithClientData.jobDetails.user_id
              };
              axios.post(base_url+'api/getJobApplicantStatus',jobApplicationStatus,{"headers":this.headToken}).then((response)=>{
                if(response.data.status == true){
                  this.jobDetailsWithClientData.jobApplicationStatus =  response.data.result;
                }else{
                  this.jobDetailsWithClientData.jobApplicationStatus =  '';
                }
              });
              var clientJobsapi = {
                  "filter": "",
                  "search": {},
                  "user_id": this.jobDetailsWithClientData.jobDetails.user_id
              }
              axios.post(base_url+'api/getUserPostedJob',clientJobsapi,{'headers':this.headToken}).then((response)=>{
                if (response.data.status==true) {
                  this.jobDetailsWithClientData.clientJobsData =  response.data.result;
                }else{
                  this.jobDetailsWithClientData.clientJobsData =  [];
                }
              });
              var clientDetailsapi = {
                  "user_id": this.jobDetailsWithClientData.jobDetails.user_id
              }
              axios.post(base_url+'api/user/getUserDetails',clientDetailsapi,{headers: this.headToken}).then((response)=>{
                if(response.data.status ==  true){
                  this.jobDetailsWithClientData.clientFullDetails =  response.data.result;
                }else{
                  this.jobDetailsWithClientData.clientFullDetails =  '';
                }
              });

              var clientRatingsapi = {
                  "user_id": this.jobDetailsWithClientData.jobDetails.user_id
              }
              axios.post(base_url+'api/getUserReviewCal',clientRatingsapi,{headers: this.headToken}).then((response)=>{
                if(response.data.status ==  true){
                  this.jobDetailsWithClientData.clientrating =  response.data.result;
                }else{
                  this.jobDetailsWithClientData.clientrating =  '';
                }
              });

              var clientJobshistoryapi = {
                  "filter": 4,
                  "search": {},
                  "user_id": this.jobDetailsWithClientData.jobDetails.user_id
              }
              axios.post(base_url+'api/getUserPostedJob',clientJobshistoryapi,{'headers':this.headToken}).then((response)=>{
                if (response.data.status==true) {
                  this.jobDetailsWithClientData.clientJobshistoryData =  response.data.result;
                }else{
                  this.jobDetailsWithClientData.clientJobshistoryData =  [];
                }
              });

              // this fun is for to check milestone data
              var getmilestoneData = {
                "job_id":data,
                "user_id": this.login_user_id
              };
              axios.post(base_url+'api/getCreatedMilestone',getmilestoneData,{headers: this.headToken}).then((response)=>{
                if(response.data.status==true){
                  this.proposal_url = 1;
                  this.proposalbtn_text = "Proposal Details";
                }else{
                  this.proposal_url = 0;
                  this.proposalbtn_text = "Submit a Proposal";

                }
              })
            }
          });

        },
        // ------------------------ this fun for to go job post details-------------------- 
        gotojobDetails(datas) {
          // let route = this.$router.resolve({ path: "/freelancer/job-details" });
          // window.open(route.href);
          let route = this.$router.push({
                        name: 'jobDetails', 
                        path:'/freelancer/job-details',
                        params: { jobDetailsWithClientData: datas }
                    });
          window.open(route.href);

        },
        // ------------------------ this fun for to get post data ------------------------
        getData(filter){
          this.filterValue=filter;
          this.loaderStatus= true;
          var  passApidata= {
              "filter": filter,
              "from": "search",
              "search":{"location": [], "locationDis": [], "cid": []}
          };
          // var res = await this.genericAPIPOSTRequest({
          //     requestUrl: "getJobsList",
          //     params: passApidata,
          // });
          // if(res.length > 0){
          //     this.postData = response.data.result;
          //     this.proposalDetails=response.data.dashboard;
          //     this.loaderStatus= false;
          //     if (this.filterValue == '') {
          //         if (this.proposalDetails.recent_job > 0) this.dataStatus = true;
          //           else this.dataStatus = false;
          //         }
          //         else if(this.filterValue == 3){
          //           if (this.proposalDetails.saved_job > 0) this.dataStatus= true;
          //           else this.dataStatus= false;
          //         }else{
          //           if (this.proposalDetails.dislike_job > 0) this.dataStatus= true;
          //           else this.dataStatus= false;
          //         }
          //   }else{
          //     this.loaderStatus= false;
          //     this.dataStatus= false;
          //   }  
          // console.log('response',res)
          axios.post(base_url+'api/getJobsList',passApidata,{headers: this.headToken}).then((response)=>{
            if(response.data.status ==  true){
              this.postData = response.data.result;
              this.proposalDetails=response.data.dashboard;
              this.loaderStatus= false;
              if (this.filterValue == '') {
                  if (this.proposalDetails.recent_job > 0) this.dataStatus = true;
                    else this.dataStatus = false;
                  }
                  else if(this.filterValue == 3){
                    if (this.proposalDetails.saved_job > 0) this.dataStatus= true;
                    else this.dataStatus= false;
                  }else{
                    if (this.proposalDetails.dislike_job > 0) this.dataStatus= true;
                    else this.dataStatus= false;
                  }
            }else{
              this.postData=[];
              this.loaderStatus= false;
              this.dataStatus= false;
            }
          });
        },
        // ------------------------ this fun for to save & unsave post ------------------------ 
        async savePost(jobdata){
          var send_jobdata = {
            "action":3,
            "jobData":jobdata
          };
          var res = await this.genericAPIPOSTRequest({
              requestUrl: "job/addBookmark",
              params: send_jobdata,
          });
          if(res){
                var  passApidata1= {
                    "filter": this.filterValue,
                    "from": "search",
                    "search":{"location": [], "locationDis": [], "cid": []}
                };
                axios.post(base_url+'api/getJobsList',passApidata1,{headers: this.headToken}).then((response)=>{
                  // console.log('asd',response.data);
                  if(response.data.status ==  true){
                    this.postData = response.data.result;
                    this.proposalDetails = response.data.dashboard;
                    
                    if (this.filterValue == '') {
                      if (this.proposalDetails.recent_job > 0) this.dataStatus = true;
                      else this.dataStatus = false;
                    }
                    else if(this.filterValue == 3){
                      if (this.proposalDetails.saved_job > 0) this.dataStatus= true;
                      else this.dataStatus = false;
                    }else{
                      if (this.proposalDetails.dislike_job > 0) this.dataStatus= true;
                      else this.dataStatus = false;
                    }
                    this.$toastr.s('Post Saved Successfull');
                  }else{
                    if (this.filterValue == '') {
                      this.proposalDetails.recent_job = (this.proposalDetails.recent_job - 1);
                    }else if(this.filterValue == 3){
                      this.proposalDetails.saved_job = (this.proposalDetails.saved_job - 1);
                    }else{
                      this.proposalDetails.saved_job = (this.proposalDetails.saved_job - 1);
                    }
                    this.loaderStatus = false;
                    this.dataStatus = false;
                    this.$toastr.e('Post Save Unsuccessfull');
                  }
                });
            }else{
                this.$toastr.e('Post Save Unsuccessfull');
                this.loaderStatus = false;
                this.dataStatus = false;
            }
        },
        // this fun is for to get Project Length 
        async getProjectLength(){
          var projectData = await this.genericAPIPOSTRequest({
              requestUrl: "getProjectLengths",
              params: {},
          }); 
          if(projectData.length > 0 ){
            this.projectLengthData = projectData;
          }
        },
        // this fun is for to get Project Length 
        async getExperienceLevel(){
          var experienceData = await this.genericAPIPOSTRequest({
              requestUrl: "getExperienceLevel",
              params: {},
          }); 
          if(experienceData.length > 0 ){
            this.ExperienceLevelData = experienceData;
          }
        }
      },
      computed:{
        filteredAndSorted(){
        // function to compare names
          function compare(a, b) {
            if (a.job_title < b.job_title) return -1;
            if (a.job_title > b.job_title) return 1;
            return 0;
          }
          return this.postData.filter(user => {
              return user.job_title.toLowerCase().includes(this.search.toLowerCase());
          }).sort(compare);
        },
        filterCategory(){
        // function to compare names
          function compare(a, b) {
            if (a.job_title < b.job_title) return -1;
            if (a.job_title > b.job_title) return 1;
            return 0;
          }
          return this.categoryData.filter(user => {
              return user.role_name.toLowerCase().includes(this.search.toLowerCase());
          }).sort(compare);
        }
      },
      mounted() {
        if(this.$route.params.input != undefined){
          this.search = this.$route.params.input;
        }
        // var userdata = JSON.parse(localStorage.getItem('loginUserData'));
        // -------------------------------this is header for api------------------------------
        this.headToken= {"Authorization": localStorage.getItem('token')};
        // this function is for to get all categorys 
        this.getCategory();
        // this function is for to get all active jobs
        this.getData('');

        // this fun is for to get Project Length 
        this.getProjectLength();
        // this fun is for to get Project Length 
        this.getExperienceLevel();
      },  
    }
  </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
    body{font-family: 'Source Sans Pro', sans-serif!important;}
    .text-muted{color:#979797!important;}
    .ralative {padding-bottom:0px;}
    .theme-bg{background-color: #FFF6F4!important;}
    .bg-none{background-color:transparent;}
    .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
    .bordered-right{border-right: 1px solid #EBEBEB;}
    .br-20{border-radius: 20px;}
    .border-none{border:0px!important;}
    .search-wrap .br-50{border-radius:50%!important;}
    .search-wrap .fz-14{font-size:14px;}
    .search-wrap .card{border-radius: 20px!important;border: 0px;background-color: transparent;}
    .search-wrap .card-body{border-radius: 20px;}
    .search-wrap .card-body{border-radius:0 0 20px 20px;padding:0px;}
    .search-wrap .card-header{border-radius:0!important;background-color: transparent;text-align: left;border-radius:20px 20px 0 0!important;}
    .search-wrap .my-proposal ul{margin-left:-32px;}
    .search-wrap .tabs .card{border-radius: 20px!important;border: 0px;background-color: #fff;}
    .search-wrap .card-section select{-webkit-appearance: menulist !important; /* override vuetify style */-moze-appearance: menulist !important; /* override vuetify style */appearance: menulist !important; /* override vuetify style */
    }
    .fz-16{font-size:16px;}
    .fz-18{font-size:18px;}
    .fz-24{font-size:24px;}
    .fw-600{font-weight:600;}
    .mb-23{margin-bottom:23px;}
    .no-bottom-border{border-bottom:0px!important;}
    .border-top-0{border-top:0px!important;}
    .fz-34{font-size:34px;}
    .offer-wrap .card-body{padding:0px;}
    .mb-50{margin-bottom:50px!important;}
    p {margin-top: 0!important;margin-bottom: 1rem!important;}
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
    dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
    ol, ul {padding-left: 2rem!important;}
    hr {margin: 1rem 0!important;}  
    .fz-30{font-size:26px!important;}
    .card-section .post {margin-left: -32px;}
    .card-section .tags span {background: #FCFCFC;border: 1px solid #F2613C;border-radius: 100px;padding: 6px 15px!important;font-size: 14px;--skill-height: 30px;margin: 0 5px 10px 0;padding: 0 10px;background-color: var(--skill-bg);border-radius: 12px;font-size: 12px;line-height: 2.8;cursor: default;}
    .btn-edit:hover{padding:8px 16px!important;background-color: #f2613da6!important;}
    .card-section .btn-social{font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;color: #000000;background: #FFFFFF;border: 1px solid #000000;border-radius: 100px;text-align:center;width:100%;}
    .search-wrap .custom-control-label{background-color:transparent;}
    .border-none{border:0px;}
    .bg-theme{background-color:#F2613C!important;}
    .pos-relative{position:relative;}
    .search-bar .bordered{border:1px solid #D3D3D3!important;border-radius:4px!important;}
    .tt-menu{ position: relative;top: 100%;left: 0px;z-index: 1;display: block;background-color: #fff;width: 100%;padding: 10px;max-height: 150px;overflow-y: scroll;overflow-x: hidden;margin-top: 2px;border: 1px solid #D3D3D3!important;border-radius: 8px!important;}
    .tt-menu .custom-control{margin-bottom: 5px;margin-top:5px;}
  </style>
