<template>
  <div class="container">
    <b-row class="mt-100 freelancer-wrap freelancer-job-detail">
      <b-col>
        <h4 class="mb-5 fz-30 fw-500 text-black" v-if="mileStoneStatus"><b>Submit a Proposal</b></h4>
        <h4 class="mb-5 fz-30 fw-500 text-black" v-else><b>Proposal Already Submitted</b></h4>
        
        <b-card-group deck>
          <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white">
            <template  #header>
              <h4 class="mb-0 fz-24 fw-500 text-black"><b>{{ jobDetailsWithClientData.jobDetails.job_title }}</b></h4>
            </template>
            <b-row>
              <b-col cols="12" class="p-0">
                <div class="bordered">
                  <div class="d-flex align-items-center py-4 px-4">
                    <div>
                      <b-card-text class="text-theme fz-16 fw-600 mb-23">{{jobDetailsWithClientData.jobDetails.quality_inspector}}</b-card-text>
                      <b-card-text class="text-muted fz-14 mb-0">Posted {{jobDetailsWithClientData.jobDetails.time}}</b-card-text>
                    </div>
                    <b-card-text class="ml-auto ml-1 d-flex align-items-center mb-0">
                      <svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 5.28027C8.37764 5.28027 5.40918 8.40136 5.40918 12.2748C5.40918 14.3585 6.46842 16.8771 8.23787 19.6617C8.85278 20.6294 9.51552 21.5658 10.1854 22.4404C10.6054 22.9889 10.952 23.4148 11.1785 23.6801C11.6242 24.202 12.3759 24.2018 12.8214 23.68C13.0479 23.4148 13.3945 22.9889 13.8145 22.4404C14.4844 21.5658 15.1471 20.6294 15.762 19.6617C17.5315 16.8771 18.5907 14.3585 18.5907 12.2748C18.5906 8.40135 15.6222 5.28027 11.9999 5.28027ZM9.18859 18.847C7.55932 16.283 6.59072 13.9799 6.59072 12.2748C6.59072 9.19124 9.00544 6.65236 11.9999 6.65236C14.9944 6.65236 17.4091 9.19123 17.4092 12.2748C17.4092 13.9799 16.4406 16.283 14.8113 18.847C13.7963 20.4444 12.7477 21.8156 11.9999 22.6934C11.2521 21.8155 10.2036 20.4443 9.18859 18.847ZM12 14.7608C10.7673 14.7608 9.77138 13.5702 9.77138 12.1142C9.77138 10.6582 10.7673 9.4677 12 9.4677C13.2326 9.4677 14.2285 10.6582 14.2285 12.1142C14.2285 13.5703 13.2326 14.7608 12 14.7608ZM12 13.5663C12.6578 13.5663 13.1999 12.9182 13.1999 12.1142C13.1999 11.3103 12.6578 10.6621 12 10.6621C11.3421 10.6621 10.7999 11.3103 10.7999 12.1142C10.7999 12.9182 11.3421 13.5663 12 13.5663Z" fill="#999999"/>
                      </svg>
                      {{jobDetailsWithClientData.jobDetails.country_name+', '+jobDetailsWithClientData.jobDetails.state_name+', '+jobDetailsWithClientData.jobDetails.city_name}}
                    </b-card-text>
                  </div>
                </div>
              </b-col>
              <b-col cols="9" class="p-0">
                <div class="bordered p-4 no-bottom-border">
                  <vue-read-more-smooth :lines="3" class="mt-2">
                  <b-card-text class="text-muted fz-14 mb-3" v-html="jobDetailsWithClientData.jobDetails.scope_of_work" ></b-card-text>
                  </vue-read-more-smooth>
                  <a :href="$router.resolve({name: 'jobDetails',  path:'/freelancer/job-details', query: {jobDetailsWithClientData: jobDetailsWithClientData.jobDetails.jobs_id}}).href" class="btn btn-theme mb-3">View Job Post</a>

                  <h5 class="fz-18 fw-600 mb-3">Skills</h5> 
                  <ul class="d-flex align-items-center fz-14 post tags mb-4 inline-block">
                    <li class="mr-1 d-flex align-items-center inline-flex" v-for="(skill,ids) in jobDetailsWithClientData.jobDetails.skill_name" :key="ids"> {{skill}}</li>
                  </ul>
                </div>
              </b-col>
              <b-col class="p-0">
                <div class="bordered py-4 px-4 no-bottom-border about-wrapper">
                  <h5 class="fz-18 fw-600">About the client</h5>
                  <div class="star-rating mb-3">
                    <label for="5-stars" class="star " :class="(jobDetailsWithClientData.clientrating >= 1)?'active':''">&#9733;</label>
                    <label for="4-stars" class="star " :class="(jobDetailsWithClientData.clientrating >= 2)?'active':''">&#9733;</label>
                    <label for="3-stars" class="star " :class="(jobDetailsWithClientData.clientrating >= 3)?'active':''">&#9733;</label>
                    <label for="2-stars" class="star " :class="(jobDetailsWithClientData.clientrating >= 4)?'active':''">&#9733;</label>
                    <label for="1-star" class="star" :class="(jobDetailsWithClientData.clientrating == 5)?'active':''">&#9733;</label>
                  </div>
                  <h5 class="fz-18 fw-600">{{jobDetailsWithClientData.clientFullDetails.nationality}}</h5>
                  <p class="r-about fz-16">Suzhou 2:47 am</p>

                  <h5 class="fz-18 fw-600">{{jobDetailsWithClientData.clientJobsData.length}} jobs posted</h5>
                  <p class="r-about fz-16">34% hire rate, 2 open jobs</p>

                  <h5 class="fz-18 fw-600">$50 total spent</h5>
                  <p class="r-about fz-16">1 hire, 1 active</p>

                  <p class="r-about fz-16">Member since March 21, 2022 </p>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>                   
      </b-col>
    </b-row>
    <b-form @submit.prevent="submitProposal">
    <b-row class="mt-50 freelancer-wrap freelancer-job-detail" v-if="mileStoneStatus">
      <b-col>
        <b-card-group deck>
          <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white">
            <template  #header>
              <div class="d-md-flex align-items-center">
                <h4 class="mb-0 fz-24 fw-500 text-black"><b>Submit Proposals</b></h4>
                <div class="ml-auto d-flex align-items-center">
                  <svg width="45" height="45" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.1" cx="18.0008" cy="17.9998" r="17.034" fill="#F2613C"/>
                    <g clip-path="url(#clip0_3020_21604)">
                    <path d="M22.4166 11.5H17.9139C17.6161 11.5 17.1998 11.6726 16.9893 11.8829L10.8161 18.056C10.3946 18.477 10.3946 19.1673 10.8161 19.5879L15.4126 24.1841C15.8331 24.6052 16.5228 24.6052 16.944 24.1837L23.1171 18.0115C23.3274 17.8012 23.5 17.3842 23.5 17.087V12.5834C23.5 11.9877 23.0123 11.5 22.4166 11.5ZM20.2498 15.8334C19.6515 15.8334 19.1665 15.3478 19.1665 14.75C19.1665 14.1512 19.6515 13.6666 20.2498 13.6666C20.8482 13.6666 21.3334 14.1512 21.3334 14.75C21.3334 15.3478 20.8482 15.8334 20.2498 15.8334Z" fill="#F2613C"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3020_21604">
                    <rect width="13" height="13" fill="white" transform="translate(10.5 11.5)"/>
                    </clipPath>
                    </defs>
                  </svg>
                  <div class="content ml-2">
                    <b-card-text class="text-black fz-16 mb-1 fw-600">{{jobDetailsWithClientData.jobDetails.budget}}</b-card-text>
                    <b-card-text class="text-muted fz-14">Client Budget</b-card-text>
                  </div>
                </div>
              </div>
            </template>
            <b-row >
              <b-col cols="12" class="p-0">
                <div class="bordered p-4">
                  <h5 class="fw-600 fz-18 mb-4">How do yo want to be paid ?</h5>
                  <b-form-group v-slot="{ ariaDescribedby }">
                  <div v-on:click="selectPaid('one')">
                    <b-form-radio v-model="paidType" :aria-describedby="ariaDescribedby" value="one" ><span class="ml-2 fw-600 fz-16" v-on:click="selectPaid('one')" >By Milestone</span></b-form-radio>
                    <p class="ml-5 text-muted fz-14 fw-400">On fixed price jobs, simply divide the project into smaller segments ( called milestone). As each milestone <br> is met, you’ll be paid for that specific work...</p>
                  </div>
                  <div v-on:click="selectPaid('two')">
                    <b-form-radio v-model="paidType" :aria-describedby="ariaDescribedby" value="two" ><span class="ml-2 fw-600 fz-16" v-on:click="selectPaid('two')" >By Project</span></b-form-radio>
                    <p class="ml-5 text-muted fz-14 fw-400">Get your entire payment at the end when, all the work has been delivered.</p>
                  </div>
                  </b-form-group>
                </div>
                <div class="bordered p-4" v-if="paidTypeStatus== 'one'">
                  <h5 class="fw-600 fz-18 mb-4">How many milestone do you want to include?</h5>
                  
                    <b-row v-for="(milstonedata, id) in proposal" :key="id">
                      <b-col cols="1" >
                        <b-form-group
                          id="fieldset-1"
                          label="S.No"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          placeholder="01"
                          class="fz-14 fw-600"
                        >
                          <p>{{id+1}}</p>
                        </b-form-group>
                      </b-col>
                      <b-col cols="4">
                        <b-form-group
                          id="fieldset-1"
                          label="Milestone Description"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          class="fz-14 fw-600"
                          placeholder="What is the task ?"
                        >
                          <b-form-input class="form-control" id="input-1" required v-model="milstonedata.description"
                           :error-messages="descriptionError"
                           @input="$v.proposal.description.$touch()"
                           @blur="$v.proposal.description.$touch()"
                           
                           trim />
                        </b-form-group>
                      </b-col>
                      <b-col cols="3">
                        <b-form-group
                          id="fieldset-1"
                          label="Due Date ( Optional )"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          class="fz-14 fw-600"
                          placeholder="DD - MM - YYYY"
                        >
                        <!-- <input type="date" class="form-control mb-2" v-model="milstonedata.dueDate" required  /> -->
                          <b-form-datepicker  v-model="milstonedata.dueDate"  required class="mb-2"></b-form-datepicker>
                        </b-form-group>
                      </b-col>
                      <b-col cols="3">
                        <b-form-group
                          id="fieldset-1"
                          label="Amount"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          class="fz-14 fw-600"
                          placeholder="$ 00.00"
                          
                        >
                          <b-form-input id="input-1" v-model="milstonedata.amount" @keypress="isNumber($event)" required  trim></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col cols="1" v-if="id > 0">
                        <button class="btn btn-outline-theme mt-4 d-flex align-items-center" type="button" v-on:click="removeMilestone(id)">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.70966 11.4814V6.94542H0.413656V4.92942H4.70966V0.393421H6.79766V4.92942H11.0937V6.94542H6.79766V11.4814H4.70966Z" fill="#F2613C"/>
                          </svg>
                          <span class="ml-2">Remove</span>
                        </button>
                      </b-col>
                    </b-row>
                    <button class="btn btn-outline-theme mt-4 d-flex align-items-center" type="button" v-on:click="addMilestone()">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.70966 11.4814V6.94542H0.413656V4.92942H4.70966V0.393421H6.79766V4.92942H11.0937V6.94542H6.79766V11.4814H4.70966Z" fill="#F2613C"/>
                      </svg>
                      <span class="ml-2">Add Milestone</span>
                    </button>
                </div>
                <div class="bordered p-4" v-else-if="paidTypeStatus== 'two'">
                  <h5 class="fw-600 fz-18 mb-4"></h5>
                  <b-form>
                    <b-row v-for="(milstonedata, id) in proposal" :key="id">
                      <b-col cols="1">
                        <b-form-group
                          id="fieldset-1"
                          label="S.No"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          placeholder="01"
                          class="fz-14 fw-600"
                        >
                          <p>{{id+1}}</p>
                        </b-form-group>
                      </b-col>
                      <b-col cols="4">
                        <b-form-group
                          id="fieldset-1"
                          label="Description"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          class="fz-14 fw-600"
                          placeholder="What is the task ?"
                        >
                          <b-form-input id="input-1" v-model="milstonedata.description" required  trim></b-form-input>
                        </b-form-group>
                      </b-col>
                      <b-col cols="3">
                        <b-form-group
                          id="fieldset-1"
                          label="Due Date ( Optional )"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          class="fz-14 fw-600"
                          placeholder="DD - MM - YYYY"
                        >
                          <!-- <input type="date" class="form-control mb-2" v-model="milstonedata.dueDate" required  /> -->
                          <b-form-datepicker  v-model="milstonedata.dueDate" required class="mb-2"></b-form-datepicker>
                        </b-form-group>
                      </b-col>
                      <b-col cols="3">
                        <b-form-group
                          id="fieldset-1"
                          label="Amount"
                          label-for="input-1"
                          valid-feedback="Thank you!"
                          class="fz-14 fw-600"
                          placeholder="$ 00.00"
                        >
                          <b-form-input id="input-1" v-model="milstonedata.amount" @keypress="isNumber($event)" required trim></b-form-input>
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-form>
                </div>
                
              </b-col>
            </b-row>
            
            <b-row >
              <b-col cols="6 p-0">
                <div class="text-center bordered no-bottom-border py-13">
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-auto">
                    <circle cx="50" cy="50" r="50" fill="#F2613C"/>
                    <g clip-path="url(#clip0_3736_21321)">
                    <path d="M62.3418 42.1875C52.5684 42.1875 44.6172 49.9942 44.6172 59.5898C44.6172 69.1855 52.5684 76.9922 62.3418 76.9922C72.1151 76.9922 80.0664 69.1855 80.0664 59.5898C80.0664 49.9942 72.1151 42.1875 62.3418 42.1875ZM62.3418 58.0078C65.0074 58.0078 67.1758 60.1368 67.1758 62.7539C67.1758 64.8137 65.8246 66.5533 63.9531 67.2086V70.6641H60.7305V67.2086C58.859 66.5533 57.5078 64.8137 57.5078 62.7539H60.7305C60.7305 63.6268 61.4528 64.3359 62.3418 64.3359C63.2308 64.3359 63.9531 63.6268 63.9531 62.7539C63.9531 61.881 63.2308 61.1719 62.3418 61.1719C59.6762 61.1719 57.5078 59.0429 57.5078 56.4258C57.5078 54.366 58.859 52.6264 60.7305 51.9711V48.5156H63.9531V51.9711C65.8246 52.6264 67.1758 54.366 67.1758 56.4258H63.9531C63.9531 55.5529 63.2308 54.8438 62.3418 54.8438C61.4528 54.8438 60.7305 55.5529 60.7305 56.4258C60.7305 57.2986 61.4528 58.0078 62.3418 58.0078Z" fill="white"/>
                    <path d="M43.0059 42.1875C52.9445 42.1875 60.7305 38.0177 60.7305 32.6953C60.7305 27.3729 52.9445 22.9922 43.0059 22.9922C33.0672 22.9922 25.0664 27.3729 25.0664 32.6953C25.0664 38.0177 33.0672 42.1875 43.0059 42.1875Z" fill="white"/>
                    <path d="M25.0664 58.5938V61.1715C25.0664 66.4939 33.0672 70.6637 43.0059 70.6637C43.5696 70.6637 44.1158 70.6128 44.6709 70.5861C43.4349 68.678 42.5131 66.5609 41.9703 64.2975C34.7833 64.1027 28.5428 61.9344 25.0664 58.5938Z" fill="white"/>
                    <path d="M41.472 61.0909C41.435 60.5933 41.3945 60.0963 41.3945 59.5895C41.3945 57.9403 41.6146 56.3441 41.99 54.8062C34.794 54.6147 28.5459 52.4452 25.0664 49.1016V51.6793C25.0664 56.7194 32.2918 60.6802 41.472 61.0909Z" fill="white"/>
                    <path d="M43.0059 51.6793C43.0076 51.6793 43.009 51.6791 43.0108 51.6791C44.0735 49.1854 45.6184 46.9374 47.5368 45.054C46.0816 45.2346 44.5777 45.3512 43.0059 45.3512C35.3556 45.3512 28.7108 43.1114 25.0664 39.6094V42.1871C25.0664 47.5095 33.0672 51.6793 43.0059 51.6793Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3736_21321">
                    <rect width="55" height="54" fill="white" transform="translate(25.0664 22.9922)"/>
                    </clipPath>
                    </defs>
                  </svg><br>
                  <h5 class="fz-18 fw-400 p-0 d-block">Includes Fixed-Price</h5>
                </div>
              </b-col>
              <b-col cols="6" class="p-0">
                <div class="bordered no-bottom-border">
                  <table class="table w-100">
                    <tr class="no-border border-top-0">
                      <td class="pt-4 pb-2 px-4">
                        <h5 class="fz-18 fw-600 no-border p-0">Total Price of Project</h5>
                        <p class="fz-16 fw-400 text-muted no-border p-0">This includes all milestones, and this is <br>
                        the amount your client will see.</p>
                      </td>
                      <td style="vertical-align:top;" class="pt-4 pb-2 px-4">
                        <p class="fz-16 fw-400 text-muted mb-0 no-border">$ <span id="total_amount">{{totalAmount}}</span></p>
                      </td>
                    </tr>
                    <tr class="no-border border-top-0">
                      <td class="pt-1 pb-2 px-4">
                        <h5 class="fz-18 fw-600 no-border mb-0 p-0">Qapin Service Fee</h5>
                        <a class="fz-12 fw-400 text-theme no-border mt-0 p-0" href="javascript:void(0);">Learn more about service fee</a>
                      </td>
                      <td style="vertical-align:top;" class="pt-1 pb-2 px-4">
                        <p class="fz-16 fw-400 text-muted mb-0 no-border" >${{serviceFee}}</p>
                      </td>
                    </tr>
                    <tr style="border-top: 1px solid #adb1b6!important;">
                      <td class="pt-1 pb-2 px-4">
                        <h5 class="fz-18 fw-600 no-border mb-0 p-0">You’ll Receive</h5>
                      </td>
                      <td style="vertical-align:top;" class="pt-1 pb-4 px-4">
                        <p class="fz-16 fw-600 text-muted mb-0 no-border">${{totalAmount-serviceFee}}</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
    <b-row class="mt-50 freelancer-wrap freelancer-job-detail" v-if="mileStoneStatus">
      <b-col>
        <b-card-group deck>
          <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white">
            <b-row>
              <b-col cols="12" class="py-4">
                <div class="p-4">
                  <h5 class="fw-500 fz-24 mb-4 text-black"><b>Cover Letter</b></h5>
                  <textarea
                    v-model="cover_letter"
                    id="textarea"
                    rows="0"
                    max-rows="8"
                    v-autogrow
                    class="block w-full px-4 py-2 border border-gray-400 focus:ring-indigo-500 focus:border-indigo-500 rounded-3xl sm:text-smc txta"
                  >
                  </textarea>
                  <div class="d-flex align-items-center justify-content-end mt-4">
                    <div>
                      <input id="fileUpload" hidden type="file" @change="UploadFile" accept=".png,.PNG,.jpeg,.JPEG,.jpg,.JPG,.mp4,.3gp,.3gpp,.mkv,.avi,.csv,.xls,.xlsx,.word,.doc,.docx,.pdf,.ppt,.pptx,.txt,.html,.htm" name="upload">
                      <button type="button" class="btn btn-outline-theme d-flex align-items-center" @click="chooseFiles()">
                        <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.8146 1.76691C14.5712 -0.471781 10.9208 -0.471781 8.67702 1.76691L1.70173 8.72731C0.0993369 10.3265 0.0994423 12.9284 1.70194 14.5275C2.50325 15.3271 3.55548 15.7269 4.60813 15.7268C5.6605 15.7267 6.71329 15.327 7.51447 14.5275L13.9083 8.1471C14.3741 7.68234 14.6307 7.06438 14.6307 6.4071C14.6307 5.74977 14.3743 5.13185 13.9084 4.66695C12.9468 3.70751 11.3822 3.70754 10.4208 4.66713L6.23949 8.83943C5.91848 9.15973 5.91848 9.67911 6.23942 9.99947C6.5604 10.3199 7.08088 10.3198 7.40193 9.99947L11.5833 5.82713C11.9038 5.50729 12.4252 5.50722 12.7458 5.82706C12.901 5.98198 12.9866 6.18798 12.9866 6.40706C12.9866 6.62614 12.9011 6.83207 12.7458 6.98706L6.35195 13.3674C5.39039 14.3268 3.82594 14.3269 2.86445 13.3675C1.90296 12.408 1.90289 10.8468 2.86427 9.88725L9.83953 2.92695C11.4422 1.32779 14.0497 1.32779 15.6521 2.92695C16.4284 3.70154 16.856 4.7315 16.856 5.82699C16.856 6.92248 16.4284 7.95243 15.6521 8.7271L8.67691 15.6876C8.35593 16.0079 8.35593 16.5273 8.67698 16.8477C8.8375 17.0079 9.04788 17.0879 9.25822 17.0879C9.46859 17.0879 9.67897 17.0078 9.83949 16.8477L16.8145 9.88718C17.9014 8.8027 18.5 7.36079 18.5 5.82702C18.5 4.2933 17.9014 2.85138 16.8146 1.76691Z" fill="#F2613C"/>
                        </svg>
                        <span class="ml-2">Attatch File</span>
                      </button><br>
                      <span class="fz-12 text-muted">Upload Project Files Max size : 100 MB</span>
                    </div>
                    <div class="ml-auto d-flex align-items-center" >
                      <button class="btn btn-theme mr-1" v-if="milestoneBtn" type="submit">Submit a Proposal</button>
                    </div>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
    </b-form>

  </div>
</template>
<script>
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import VueReadMoreSmooth from "vue-read-more-smooth";
let base_url = "http://qapin_mvp5.manageprojects.in/";
  export default {
    components: {
      VueReadMoreSmooth
    },
    mixins: [validationMixin],
    validations: {
      proposal:{
        description: { required },
      },
    },
    data: () => ({
      drawer: false,
      group: null,
      user_id:'',
      job_id:'',
      jobDetailsWithClientData:{
        jobDetails:'',
        clientJobsData : '',
        clientFullDetails : '',
        clientrating : '',
      },
      proposal:[
        {
          milstone_type: 1,
          description:'',
          acceptStatus: 0,
          dueDate:'',
          amount:'',
          job_id:'',
          user_id:'',
        }
      ],
      paidType:'one',
      paidTypeStatus: 'one',
      milstoneData:"",
      mileStoneStatus:true,
      milestoneBtn:true,
      cover_letter:'',
      attachment:'user.svg',
      file:'',
      amount:{
        totalAmounts : 0,
        serviceFee : 0,
        amountRecive : 0
      }
    }),
    computed:{
      // this fun is for to calculate total amount
      totalAmount(){
        let sum = parseInt(0)
        this.proposal.map((item) => {
          if(item["amount"]==""){
            return 0;
          }
          sum = parseInt(sum) + parseInt(item["amount"])
        });
        return sum;
      },
      // this fun is for to calculate total service fees
      serviceFee(){
        let sum = parseInt(0)
        sum = (this.totalAmount*20) / 100;
        return sum;
      },
      descriptionError() {
        const errors = []
        if (!this.$v.proposal.description.$dirty) return errors
        !this.$v.proposal.description.required && errors.push('Description is required')
        return errors
      },
      
    },
    methods:{
      isNumber(event) {
        if (!/\d/.test(event.key) && event.key !== '.') return event.preventDefault();
      },
      UploadFile(e){ 
        //var files = e.target.files;
       // files = this.$refs.file.files;
        var files=e.target.files[0];
        console.log('formData',files);
        console.log('formData',document.getElementById("fileUpload").value); 
        const formData = new FormData();
        formData.append('file', files);
        formData.append('user_id', this.user_id);
        formData.append('jobs_id', this.job_id);
        console.log('form',formData)
        axios.post(base_url+'api/milestone/uplaodData', formData, {"headers":this.headToken}).then((response)=>{
          console.log('response',response);
            // if(response.data.status ==  true){
            //   this.jobDetailsWithClientData.clientFullDetails =  response.data.result;
            // }else{
            //   this.jobDetailsWithClientData.clientFullDetails =  '';
            // }
          });
      },
      chooseFiles() {
          document.getElementById("fileUpload").click()
      },
      // this fun is for to submit proposal
      submitProposal(){
        var error = 0;
        if(this.cover_letter =="" ){
          error++;
        }
        for(var i=0; i < this.proposal.length; i++){
          if( this.proposal[i].description == '' && this.proposal[i].dueDate == ''  && this.proposal[i].amount == '' ){
            error++;
          }
        }
        // this.$v.proposal.$touch(); 
        //  if (this.$v.proposal.$invalid) {
        //    this.$toastr.e('Please select all ');
        //  }
        // this.$v.proposal.$touch();
        //   //this code is for checking form value
        //   if (!this.$v.proposal.$invalid) {
        //     console.log('if');
        //   }else{
        //     console.log('else');
        //   }
        // if(this.proposal[0].description !="" && ){
        //   console.log('if')
        // }else{
        //   console.log('else');
        // }
        if (error == 0) {
          var data = this.jobDetailsWithClientData.jobDetails;
          data.application_status = 1;
          data.cost = (document.getElementById('total_amount').textContent);
          data.cover_letter = this.cover_letter;
          data.attachment = this.attachment;

          var applyJobData = {
            "jobData": data
          };
          axios.post(base_url+'api/job/applyJob',applyJobData,{headers: this.headToken}).then((response)=>{
            if(response.data.status == true){
                var addupdateMilestone = {
                  "milestone" : this.proposal,
                };
                axios.post(base_url+'api/addUpdateMilestoneNew',addupdateMilestone,{headers: this.headToken}).then((response)=>{
                  if(response.data.status==true){
                    this.$toastr.s('Proposal successfull submit');
                    this.$router.push({
                      name: 'myProposals',
                      path:'/freelancer/my-proposals',
                      // query: {jobDetailsWithClientData: this.job_id}
                    });
                    
                  }else{
                    this.$toastr.e('Proposal submit Unsuccessfull');
                  }
                });
            }else{
              this.$toastr.e('Error Proposal submit Unsuccessfull');
            }
            
          });
        }else{
          this.$toastr.e('Please Fill All Inputs');
        }
      },
      // this fun is for select proposal type
      selectPaid(_v){
        this.milestoneBtn=true;
        this.paidTypeStatus = _v;
        if(_v == 'two'){
          this.proposal = [{ 
            milstone_type:0,
            description:'',
            acceptStatus: 0,
            dueDate:'',
            amount:'',
            job_id: this.job_id,
            user_id: this.user_id
           }];
        }else{
          this.proposal = [{ 
            milstone_type:1,
            description:'',
            acceptStatus: 0,
            dueDate:'',
            amount:'',
            job_id: this.job_id,
            user_id: this.user_id
           }];
        }
      },
      // this fun is for Add milestone
      addMilestone(){
        this.proposal.push(
          {
          milstone_type: 1,
          description:'',
          acceptStatus: 0,
          dueDate:'',
          amount:'',
          job_id: this.job_id,
          user_id: this.user_id
          }
        )
      },
      // this fun is for remove milestone
      removeMilestone(_i){
        this.proposal.splice(_i, 1);
      }
    },
    mounted() {
      var userdata = localStorage.getItem('loginUserData');
      userdata = JSON.parse(userdata);
      this.user_id = userdata.user_id;
      // this is header for api
      this.headToken= {"Authorization": localStorage.getItem('token')};

      // this is for get id from url
      var jobId = this.$route.query.jobDetailsWithClientData;
      this.job_id=jobId;

      this.proposal = [{ 
        milstone_type:1,
        description:'',
        acceptStatus: 0,
        dueDate:'',
        amount:'',
        job_id: this.job_id,
        user_id: this.user_id
      }];
      // this function is for get post details
      var apiData ={
        'jobsid':[jobId]
      };
      axios.post(base_url+'api/getJobDetail',apiData,{"headers":this.headToken}).then((response)=>{
        if(response.data.status == true){
          this.jobDetailsWithClientData.jobDetails =  response.data.result[0];

          // this function is for get Client jobs data
          var clientJobsapi = {
              "filter": "",
              "search": {},
              "user_id": this.jobDetailsWithClientData.jobDetails.user_id
          }
          axios.post(base_url+'api/getUserPostedJob',clientJobsapi,{'headers':this.headToken}).then((response)=>{
            if (response.data.status==true) {
              this.jobDetailsWithClientData.clientJobsData =  response.data.result;
            }else{
              this.jobDetailsWithClientData.clientJobsData =  [];
            }
          });

          // this function is for get Client details
          var clientDetailsapi = {
              "user_id": this.jobDetailsWithClientData.jobDetails.user_id
          }
          axios.post(base_url+'api/user/getUserDetails',clientDetailsapi,{headers: this.headToken}).then((response)=>{
            if(response.data.status ==  true){
              this.jobDetailsWithClientData.clientFullDetails =  response.data.result;
            }else{
              this.jobDetailsWithClientData.clientFullDetails =  '';
            }
          });

          // this function is for get client rating
          var clientRatingsapi = {
              "user_id": this.jobDetailsWithClientData.jobDetails.user_id
          }
          axios.post(base_url+'api/getUserReviewCal',clientRatingsapi,{headers: this.headToken}).then((response)=>{
            if(response.data.status ==  true){
              this.jobDetailsWithClientData.clientrating =  response.data.result;
            }else{
              this.jobDetailsWithClientData.clientrating =  '';
            }
          });
        }
      });

      // this fun is for to check milestone data
      var getmilestoneData = {
        "job_id":this.job_id,
        "user_id": this.user_id
      };
      axios.post(base_url+'api/getCreatedMilestone',getmilestoneData,{headers: this.headToken}).then((response)=>{
        if(response.data.status==true){
          this.milstoneData =response.data.result;
          this.mileStoneStatus = false;
        }else{
          this.milstoneData = "";
          this.mileStoneStatus = true;
        }
      })
    },
    
    watch: {
      group () {
        this.drawer = false
      },
    }
  }
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
  body{font-family: 'Source Sans Pro', sans-serif!important;}
  .text-muted{color:#979797!important;}
  .ralative {padding-bottom:0px;}
  .theme-bg{background-color: #FFF6F4!important;}
  .bg-none{background-color:transparent;}
  .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
  .br-20{border-radius: 20px;}
  .border-none{border:0px!important;}
  .search-bar input{border-right:0px!important;background: #FFFFFF;border-left: 1px solid #D3D3D3!important;border-top: 1px solid #D3D3D3!important;border-bottom: 1px solid #D3D3D3!important;border-radius: 6px;}
  .search-bar .input-group-text{border-left:0px!important;}
  .freelancer-wrap .nav-pills .nav-link.active, .nav-pills .show > .nav-link{background-color:#fff!important;color:#F2613B!important;font-weight:600;border-bottom: 3px solid #f2613b;border-radius: 0px;}
  .freelancer-wrap .nav-pills .badge{border-radius: 50%;padding: 8px 7px;background-color:#eee;color:#000;}
  .freelancer-wrap .nav-pills .nav-link{color:#999999;font-weight:600;}
  .freelancer-wrap .nav-pills .nav-link:hover{color:#F2613B!important;;font-weight:600;}
  .freelancer-wrap .nav-pills .nav-link.active .badge, .nav-pills .show > .nav-link .badge{background-color: #F2613B!important;border-radius: 50%;font-size: 10px!important;padding: 7px 6px;color:#fff!important;}
  .freelancer-wrap .post{margin-left:-32px;}
  .freelancer-wrap .post li{font-size:14px;}
  .freelancer-wrap .tags li{background: #FCFCFC;border: 1px solid #F2613C;border-radius: 100px;padding: 2px 15px;}
  .freelancer-wrap .job-card{border-bottom:1px solid #eee;padding-bottom:50px;margin-bottom:50px;}
  .freelancer-wrap .job-card:last-child{border-bottom:0px;}
  .freelancer-wrap .br-50{border-radius:50%!important;}
  .freelancer-wrap .btn-like{padding:10px!important;}
  .freelancer-wrap .btn-archive{padding:10px 13px!important;}
  .freelancer-wrap .action-btn{position: absolute;right: 25px;}
  .freelancer-wrap .fz-14{font-size:14px;}
  .freelancer-wrap .profile .img-holder{box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);border-radius: 10px;width:100px; height:100px;margin:0 auto;}
  .freelancer-wrap .profile .img-holder img{object-fit:scale-down;width:100%;height:100%;}
  .freelancer-wrap .profile span{position: absolute;background-color: #72e55f;width: 10px;height: 10px;border-radius: 50%;border: 1px solid #2dca14;right: -5px;top: 17px;}
  .freelancer-wrap .card{border-radius: 20px!important;}
  .freelancer-wrap .card-body{border-radius: 20px;}
  .freelancer-wrap .like-jobs .card{border-radius: 20px 20px 0 0!important;}
  .freelancer-wrap .like-jobs .card-header{border-radius: 20px 20px 0 0!important;}
  .freelancer-wrap .like-jobs .card-body{border-radius: 0 0 20px 20px !important;border:0px;}
  .freelancer-wrap .card-body{border-radius:0 0 20px 20px;}
  .freelancer-wrap .card-header{border-radius:20px 20px 0 0!important;}
  .freelancer-wrap .my-proposal ul{margin-left:-32px;}
  .freelancer-wrap a {text-decoration:none;}
  .fz-16{font-size:16px;}
  .fz-18{font-size:18px;}
  .fw-600{font-weight:600;}
  .available-span{background: #FCFCFC;border: 1px solid #F2613C;border-radius: 100px;padding: 6px 12px;color: #F2613C;font-size: 16px;}
  .freelancer-job-detail .card-body{padding: 0px 11px;}
  .last-child{border-radius:0 0 0 20px;}
  .mb-23{margin-bottom:23px;}
  .star-rating {display:flex;font-size:1.5em;justify-content:space-around;padding:0;text-align:center;width:6em;}
  .star-rating input {display:none;}
  .star-rating label {color:#D4D5CF;}
  .star-rating label.active {color:#FF8E3C;}
  .about-wrapper input ~ label:before{display:none;}
  .r-about{color:#979797;}
  .no-bottom-border{border-bottom:0px!important;}
  .similar-jobs{margin-left:-32px;}
  .border-top-0{border-top:0px!important;}
  .py-13{padding-top: 3.2rem;padding-bottom: 3.2rem;}
  .table .last-child {border-top: 1px solid #adb1b6!important;}
  .table > :not(:first-child) {border-top: 0px!important;}
  p {margin-top: 0!important;margin-bottom: 1rem!important;}
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
  dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
  ol, ul {padding-left: 2rem!important;}
  hr {margin: 1rem 0!important;}
  .fz-30{font-size:26px!important;}
  .inline-block{display:inline-block;}
  .inline-flex{display:inline-flex;}
</style>
