@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
.dropdown-menu.show{right:0!important;left:auto!important;}